<footer class="footer">
  <div class="footer__container">
    <div class="footer__left">
      <a class="footer__logo logo" href="#">
        <picture>
          <source type="image/avif" srcset="../images/logo-b.avif">
          <source type="image/webp" srcset="../images/logo-b.webp">
          <img class="logo__img" src="../images/logo-b.png" alt="логотип компании" loading="lazy">
        </picture>
      </a>
      <div class="footer__actions">
        <a class="footer__link" href="mailto:idea@arshin-tech.ru">
          idea@arshin-tech.ru
        </a>
        <a class="footer__link" href="tel:+78432532281">
          +7 (843) 253-22-81
        </a>
      </div>
      <a class="footer__politic" href="#">
        Политика конфиденциальности
      </a>
    </div>
    <div class="footer__right">
      <nav class="footer__menu menu">
        <ul class="menu__items">
          <li class="menu__item">
            <a class="menu__link" href="#">Услуги</a>
          </li>
          <li class="menu__item">
            <a class="menu__link" href="#">Схема работы</a>
          </li>
          <li class="menu__item">
            <a class="menu__link" href="#">Контакты</a>
          </li>
        </ul>
      </nav>
      <address class="footer__address">
        Казань, Бондаренко, 26, офис 5, цокольный этаж
      </address>
    </div>
  </div>
</footer>
</div>

<script src="js/script.min.js"></script>
</body>

</html>