.about {
  // .about__left-container
  &__left-container {
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    gap: clampAd(30, 50);

    @include mobile {
      grid-template-columns: 1fr;
      padding: 0 $containerPadding;
      margin: 0;
    }
  }
  // .about__content
  &__content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: clampAd(30, 50);
  }
  // .about__title
  &__title {
  }
  // .about__list
  &__list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    counter-reset: number;
  }
  // .about__point
  &__point {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 10px;

    padding-left: clampAd(50, 60);
    position: relative;

    &::before {
      content: counter(number);
      counter-increment: number;
      position: absolute;
      top: 0;
      left: 0;
      width: clampAd(30, 40);
      height: clampAd(30, 40);
      border: 1px solid currentColor;

      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;

      font-size: 16px;
      color: $color-light;
    }

    &:not(:last-child) {
      padding-bottom: clampAd(40, 55);

      &::after {
        content: "";
        position: absolute;
        top: clampAd(40, 50);
        bottom: 10px;
        left: clampAd(15, 20);
        width: 1px;
        background: currentColor;
      }
    }
  }
  // .about__name
  &__name {
    font-weight: 300;
    font-size: clampAd(16, 24);
  }
  // .about__text
  &__text {
  }
  // .about__image
  &__image {
  }
  // .about__img
  &__img {
    display: block;
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
}
