.about {
  // .about__left-container
  &__left-container {
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    gap: clampAd(30, 50);
  }
  // .about__content
  &__content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: clampAd(30, 50);
  }
  // .about__title
  &__title {
  }
  // .about__list
  &__list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 55px;

    counter-reset: number;
  }
  // .about__point
  &__point {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 10px;

    padding-left: 60px;
    position: relative;

    &::before {
      content: counter(number);
      counter-increment: number;
      position: absolute;
      top: 0;
      left: 0;
      width: 40px;
      height: 40px;
      border: 2px solid currentColor;

      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;

      font-size: 16px;
      color: $color-light;
    }
  }
  // .about__name
  &__name {
    font-weight: 300;
    font-size: clampAd(16, 24);
  }
  // .about__text
  &__text {
  }
  // .about__image
  &__image {
    height: 100%;
  }
  // .about__img
  &__img {
    display: block;
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
}
