.about {
  // .about__container
  &__container {
  }
  // .about__content
  &__content {
  }
  // .about__title
  &__title {
  }
  // .about__list
  &__list {
  }
  // .about__point
  &__point {
  }
  // .about__name
  &__name {
  }
  // .about__text
  &__text {
  }
  // .about__image
  &__image {
  }
  // .about__img
  &__img {
  }
}
