.footer {
  // .footer__container
  &__container {
  }
  // .footer__inner
  &__inner {
  }
  // .footer__content
  &__content {
  }
  // .footer__logo
  &__logo {
  }
  // .footer__copy
  &__copy {
  }
  // .footer__nav
  &__nav {
  }
  // .footer__items
  &__items {
  }
  // .footer__item
  &__item {
  }
  // .footer__list
  &__list {
  }
  // .footer__point
  &__point {
  }
  // .footer__link
  &__link {
  }
  // .footer__action
  &__action {
    // .footer__action--mail
    &--mail {
    }
    // .footer__action--instagram
    &--instagram {
    }
    // .footer__action--facebook
    &--facebook {
    }
    // .footer__action--tg
    &--tg {
    }
    // .footer__action--pinterest
    &--pinterest {
    }
  }
  // .footer__address
  &__address {
  }
  // .footer__work
  &__work {
  }
}
