.gallery {
  // .gallery__container
  &__container {
  }
  // .gallery__inner
  &__inner {
  }
  // .gallery__media
  &__media {
  }
  // .gallery__photo
  &__photo {
  }
  // .gallery__content
  &__content {
  }
  // .gallery__title
  &__title {
  }
  // .gallery__text
  &__text {
  }
  // .gallery__form
  &__form {
  }
  // .gallery__items
  &__items {
  }
  // .gallery__item
  &__item {
  }
  // .gallery__image
  &__image {
  }
  // .gallery__img
  &__img {
  }
}
