.gallery {
  // .gallery__container
  &__container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: clampAd(30, 60);
  }
  // .gallery__title
  &__title {
    max-width: 470px;
    width: 100%;
  }
  // .gallery__inner
  &__inner {
    display: flex;
    align-items: center;
    gap: 30px clampAd(30, 50);
    margin-bottom: clampAd(20, 90);
  }
  // .gallery__media
  &__media {
    max-width: 820px;
    width: 100%;

    @include mobile {
      display: none;
    }
  }
  // .gallery__photo
  &__photo {
    display: block;
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
  // .gallery__content
  &__content {
    max-width: 560px;
    width: 100%;

    line-height: 1.1;

    @include mobile {
      max-width: 100%;
    }
  }
  // .gallery__name
  &__name {
    font-weight: 300;
    font-size: clampAd(16, 28);
    text-transform: uppercase;
    margin-bottom: 20px;
  }
  // .gallery__text
  &__text {
    font-weight: 300;
    font-size: clampAd(14, 18);
    text-transform: uppercase;
    margin-bottom: clampAd(30, 50);
  }
  // .gallery__form
  &__form {
  }
  // .gallery__items
  &__items {
    align-self: stretch;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(clampAd(130, 415), 1fr));
    grid-auto-flow: dense;
    gap: 20px;
  }
  // .gallery__item
  &__item {
  }
  // .gallery__image
  &__image {
  }
  // .gallery__img
  &__img {
    display: block;
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
}
