.request {
  // .request__container
  &__container {
  }
  // .request__content
  &__content {
  }
  // .request__title
  &__title {
  }
  // .request__form
  &__form {
  }
  // .request__input
  &__input {
  }
  // .request__btn
  &__btn {
  }
}
