.request {
  min-height: clampAd(300, 730);
  background: image-set(
      url("../images/main/request/bg.avif") type("image/avif"),
      url("../images/main/request/bg@2x.avif") 2x type("image/avif"),
      url("../images/main/request/bg.webp") type("image/webp"),
      url("../images/main/request/bg@2x.webp") 2x type("image/webp"),
      url("../images/main/request/bg.jpg"),
      url("../images/main/request/bg@2x.jpg") 2x
    )
    center/cover no-repeat;

  // .request__container
  &__container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  // .request__content
  &__content {
    display: flex;
    flex-direction: column;
    row-gap: clampAd(30, 55);

    max-width: 1000px;
    width: 100%;

    padding: clampAd(30, 70) clampAd(20, 120);
    background: rgba($color-bg-dark, 0.85);
    backdrop-filter: blur(5px);
  }
  // .request__title
  &__title {
    max-width: 660px;
    width: 100%;
  }
  // .request__form
  &__form {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr auto;
    row-gap: 30px;

    @include big-mobile {
      grid-template-columns: auto;
    }
  }
  // .request__input
  &__input {
    background: $color-border;
    padding: clampAd(10, 17) clampAd(20, 35);

    color: $color-dark;

    &::placeholder {
      font-family: "Roboto", sans-serif;
      font-weight: 100;
      font-size: clampAd(14, 18);
      color: $color-dark;
    }
  }
  // .request__btn
  &__btn {
    margin: 0 auto;
  }
}
