.services {
  // .services__container
  &__container {
  }
  // .services__title
  &__title {
  }
  // .services__items
  &__items {
  }
  // .services__item
  &__item {
  }
  // .services__name
  &__name {
  }
  // .services__text
  &__text {
  }
}
