.slider {
  // .slider__items
  &__items {
  }
  // .slider__item
  &__item {
  }
  // .slider__ibg
  &__ibg {
  }
  // .slider__img
  &__img {
  }
  // .slider__name
  &__name {
  }
  // .slider__descr
  &__descr {
  }
  // .slider__text
  &__text {
  }
  // .slider__btn
  &__btn {
  }
  // .slider__actions
  &__actions {
  }
  // .slider__button
  &__button {
  }
  // .slider__icon
  &__icon {
  }
}
