.form {
  width: 100%;
  padding: 50px;
  border: 1px solid $color-light-6;
  border-radius: $radius-l;
  background: $color-white;

  display: flex;
  flex-direction: column;
  row-gap: clampAd(32, 45);

  @include mobile {
    padding: 0;
    border: none;
    border-radius: 0;
  }

  @include small-mobile {
    row-gap: 20px;
  }

  // .form__name
  &__name {
    line-height: 1.375;
    text-align: center;
    color: $color-dark-4;
  }
  // .form__item
  &__item {
  }
  // .form__input
  // .form__textarea
  &__input,
  &__textarea {
    width: 100%;
    border: 1px solid $color-light-17;
    border-radius: $radius-xxl;
    padding: 20px;
    background: $color-light-14;

    &::placeholder {
      @include Poppins400;
      font-size: 16px;
      line-height: 1;
      letter-spacing: 0.01em;
      color: $color-dark-1;
      text-transform: capitalize;

      @include small-mobile {
        font-size: 12px;
      }
    }

    @include small-mobile {
      padding: 10px;
    }
  }

  // .form__textarea
  &__textarea {
    border-radius: 0;
    resize: none;
    min-height: 193px;

    &.auto {
      overflow-y: hidden;
    }

    @include small-mobile {
      min-height: 100px;
    }
  }

  // .form__btn
  &__btn {
    min-width: 145px;
    align-self: flex-start;
    border-radius: $radius-l;
  }
}
