.raiting {
  display: inline-flex;
  align-items: center;
  gap: 3px;

  // .raiting__item
  &__item {
    width: 18px;
    height: 18px;

    svg {
      width: 100%;
      height: 100%;
      fill: transparent;
      stroke: $color-multi-6;
    }

    &--active {
      svg {
        fill: $color-multi-6;
      }
    }

    @include small-mobile {
      width: 15px;
      height: 15px;
    }
  }
}
