.soc1als {
  display: flex;
  align-items: center;
  gap: 16px;

  // .soc1als__item
  &__item {
    flex: 0 0 40px;
    aspect-ratio: 1/1;
    border-radius: $radius-circle;
    background: $color-light-9;

    display: flex;
    justify-content: center;
    align-items: center;

    @include small-mobile {
      flex-basis: 32px;
    }
  }
  // .soc1als__link
  &__link {
    flex: 0 0 24px;
    aspect-ratio: 1/1;
    transition: $transition;

    @media (any-hover: hover) {
      &:hover {
        transform: scale(1.2);
      }
    }

    @include small-mobile {
      flex-basis: 16px;
    }
  }
}
