.theme {
  width: 30px;
  height: 30px;
  border-radius: $radius-circle;
  background: $color-light-1;

  display: flex;
  justify-content: center;
  align-items: center;

  label {
    flex: 0 0 24px;
    aspect-ratio: 1/1;
  }
  input {
    display: none;
  }
}
