.author {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: clampAd(20, 30);
  // .author__image
  &__image {
    width: clampAd(50, 98);
    height: clampAd(50, 98);
    border-radius: $radius-small;
    overflow: hidden;
  }
  // .author__img
  &__img {
    display: block;
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
  // .author__content
  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    row-gap: 5px;

    color: $black;
  }
  // .author__name
  &__name {
    font-weight: 500;
    font-size: clampAd(14, 20);
    line-height: calc(26 / 20);
    text-align: center;
  }
  // .author__work
  &__work {
  }
}
