.testimonials {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: $color-gradient-2;
    filter: blur(75px);
    transform: rotate(-180deg);
  }

  // .testimonials__container
  &__container {
    position: relative;
    z-index: 1;
  }
  // .testimonials__top
  &__top {
    margin-bottom: clampAd(20, 25);
  }
  // .testimonials__slider
  &__slider {
  }
  // .testimonials__items
  &__items {
    width: 100%;
  }
  // .testimonials__item
  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: clampAd(30, 50);
  }
  // .testimonials__text
  &__text {
    max-width: 570px;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: clampAd(10, 20);

    &::before {
      --sizeIcon: #{clampAd(26, 43)};

      content: "";
      width: var(--sizeIcon);
      height: var(--sizeIcon);
      background: url(../../images/icons/quote.svg) center/cover no-repeat;
    }
  }
  // .testimonials__author
  &__author {
  }
  // .testimonials__pagination
  &__pagination {
    margin-top: 50px;

    display: flex;
  }
}
