.call {
  // .call__container
  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: clampAd(22, 54);

    margin-bottom: clampAd(40, 60);
  }
  // .call__title
  &__title {
  }
  // .call__form
  &__form {
    max-width: 560px;
  }
}
