.registration {
  background: $color-gradient;

  // .registration__container
  &__container {
    min-height: clampAd(460, 708);
    padding-bottom: 20px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;

    position: relative;
  }
  // .registration__content
  &__content {
    // margin-left: 7vw;
    margin-left: clampAd(0, 134);
    flex: 0 0 425px;
    padding: clampAd(42, 58) clampAd(35, 48);
    box-shadow: 0 0 8px 2px rgba(108, 108, 108, 0.25);
    background: $white;
    border-radius: clampAd(10, 20);
  }
  // .registration__title
  &__title {
    margin-bottom: clampAd(20, 30);
  }
  // .registration__form
  &__form {
  }
  // .registration__image
  &__image {
    max-width: clampAd(200, 563);
    max-height: 100%;

    position: absolute;
    right: 0;
    bottom: 0;

    &::before {
      content: "";
      position: absolute;
      top: 54%;
      left: 61%;
      transform: translate(-50%, -50%);
      width: clampAd(131, 218);
      height: clampAd(13, 22);
      border-radius: 100%;
      background: $white;
      box-shadow: 0 4px 133px 239px rgba($white, 0.1);
      z-index: 1;
    }
  }
  // .registration__img
  &__img {
    display: block;
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: center;
    position: relative;
    z-index: 2;
  }
}
