@charset "UTF-8";

/*
@include family_name;
*/

@font-face {
  font-family: "name";
  src: url("../../fonts/name.woff2") format("woff2"), url("../../fonts/name.woff") format("woff");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

/*
@include family_name;
*/

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  scrollbar-gutter: stable;
}

li {
  list-style: none;
}

a {
  display: inline-block;
  color: inherit;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

button {
  padding: 0;
  margin: 0;
  color: inherit;
  font-size: inherit;
  font-family: inherit;
  font-weight: inherit;
  border: none;
  background: transparent;
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

img,
video,
picture {
  display: block;
  max-width: 100%;
  height: auto;
}

input,
textarea {
  cursor: pointer;
  font-size: inherit;
  font-family: inherit;
  font-weight: inherit;
  color: inherit;
}

input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
  display: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input::-webkit-calendar-picker-indicator {
  display: none;
}

label {
  cursor: pointer;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 0;
}

html {
  scroll-behavior: smooth;
  height: -webkit-fill-available;
}

body {
  min-width: 320px;
  line-height: 1;
  font-family: "Roboto";
}

.wrapper {
  position: relative;
  min-height: 100vh;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: -webkit-fill-available;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #ffffff;
  color: #000000;
  font-size: clamp(12px, 12px + 4 * (100vw - 320px) / 1600, 16px);
  line-height: 1.5;
  font-weight: 400;
}

body.lock {
  overflow: hidden;
}

.main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.main__section {
  margin-bottom: clamp(50px, 50px + 50 * (100vw - 320px) / 1600, 100px);
}

.main__section-background {
  background: #000000;
  color: #ffffff;
}

[class*=__container] {
  max-width: calc(1170px + 2 * 15px);
  margin: 0 auto;
  padding: 0 15px;
}

[class*=__left-container] {
  padding-left: calc((100vw - 1170px) / 2);
  margin-left: 15px;
}

[class*=__right-container] {
  padding-right: calc((100vw - 1170px) / 2);
  margin-right: 15px;
}

[class*=__burger] {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 4px;
  cursor: pointer;
}

[class*=__burger] span {
  width: 24px;
  height: 3px;
  border-radius: 5px;
  background: #000000;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

[class*=__burger].header__burger--active span:nth-child(1) {
  opacity: 0;
}

[class*=__burger].header__burger--active span:nth-child(2) {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

[class*=__burger].header__burger--active span:nth-child(3) {
  -webkit-transform: rotate(-45deg) translateY(-5px) translateX(5px);
      -ms-transform: rotate(-45deg) translateY(-5px) translateX(5px);
          transform: rotate(-45deg) translateY(-5px) translateX(5px);
}

.hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  bottom: 0 !important;
  padding: 0 !important;
  white-space: nowrap !important;
  clip-path: inset(100%) !important;
  clip: rect(0 0 0 0) !important;
  overflow: hidden !important;
}

.none {
  display: none;
}

.text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 15px;
}

.logo {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100px;
          flex: 0 0 100px;
}

.logo img {
  display: block;
  max-width: 100%;
  max-height: 100%;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.menu__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px clamp(20px, 20px + 20 * (100vw - 320px) / 1600, 40px);
}

.menu__item--desctop {
  display: block;
}

.menu__item--mobile {
  display: none;
}

.menu__link {
  white-space: nowrap;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.menu__link--active {
  cursor: default;
}

/*
Вложенное меню

.menu {
  // .menu__items
  &__items {
    padding-top: 50px;
    display: flex;
    justify-content: center;
    column-gap: 40px;
  }
  // .menu__item
  &__item {
    position: relative;

    @media (any-hover: hover) and (min-width: 992px) {
      &:hover {
        & > .submenu__items {
          transform: translateX(0) rotate(0deg);
          visibility: visible;
          opacity: 1;
          background: $color-white;
        }
        .menu__arrow {
          transform: translateY(-50%) rotate(180deg);
        }
      }
    }
  }
  // .menu__link
  &__link {
    font-size: 20px;
    white-space: nowrap;
    transition: all 0.3s linear;

    &--arrow {
      padding-right: 20px;
    }
  }
  // .menu__arrow
  &__arrow {
    top: 50%;
    transform: translateY(-50%);
    position: relative;
    z-index: 3;
  }
}

*/

.btn {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  white-space: nowrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.button {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  white-space: nowrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.link {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  white-space: nowrap;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.header__burger {
  position: relative;
  z-index: 4;
}

@media (max-width: 767px) {
  .menu {
    position: fixed;
    z-index: 3;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100%;
    height: 100%;
    -webkit-transition: all 0.4s linear;
    transition: all 0.4s linear;
    -webkit-transform: translateY(-100%);
        -ms-transform: translateY(-100%);
            transform: translateY(-100%);
    overflow: auto;
    overflow-x: hidden;
    background: #000000;
  }

  .menu.menu--active {
    -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
            transform: translateY(0);
  }

  .menu__items {
    padding: 100px 0;
    min-height: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .menu__item--desctop {
    display: none;
  }

  .menu__item--mobile {
    display: block;
  }

  .menu__link {
    color: #ffffff;
    font-size: 24px;
  }

  .header__burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media (any-hover: hover) {
  .menu__link:hover:not(.menu__link--active) {
    color: #ff0000;
  }
}