@font-face {
  font-family: "Red Hat Display";
  src:
    url("../../fonts/RedHatDisplay-Regular.woff2") format("woff2"),
    url("../../fonts/RedHatDisplay-Regular.woff") format("woff");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "Red Hat Display";
  src:
    url("../../fonts/RedHatDisplay-Medium.woff2") format("woff2"),
    url("../../fonts/RedHatDisplay-Medium.woff") format("woff");
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: "Red Hat Display";
  src:
    url("../../fonts/RedHatDisplay-Bold.woff2") format("woff2"),
    url("../../fonts/RedHatDisplay-Bold.woff") format("woff");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}
