@mixin w_1440_rem {
  @media (max-width: rem(1440.98)) {
    @content;
  }
}

@mixin w_991_rem {
  @media (max-width: rem(991.98)) {
    @content;
  }
}

@mixin w_767_rem {
  @media (max-width: rem(767.98)) {
    @content;
  }
}

@mixin w_575_rem {
  @media (max-width: rem(575.98)) {
    @content;
  }
}

@mixin w_479_rem {
  @media (max-width: rem(479.98)) {
    @content;
  }
}

@mixin w_349_rem {
  @media (max-width: rem(349.98)) {
    @content;
  }
}

@mixin w_1440 {
  @media (max-width: 1440.98px) {
    @content;
  }
}

@mixin w_991 {
  @media (max-width: 991.98px) {
    @content;
  }
}

@mixin w_767 {
  @media (max-width: 767.98px) {
    @content;
  }
}

@mixin w_575 {
  @media (max-width: 575.98px) {
    @content;
  }
}

@mixin w_479 {
  @media (max-width: 479.98px) {
    @content;
  }
}

@mixin w_349 {
  @media (max-width: 349.98px) {
    @content;
  }
}

@function rem($px) {
  $result: math.div($px, 16) + rem;
  @return $result;
}

@function em($px, $current: 16) {
  $result: math.div($px, $current) + em;
  @return $result;
}

@function percent($px, $current) {
  $result: math.div($px, $current) * 100%;
  @return $result;
}

@function clampAd($min, $max) {
  $minPx: $min + px;
  $maxPx: $max + px;

  $result: clamp(
    $minPx,
    calc($minPx + ($max - $min) * ((100vw - $widthReportMinPx) / ($widthReportMax - $widthReportMin))),
    $maxPx
  );

  @return $result;
}

@function clampAdRem($min, $max) {
  $minRem: rem($min);
  $maxRem: rem($max);

  $result: clamp(
    $minRem,
    calc($minRem + ($max - $min) * ((100vw - $widthReportMinPx) / ($widthReportMax - $widthReportMin))),
    $maxRem
  );

  @return $result;
}

@mixin family_name {
  font-family: "шрифт", sans-serif;
  font-weight: 400;
}

/*
@include family_name;
*/
