@import "components/mixin";

//Страница
$widthReportMax: 1440;
$widthReportMin: 320;
$widthReportMinPx: $widthReportMin + px;

// Контейнер
$widthContainer: 1110px;
$containerPadding: 15px;
$maxWidthContainer: calc($widthContainer + (2 * $containerPadding));

// Доп цвета
$white: #ffffff;
$black: #000000;

$color-accent: #8643dc;
$color-dark: #25202f;
$color-text: #47444e;

$color-menu: #7e7f86;
$color-dop: #666666;
$color-border: #dad2e3;
$color-placeholder: #a8a0b0;

$color-gradient-1: linear-gradient(180deg, rgba(187, 133, 255, 0.2) 0%, rgba(255, 177, 222, 0.2) 100%);
$color-gradient-2: linear-gradient(180deg, rgba(203, 163, 255, 0.2) 0%, rgba(197, 255, 176, 0.2) 100%);
$color-gradient-3: linear-gradient(180deg, rgba(187, 133, 255, 0.2) 0%, rgba(255, 244, 251, 0.2) 100%);

// Радиусы
$radius-circle: 50%;
$radius: 100px;
$radius-small: 10px;

// Тени
$shadow-burger: 0px 20px 50px rgba(198, 185, 233, 0.3);

//Фон
$mainBackGround: $white;

//Шрифт
$fontFamily: "Red Hat Display", sans-serif;
$mainColor: $color-dark;
$mainSize: 16;
$size: $mainSize + px;
$fontWeight: 400;
$lineheight: calc(32 / $mainSize);
