@charset "UTF-8";

@font-face {
  font-family: "BaiJamjuree";
  src: url("../../fonts/BaiJamjuree-Medium.woff2") format("woff2"), url("../../fonts/BaiJamjuree-Medium.woff") format("woff");
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: "BaiJamjuree";
  src: url("../../fonts/BaiJamjuree-SemiBold.woff2") format("woff2"), url("../../fonts/BaiJamjuree-SemiBold.woff") format("woff");
  font-style: normal;
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: "BaiJamjuree";
  src: url("../../fonts/BaiJamjuree-Bold.woff2") format("woff2"), url("../../fonts/BaiJamjuree-Bold.woff") format("woff");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "BakbakOne";
  src: url("../../fonts/BakbakOne-Regular.woff2") format("woff2"), url("../../fonts/BakbakOne-Regular.woff") format("woff");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  display: inline-block;
  color: inherit;
}

/*
a:focus {
    text-shadow: 0 0 1px #000000;
}
*/

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

button {
  padding: 0;
  margin: 0;
  color: inherit;
  font-size: inherit;
  font-family: inherit;
  font-weight: inherit;
  border: none;
  background: transparent;
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

/*
img {
  vertical-align: top;
}
*/

img {
  display: block;
}

html,
body {
  height: 100%;
}

input,
textarea {
  cursor: pointer;
  font-size: inherit;
  font-family: inherit;
  font-weight: inherit;
  color: inherit;
}

input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
  display: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input::-webkit-calendar-picker-indicator {
  display: none;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 0;
}

html {
  font-size: 16px;
  /* по умолчанию */
  scroll-behavior: smooth;
  height: -webkit-fill-available;
}

body {
  min-width: 320px;
  line-height: 1;
  font-family: "Roboto";
  background: #f5f5f5;
}

.wrapper {
  position: relative;
  min-height: 100vh;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: -webkit-fill-available;
}

[class*=__container] {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

[class*=__burger] {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 4px;
  cursor: pointer;
}

[class*=__burger] span {
  width: 30px;
  height: 3px;
  border-radius: 23px;
  background: #1da1f2;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

[class*=__burger].header__burger--active span:nth-child(1) {
  display: none;
}

[class*=__burger].header__burger--active span:nth-child(2) {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

[class*=__burger].header__burger--active span:nth-child(3) {
  -webkit-transform: rotate(-45deg) translateY(-5px) translateX(5px);
      -ms-transform: rotate(-45deg) translateY(-5px) translateX(5px);
          transform: rotate(-45deg) translateY(-5px) translateX(5px);
}

body {
  font-family: "BaiJamjuree", sans-serif;
  background-color: #ffffff;
  color: #444444;
  font-size: clamp(12px, 12px + 4 * (100vw - 320px) / 1600, 16px);
  line-height: 1.875;
  font-weight: 500;
}

body.lock {
  overflow: hidden;
}

.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.up {
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.logo {
  max-width: 211px;
  max-height: 60px;
}

.logo__img {
  display: block;
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.menu__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px clamp(15px, 15px + 20 * (100vw - 320px) / 1600, 35px);
}

.menu__item--mobile {
  display: none;
}

.menu__link {
  font-family: "BaiJamjuree", sans-serif;
  font-weight: 600;
  color: #111111;
  white-space: nowrap;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.menu__link--active {
  color: #1da1f2;
  cursor: default;
}

.btn {
  font-family: "BaiJamjuree", sans-serif;
  font-weight: 700;
  font-size: 15px;
  text-align: center;
  color: #ffffff;
  padding: clamp(10px, 10px + 4 * (100vw - 320px) / 1600, 14px) clamp(10px, 10px + 7 * (100vw - 320px) / 1600, 17px);
  background: #1da1f2;
  border-radius: 50px;
  border: 1px solid transparent;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.btn--radius {
  border-radius: 23px;
}

.btn--color1 {
  background: #f3ba2f;
}

.btn--color2 {
  background: #ffffff;
  color: #111111;
}

.btn--reverse {
  border-color: currentColor;
  background: transparent;
  color: #ffffff;
}

.btn--big {
  min-width: clamp(150px, 150px + 50 * (100vw - 320px) / 1600, 200px);
}

.btn--medium {
  min-width: clamp(120px, 120px + 50 * (100vw - 320px) / 1600, 170px);
}

.btn--small {
  padding: 8px clamp(15px, 15px + 10 * (100vw - 320px) / 1600, 25px);
}

.title {
  font-family: "BakbakOne", sans-serif;
  font-weight: 400;
  font-size: clamp(20px, 20px + 20 * (100vw - 320px) / 1600, 40px);
  line-height: 1.5;
  text-transform: uppercase;
  color: #111111;
}

.title span {
  display: block;
}

.title--center {
  text-align: center;
}

.socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: clamp(15px, 15px + 5 * (100vw - 320px) / 1600, 20px);
}

.socials__link {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.08);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.socials__link svg {
  fill: #111111;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.accardeon {
  width: 100%;
}

.accardeon__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 10px;
}

.accardeon__item {
  padding: clamp(10px, 10px + 10 * (100vw - 320px) / 1600, 20px) 0;
  border-bottom: 1px dashed rgba(0, 0, 0, 0.2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 0px;
  position: relative;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.accardeon__item:first-child {
  border-top: 1px dashed rgba(0, 0, 0, 0.2);
}

.accardeon__item::before,
.accardeon__item::after {
  content: "";
  position: absolute;
  top: clamp(14px, 14px + 12 * (100vw - 320px) / 1600, 26px);
  right: 0;
  width: clamp(14px, 14px + 4 * (100vw - 320px) / 1600, 18px);
  height: 2px;
  background: rgba(0, 0, 0, 0.2);
  pointer-events: none;
}

.accardeon__item::before {
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}

.accardeon__item--active {
  row-gap: clamp(12px, 12px + 4 * (100vw - 320px) / 1600, 16px);
}

.accardeon__item--active::before {
  display: none;
}

.accardeon__item--active::after {
  background: #1da1f2;
}

.accardeon__name {
  padding-right: 20px;
  font-family: "BakbakOne", sans-serif;
  font-weight: 400;
  font-size: clamp(14px, 14px + 8 * (100vw - 320px) / 1600, 22px);
  line-height: 1.3;
  color: #111111;
  text-align: left;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.accardeon__text {
  opacity: 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.accardeon__text--active {
  opacity: 1;
}

.header {
  padding: 12px 0;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: clamp(15px, 15px + 8 * (100vw - 320px) / 1600, 23px);
}

.header__logo {
  position: relative;
  z-index: 4;
}

.header__actions {
  margin-left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: clamp(15px, 15px + 15 * (100vw - 320px) / 1600, 30px);
  position: relative;
  z-index: 4;
}

.header__burger {
  position: relative;
  z-index: 4;
}

.intro {
  position: relative;
  z-index: 2;
  background: -webkit-image-set(url("../images/main/intro/bg.avif") type("image/avif"), url("../images/main/intro/bg_2x.avif") 2x type("image/avif"), url("../images/main/intro/bg.webp") type("image/webp"), url("../images/main/intro/bg_2x.webp") 2x type("image/webp"), url("../images/main/intro/bg.jpg"), url("../images/main/intro/bg_2x.jpg") 2x) right 90% center/cover no-repeat;
  background: image-set(url("../images/main/intro/bg.avif") type("image/avif"), url("../images/main/intro/bg_2x.avif") 2x type("image/avif"), url("../images/main/intro/bg.webp") type("image/webp"), url("../images/main/intro/bg_2x.webp") 2x type("image/webp"), url("../images/main/intro/bg.jpg"), url("../images/main/intro/bg_2x.jpg") 2x) right 90% center/cover no-repeat;
  color: #ffffff;
}

.intro__container {
  margin-bottom: clamp(60px, 60px + 71 * (100vw - 320px) / 1600, 131px);
}

.intro__content {
  padding: clamp(50px, 50px + 100 * (100vw - 320px) / 1600, 150px) 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: clamp(20px, 20px + 5 * (100vw - 320px) / 1600, 25px);
}

.intro__title {
  max-width: clamp(290px, 290px + 220 * (100vw - 320px) / 1600, 510px);
  font-family: "BakbakOne", sans-serif;
  font-weight: 400;
  font-size: clamp(31px, 31px + 29 * (100vw - 320px) / 1600, 60px);
  line-height: 1.16;
  text-transform: uppercase;
  position: relative;
}

.intro__title::before {
  content: "";
  position: absolute;
  top: -38px;
  left: -68px;
  width: clamp(52px, 52px + 30 * (100vw - 320px) / 1600, 82px);
  height: clamp(120px, 120px + 30 * (100vw - 320px) / 1600, 150px);
  background: -webkit-image-set(url("../images/main/intro/decor.avif") type("image/avif"), url("../images/main/intro/decor_2x.avif") 2x type("image/avif"), url("../images/main/intro/decor.webp") type("image/webp"), url("../images/main/intro/decor_2x.webp") 2x type("image/webp"), url("../images/main/intro/decor.png"), url("../images/main/intro/decor_2x.png") 2x) center/cover no-repeat;
  background: image-set(url("../images/main/intro/decor.avif") type("image/avif"), url("../images/main/intro/decor_2x.avif") 2x type("image/avif"), url("../images/main/intro/decor.webp") type("image/webp"), url("../images/main/intro/decor_2x.webp") 2x type("image/webp"), url("../images/main/intro/decor.png"), url("../images/main/intro/decor_2x.png") 2x) center/cover no-repeat;
}

.intro__text {
  max-width: clamp(290px, 290px + 190 * (100vw - 320px) / 1600, 480px);
  font-size: clamp(14px, 14px + 4 * (100vw - 320px) / 1600, 18px);
  line-height: 1.66;
  margin-bottom: clamp(10px, 10px + 7 * (100vw - 320px) / 1600, 17px);
}

.intro__actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 20px;
}

.about__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 40px clamp(20px, 20px + 30 * (100vw - 320px) / 1600, 50px);
  margin-bottom: clamp(45px, 45px + 45 * (100vw - 320px) / 1600, 90px);
  position: relative;
}

.about__container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: translateY(-39%);
      -ms-transform: translateY(-39%);
          transform: translateY(-39%);
  width: 321px;
  height: 321px;
  border-radius: 50%;
  background: rgba(29, 161, 242, 0.5);
  -webkit-filter: blur(200px);
          filter: blur(200px);
}

.about__container::after {
  content: "";
  position: absolute;
  top: 0;
  left: 95%;
  -webkit-transform: translateY(-39%);
      -ms-transform: translateY(-39%);
          transform: translateY(-39%);
  width: 321px;
  height: 321px;
  border-radius: 50%;
  background: rgba(29, 161, 242, 0.5);
  -webkit-filter: blur(200px);
          filter: blur(200px);
}

.about__image {
  max-width: 451px;
}

.about__img {
  display: block;
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.about__content {
  max-width: clamp(290px, 290px + 280 * (100vw - 320px) / 1600, 570px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: clamp(15px, 15px + 12 * (100vw - 320px) / 1600, 27px);
}

.about__title span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: clamp(5px, 5px + 10 * (100vw - 320px) / 1600, 15px);
     -moz-column-gap: clamp(5px, 5px + 10 * (100vw - 320px) / 1600, 15px);
          column-gap: clamp(5px, 5px + 10 * (100vw - 320px) / 1600, 15px);
}

.about__title span::after {
  content: "";
  width: clamp(20px, 20px + 20 * (100vw - 320px) / 1600, 40px);
  height: clamp(27px, 27px + 20 * (100vw - 320px) / 1600, 47px);
  background: -webkit-image-set(url("../images/main/about/chicken-head.avif") type("image/avif"), url("../images/main/about/chicken-head.webp") type("image/webp"), url("../images/main/about/chicken-head.png")) center/cover no-repeat;
  background: image-set(url("../images/main/about/chicken-head.avif") type("image/avif"), url("../images/main/about/chicken-head.webp") type("image/webp"), url("../images/main/about/chicken-head.png")) center/cover no-repeat;
}

.about__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: clamp(15px, 15px + 15 * (100vw - 320px) / 1600, 30px);
}

.benefits__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: clamp(20px, 20px + 20 * (100vw - 320px) / 1600, 40px);
  margin-bottom: clamp(60px, 60px + 70 * (100vw - 320px) / 1600, 130px);
}

.benefits__list {
  -webkit-column-count: auto;
     -moz-column-count: auto;
          column-count: auto;
  -webkit-column-width: clamp(290px, 290px + 260 * (100vw - 320px) / 1600, 550px);
     -moz-column-width: clamp(290px, 290px + 260 * (100vw - 320px) / 1600, 550px);
          column-width: clamp(290px, 290px + 260 * (100vw - 320px) / 1600, 550px);
  -webkit-column-gap: clamp(25px, 25px + 35 * (100vw - 320px) / 1600, 60px);
     -moz-column-gap: clamp(25px, 25px + 35 * (100vw - 320px) / 1600, 60px);
          column-gap: clamp(25px, 25px + 35 * (100vw - 320px) / 1600, 60px);
}

.benefits__point {
  font-family: "BaiJamjuree", sans-serif;
  font-weight: 600;
  margin-bottom: 7px;
  padding-bottom: 12px;
  border-bottom: 1px dashed rgba(0, 0, 0, 0.25);
  position: relative;
}

.benefits__point::first-letter {
  padding-left: 20px;
}

.benefits__point::before {
  content: "";
  position: absolute;
  top: 5px;
  left: 0;
  width: 16px;
  height: 16px;
}

.benefits__point--dollar::before {
  background: url(../../images/icons/dollar.png) center/contain no-repeat;
}

.benefits__point--lock::before {
  background: url(../../images/icons/lock.png) center/contain no-repeat;
}

.benefits__point--document::before {
  background: url(../../images/icons/document.png) center/contain no-repeat;
}

.benefits__point--rocket::before {
  background: url(../../images/icons/rocket.png) center/contain no-repeat;
}

.benefits__point--diagram::before {
  background: url(../../images/icons/diagram.png) center/contain no-repeat;
}

.benefits__point--tools::before {
  background: url(../../images/icons/tools.png) center/contain no-repeat;
}

.advantages__container {
  margin-bottom: clamp(60px, 60px + 60 * (100vw - 320px) / 1600, 120px);
}

.advantages__list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(clamp(290px, 290px + 80 * (100vw - 320px) / 1600, 370px), 1fr));
  grid-auto-flow: dense;
  grid-auto-rows: minmax(clamp(100px, 100px + 70 * (100vw - 320px) / 1600, 170px), 1fr);
  gap: clamp(20px, 20px + 10 * (100vw - 320px) / 1600, 30px);
}

.advantages__point {
  padding: clamp(20px, 20px + 30 * (100vw - 320px) / 1600, 50px);
  border-radius: 20px;
  background: -webkit-gradient(linear, left top, right top, from(#eef6fb), to(rgba(238, 246, 251, 0.3)));
  background: linear-gradient(90deg, #eef6fb 0%, rgba(238, 246, 251, 0.3) 100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: clamp(10px, 10px + 10 * (100vw - 320px) / 1600, 20px);
  line-height: 1;
  color: #000000;
}

.advantages__name {
  font-family: "BaiJamjuree", sans-serif;
  font-weight: 600;
  font-size: clamp(16px, 16px + 2 * (100vw - 320px) / 1600, 18px);
  text-transform: uppercase;
  padding-left: 30px;
  position: relative;
}

.advantages__name::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 20px;
  height: 20px;
}

.advantages__name--lying-saucer::before {
  background: url(../../images/icons/lying-saucer.png) center/contain no-repeat;
}

.advantages__name--fire::before {
  background: url(../../images/icons/fire.png) center/contain no-repeat;
}

.advantages__name--rocket::before {
  background: url(../../images/icons/rocket.png) center/contain no-repeat;
}

.advantages__num {
  font-family: "BakbakOne", sans-serif;
  font-weight: 400;
  font-size: clamp(25px, 25px + 11 * (100vw - 320px) / 1600, 36px);
}

.partners__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: clamp(20px, 20px + 2 * (100vw - 320px) / 1600, 22px);
  margin-bottom: clamp(70px, 70px + 75 * (100vw - 320px) / 1600, 145px);
}

.partners__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 20px clamp(20px, 20px + 44 * (100vw - 320px) / 1600, 64px);
}

.partners__img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
}

.info {
  position: relative;
}

.info::before {
  content: "";
  position: absolute;
  top: 100%;
  left: 28%;
  width: clamp(150px, 150px + 120 * (100vw - 320px) / 1600, 270px);
  height: clamp(150px, 150px + 120 * (100vw - 320px) / 1600, 270px);
  border-radius: 50%;
  background: rgba(29, 161, 242, 0.5);
  -webkit-filter: blur(200px);
          filter: blur(200px);
  z-index: 2;
}

.info__container {
  min-height: 100svh;
  padding: clamp(50px, 50px + 50 * (100vw - 320px) / 1600, 100px) clamp(15px, 15px + 85 * (100vw - 320px) / 1600, 100px);
  background: -webkit-image-set(url("../images/main/info/bg.avif") type("image/avif"), url("../images/main/info/bg_2x.avif") 2x type("image/avif"), url("../images/main/info/bg.webp") type("image/webp"), url("../images/main/info/bg_2x.webp") 2x type("image/webp"), url("../images/main/info/bg.jpg"), url("../images/main/info/bg_2x.jpg") 2x) center/cover no-repeat;
  background: image-set(url("../images/main/info/bg.avif") type("image/avif"), url("../images/main/info/bg_2x.avif") 2x type("image/avif"), url("../images/main/info/bg.webp") type("image/webp"), url("../images/main/info/bg_2x.webp") 2x type("image/webp"), url("../images/main/info/bg.jpg"), url("../images/main/info/bg_2x.jpg") 2x) center/cover no-repeat;
  border-radius: 50px;
  margin-bottom: clamp(60px, 60px + 60 * (100vw - 320px) / 1600, 120px);
  position: relative;
}

.info__container::before {
  content: "";
  position: absolute;
  left: clamp(0px, 0px + 60 * (100vw - 320px) / 1600, 60px);
  bottom: calc(clamp(0px, 0px + 80 * (100vw - 320px) / 1600, 80px) * -1);
  width: clamp(204px, 204px + 200 * (100vw - 320px) / 1600, 404px);
  height: clamp(161px, 161px + 200 * (100vw - 320px) / 1600, 361px);
  background: -webkit-image-set(url("../images/main/info/decor.avif") type("image/avif"), url("../images/main/info/decor_2x.avif") 2x type("image/avif"), url("../images/main/info/decor.webp") type("image/webp"), url("../images/main/info/decor_2x.webp") 2x type("image/webp"), url("../images/main/info/decor.png"), url("../images/main/info/decor_2x.png") 2x) center/cover no-repeat;
  background: image-set(url("../images/main/info/decor.avif") type("image/avif"), url("../images/main/info/decor_2x.avif") 2x type("image/avif"), url("../images/main/info/decor.webp") type("image/webp"), url("../images/main/info/decor_2x.webp") 2x type("image/webp"), url("../images/main/info/decor.png"), url("../images/main/info/decor_2x.png") 2x) center/cover no-repeat;
  z-index: 2;
}

.info__content {
  max-width: 570px;
  min-height: clamp(350px, 350px + 335 * (100vw - 320px) / 1600, 685px);
  padding: clamp(30px, 30px + 30 * (100vw - 320px) / 1600, 60px) 20px clamp(30px, 30px + 30 * (100vw - 320px) / 1600, 60px) clamp(20px, 20px + 40 * (100vw - 320px) / 1600, 60px);
  background: rgba(0, 0, 0, 0.2);
  -webkit-backdrop-filter: blur(30px);
          backdrop-filter: blur(30px);
  border-radius: 50px;
  color: #ffffff;
}

.info__title {
  color: inherit;
  margin-bottom: 13px;
}

.info__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: clamp(20px, 20px + 10 * (100vw - 320px) / 1600, 30px);
}

.info__point {
  font-family: "BaiJamjuree", sans-serif;
  font-weight: 700;
  font-size: clamp(13px, 13px + 11 * (100vw - 320px) / 1600, 24px);
  line-height: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 5px;
     -moz-column-gap: 5px;
          column-gap: 5px;
}

.info__name::after {
  content: ":";
}

.roadmap__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 30px;
  margin-bottom: clamp(60px, 60px + 60 * (100vw - 320px) / 1600, 120px);
}

.roadmap__items {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  grid-auto-rows: minmax(clamp(250px, 250px + 130 * (100vw - 320px) / 1600, 380px), 1fr);
  grid-auto-flow: dense;
  gap: clamp(20px, 20px + 10 * (100vw - 320px) / 1600, 30px);
}

.roadmap__item {
  border-radius: 20px;
  background: rgba(0, 0, 0, 0.03);
  overflow: hidden;
  position: relative;
}

.roadmap__item--active {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(29, 161, 242, 0.2)), to(rgba(29, 161, 242, 0.2)));
  background: linear-gradient(180deg, rgba(29, 161, 242, 0.2) 0%, rgba(29, 161, 242, 0.2) 100%);
}

.roadmap__item--active::before {
  content: "";
  position: absolute;
  top: clamp(16px, 16px + 7 * (100vw - 320px) / 1600, 23px);
  right: 30px;
  width: clamp(16px, 16px + 8 * (100vw - 320px) / 1600, 24px);
  height: clamp(16px, 16px + 8 * (100vw - 320px) / 1600, 24px);
  border-radius: 50%;
  border: 3px solid rgba(255, 255, 255, 0.1);
  background: transparent;
}

.roadmap__item--active .roadmap__name {
  -webkit-backdrop-filter: none;
          backdrop-filter: none;
}

.roadmap__name {
  padding: clamp(10px, 10px + 5 * (100vw - 320px) / 1600, 15px) clamp(15px, 15px + 10 * (100vw - 320px) / 1600, 25px);
  font-family: "BakbakOne", sans-serif;
  font-weight: 400;
  font-size: clamp(16px, 16px + 8 * (100vw - 320px) / 1600, 24px);
  line-height: 1.6;
  color: #111111;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  background: rgba(0, 0, 0, 0.05);
}

.roadmap__list {
  padding: clamp(15px, 15px + 10 * (100vw - 320px) / 1600, 25px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: clamp(15px, 15px + 7 * (100vw - 320px) / 1600, 22px);
}

.roadmap__point {
  line-height: 1.5;
  padding-left: 25px;
  position: relative;
}

.roadmap__point::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: transparent;
  border: 2px solid rgba(0, 0, 0, 0.2);
}

.roadmap__point--active::before {
  background: #1da1f2;
  border-color: #1da1f2;
}

.questions__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: clamp(20px, 20px + 15 * (100vw - 320px) / 1600, 35px);
  margin-bottom: clamp(40px, 40px + 40 * (100vw - 320px) / 1600, 80px);
  position: relative;
}

.questions__container::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: clamp(150px, 150px + 120 * (100vw - 320px) / 1600, 270px);
  height: clamp(150px, 150px + 120 * (100vw - 320px) / 1600, 270px);
  border-radius: 50%;
  background: rgba(29, 161, 242, 0.7);
  -webkit-filter: blur(200px);
          filter: blur(200px);
}

.questions__accardeon {
  max-width: 770px;
  margin: 0 auto;
}

.contacts__container {
  margin-bottom: 60px;
  padding-top: clamp(220px, 220px + 160 * (100vw - 320px) / 1600, 380px);
  position: relative;
}

.contacts__container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  width: clamp(150px, 150px + 114 * (100vw - 320px) / 1600, 264px);
  height: clamp(230px, 230px + 181 * (100vw - 320px) / 1600, 411px);
  background: -webkit-image-set(url("../images/main/contacts/decor.avif") type("image/avif"), url("../images/main/contacts/decor_2x.avif") 2x type("image/avif"), url("../images/main/contacts/decor.webp") type("image/webp"), url("../images/main/contacts/decor_2x.webp") 2x type("image/webp"), url("../images/main/contacts/decor.jpg"), url("../images/main/contacts/decor_2x.jpg") 2x) center/cover no-repeat;
  background: image-set(url("../images/main/contacts/decor.avif") type("image/avif"), url("../images/main/contacts/decor_2x.avif") 2x type("image/avif"), url("../images/main/contacts/decor.webp") type("image/webp"), url("../images/main/contacts/decor_2x.webp") 2x type("image/webp"), url("../images/main/contacts/decor.jpg"), url("../images/main/contacts/decor_2x.jpg") 2x) center/cover no-repeat;
}

.contacts__items {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(clamp(80px, 80px + 130 * (100vw - 320px) / 1600, 210px), 1fr));
  grid-auto-flow: dense;
  grid-auto-rows: minmax(clamp(80px, 80px + 130 * (100vw - 320px) / 1600, 210px), 1fr);
  gap: clamp(20px, 20px + 10 * (100vw - 320px) / 1600, 30px);
}

.contacts__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 30px;
  background: rgba(29, 161, 242, 0.08);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
}

.contacts__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contacts__link svg {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
  fill: #1da1f2;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.contacts__link--stroke svg {
  stroke: #1da1f2;
  fill: none;
}

.footer {
  padding-bottom: clamp(20px, 20px + 20 * (100vw - 320px) / 1600, 40px);
  position: relative;
}

.footer::before {
  content: "";
  position: absolute;
  top: 55%;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  width: clamp(150px, 150px + 120 * (100vw - 320px) / 1600, 270px);
  height: clamp(150px, 150px + 120 * (100vw - 320px) / 1600, 270px);
  border-radius: 50%;
  background: #2e5a9c;
  -webkit-filter: blur(150px);
          filter: blur(150px);
  z-index: -1;
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  row-gap: clamp(20px, 20px + 20 * (100vw - 320px) / 1600, 40px);
  text-align: center;
}

.footer__logo {
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.footer__text {
  max-width: 570px;
}

@media (max-width: 1330px) {
  .intro__title::before {
    left: auto;
    right: -40px;
    -webkit-transform: scaleX(-1);
        -ms-transform: scaleX(-1);
            transform: scaleX(-1);
  }
}

@media (max-width: 991.98px) {
  .header__burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .menu {
    position: fixed;
    z-index: 3;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-transition: all 0.4s linear;
    transition: all 0.4s linear;
    -webkit-transform: translateY(-100%);
        -ms-transform: translateY(-100%);
            transform: translateY(-100%);
    overflow: auto;
    overflow-x: hidden;
    background: rgba(17, 17, 17, 0.99);
  }

  .menu.menu--active {
    -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
            transform: translateY(0);
  }

  .menu__items {
    padding: 120px 0 30px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .menu__link {
    font-size: clamp(20px, 20px + 20 * (100vw - 320px) / 1600, 40px);
    color: #ffffff;
  }
}

@media (max-width: 767.98px) {
  .about__container {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .about__content {
    max-width: 100%;
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }
}

@media (max-width: 575.98px) {
  .header__socials {
    display: none;
  }

  .menu__item--mobile {
    display: block;
  }

  .info__container {
    min-height: 60svh;
    border-radius: 20px;
  }

  .info__container::before {
    display: none;
  }

  .info__content {
    border-radius: 20px;
    background: rgba(0, 0, 0, 0.4);
  }

  .contacts__link svg {
    max-width: 60%;
    max-height: 60%;
  }
}

@media (max-width: 479.98px) {
  .intro__actions {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .intro__btn {
    width: 80%;
  }
}

@media (max-width: 349.98px) {
  .intro__title::before {
    display: none;
  }
}

@media (any-hover: hover) {
  .up:hover {
    opacity: 0.8;
  }

  .menu__link:hover {
    color: #1da1f2;
  }

  .btn:hover {
    background: #111111;
    color: #1da1f2;
    border-color: currentColor;
  }

  .btn--color1:hover {
    color: #f3ba2f;
    background: transparent;
  }

  .btn--color2:hover {
    color: #ffffff;
  }

  .btn--reverse:hover {
    background: #ffffff;
    color: #111111;
  }

  .socials__link:hover {
    background: #111111;
  }

  .socials__link:hover svg {
    fill: #1da1f2;
  }

  .contacts__link:hover svg {
    -webkit-filter: drop-shadow(0 0 1px #1da1f2);
            filter: drop-shadow(0 0 1px #1da1f2);
  }

  .footer__logo:hover {
    opacity: 0.7;
  }
}