<div class="modal">
  <div class="modal__inner">
    <form class="modal__form" action="#">
      <div class="modal__item">
        <label class="modal__label" for="name">
          Enter your Name
        </label>
        <input class="modal__input" id="name" type="text" placeholder="Ivan" required autocomplete="off">
      </div>
      <div class="modal__item">
        <label class="modal__label" for="mail">
          Enter your E-mail
        </label>
        <input class="modal__input" id="mail" type="email" placeholder="name@com.ru" required autocomplete="off">
      </div>
      <div class="modal__item">
        <label class="modal__label" for="phone">
          Enter your Phone
        </label>
        <input class="modal__input" id="phone" type="tel" placeholder="+1234567890" required autocomplete="off">
      </div>
      <button class="modal__btn btn">Send</button>
    </form>
    <button class="modal__close" type="button">X</button>
  </div>
</div>

<footer class="footer">
  <div class="footer__container">

  </div>
</footer>
</div>
<script src="js/script.min.js" defer></script>
</body>

</html>