@import "components/mixin";

$laptop: 1440px;
$tablet: 1023px;
$mobile: 767px;
$big-mobile: 574px;
$medium-mobile: 478px;
$small-mobile: 389px;

//Страница
$widthReportMax: 1920;
$widthReportMin: 320;
$widthReportMinPx: $widthReportMin + px;

// Контейнер
$widthContainer-num: 1170;
$widthContainer: $widthContainer-num + px;
$containerPadding-num: 15;
$containerPadding: $containerPadding-num + px;
$maxWidthContainer: calc($widthContainer + (2 * $containerPadding));

// Доп цвета
$color-white: #ffffff;
$color-black: #000000;

$color-accent: #ff0000;

// Радиусы
$radius-circle: 50%;

// Задержка
$transition: all 0.3s linear;

// Шрифты

//Фон
$mainBackGround: $color-white;

//Шрифт
$fontFamily: "Roboto", sans-serif;
$mainColor: $color-black;
$mainSize: 16;
$size: $mainSize + px;
$fontWeight: 400;
$lineheight: calc(24 / $mainSize);
