@import "components/mixin";

$laptop: 1440px;
$tablet: 1023px;
$mobile: 767px;
$big-mobile: 574px;
$medium-mobile: 478px;
$small-mobile: 389px;

//Страница
$widthReportMax: 1920;
$widthReportMin: 320;
$widthReportMinPx: $widthReportMin + px;

// Контейнер
$widthContainer-num: 1720;
$widthContainer: $widthContainer-num + px;
$containerPadding-num: 15;
$containerPadding: $containerPadding-num + px;
$maxWidthContainer: calc($widthContainer + (2 * $containerPadding));

// Доп цвета
$color-white: #ffffff;
$color-black: #000000;

$color-light: #f5f5f5;
$color-dark: #2b2b2b;
$color-bg-dark: #171717;
$color-border: #d9d9d9;

$link-active: 1px 1px 10px currentColor;

$color-gradient: linear-gradient(181.42deg, $color-black -16.45%, rgba($color-black, 0) 115.05%);

// Задержка
$transition: all 0.3s linear;

//Фон
$mainBackGround: $color-white;

//Шрифт
$fontFamily: "Roboto", sans-serif;
$mainColor: $color-dark;
$mainSize: 16;
$size: $mainSize + px;
$fontWeight: 400;
$lineheight: calc(24 / $mainSize);
