<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scable=0" />
  <link rel="icon" type="image/ico" href="favicon.ico">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,400;9..40,500&family=Nunito+Sans:opsz,wght@6..12,400;6..12,600&family=Poppins:wght@400;500;600;700;800&family=Roboto+Slab&family=Rubik:wght@600&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="css/style.min.css" />
  <title>Mulih</title>
</head>

<body>
  <div class="wrapper">
    <header class="header">
      <div class="header__container">
        <a class="header__logo logo" href="#">
          <picture>
            <source srcset="../images/logo-small.svg" media="(max-width: 500px)">
            <img class="logo__img" src="../images/logo.svg" alt="logo">
          </picture>
        </a>
        <nav class="header__menu menu">
          <ul class="menu__items">
            <li class="menu__item">
              <a class="menu__link menu__link--active" href="#intro">Home</a>
            </li>
            <li class="menu__item">
              <a class="menu__link" href="#recomendation">Property</a>
            </li>
            <li class="menu__item">
              <a class="menu__link" href="#advantages">About</a>
            </li>
            <li class="menu__item">
              <a class="menu__link" href="#about">Service</a>
            </li>
            <li class="menu__item">
              <a class="menu__link" href="#footer">Contact</a>
            </li>
            <li class="menu__item">
              <a class="menu__btn btn btn--reverse" href="#"> Sign in</a>
            </li>
            <li class="menu__item">
              <a class="menu__btn btn" href="#">Login</a>
            </li>
          </ul>
        </nav>
        <ul class="header__actions">
          <li class="header__action">
            <a class="header__btn btn btn--reverse" href="#">
              Sign in
            </a>
          </li>
          <li class="header__action">
            <a class="header__btn btn" href="#">
              Login
            </a>
          </li>
        </ul>
        <div class="header__burger">
          <span></span>
          <span></span>
          <span></span>
        </div>
      </div>
    </header>