.about {
  // .about__container
  &__container {
    display: flex;
    flex-direction: column;
    row-gap: clampAd(30, 50);
  }
  // .about__title
  &__title {
  }
  // .about__items
  &__items {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(clampAd(120, 270), 1fr));
    grid-auto-flow: dense;
    gap: clampAd(20, 40);
  }
  // .about__item
  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: clampAd(20, 30);
  }
  // .about__icon
  &__icon {
    --size: #{clampAd(50, 150)};

    width: var(--size);
    height: var(--size);
    background: $white;
    border-radius: $radius-circle;
    border: 1px solid $color-accent;

    display: flex;
    justify-content: center;
    align-items: center;

    img {
      width: clampAd(30, 60);
    }
  }
  // .about__name
  &__name {
    text-align: center;
  }
  // .about__text
  &__text {
  }
}
