.header {
  padding: clampAd(20, 40) 0;
  background: $color-dark;
  color: $white;

  &--fixed {
    padding: 10px 0;

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    z-index: 2;
    overflow: auto;
    background: $color-dark;
  }

  &--transparent {
    background: transparent;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    z-index: 2;
  }

  &.header--transparent.header--fixed {
    background: $color-dark;
  }

  // .header__container
  &__container {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    column-gap: 1rem;

    @include w_767 {
      align-items: center;
    }
  }
  // .header__logo
  &__logo {
    position: relative;
    z-index: 4;
  }
  // .header__menu
  &__menu {
  }
  &__burger {
    position: relative;
    z-index: 4;

    @include w_767 {
      display: flex;
    }
  }
}
