.thing {
  // .thing__container
  &__container {
  }
  // .thing__title
  &__title {
    margin-bottom: 20px;
  }
  // .thing__text
  &__text {
    max-width: 580px;
    width: 100%;
    margin: 0 auto clampAd(30, 50);
  }
  // .thing__items
  &__items {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(clampAd(170, 270), 1fr));
    grid-auto-flow: dense;
    gap: clampAd(20, 40);
  }
  // .thing__item
  &__item {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
  }
  // .thing__ibg
  &__ibg {
    padding: 0px 0px 55.5% 0px;
  }
  // .thing__img
  &__img {
  }
  // .thing__info
  &__info {
  }
}
