@use "sass:math";
//------------------------------
// Переменные
@import "components/variables";
// Библиотеки
@import "components/plugins";
// Шрифты
@import "components/fonts";
// Миксины
@import "components/mixin";
// Сброс настроек
@import "components/resetStyle";
//------------------------------
// body
@import "module/basic/body";
// main
@import "module/basic/main";
//Контейнер
@import "module/basic/container";
// Линии ( для border) за пределами контейнера
//@import "module/basic/full-line";
//Бургер меню
@import "module/basic/burger";
//Для контейнера картинок в карточках - технический класс
//@import "module/basic/ibg";
// для сокрытия элемнетов на странице + none
@import "module/basic/hidden";
// стрелка для многоуровневого меню
//@import "module/basic/arrow";
// для блока с текстом
@import "module/basic/text";
// Контейнер на весь экран
//@import "module/basic/container-full";
// Логотип
@import "module/basic/logo";
// Меню
@import "module/basic/menu";
// Кнопки
@import "module/basic/btn";
// Заголовки
@import "module/basic/title";
//------------------------------
//@import "module/submenu";
//@import "module/form";
//@import "module/custom-select";
//@import "module/accardeon";
//@import "module/tabs";
//@import "module/soc1als";
//@import "module/pagination";
//@import "module/progress";
//------------------------------
// Шапка
@import "blocks/header";
//------------------------------
// Страницы
@import "pages/index";
//------------------------------
// Подвал
@import "blocks/footer";
// @import "components/adaptive";
