@import "components/_resetStyle";
@import "components/_fonts";
@import "components/_mixin";
@import "../../node_modules/slick-carousel/slick/slick";

//Страница
$widthReportMax: 1920;
$widthReportMin: 320;
$maxWidthContainer: 1230px; //максимальная ширина контейнера + padding left + padding right
$containerPadding: 15px; //внутринние отступы в контейнере

//Шрифт
$fontFamily: "Noto Sans", sans-serif;
$mainColor: #303030; //основной цвет шрифта
$mainBackGround: #ffffff; //основной цвет фона
$white: #ffffff;
$black: #000000;
$mainSize: 14;
$size: $mainSize + px;
$lineheight: calc(19 / $mainSize);
$fontWeight: 400;

$color-hover: #a9a32a;
$color-dop: #868585;
//Контейнер
[class*="__container"] {
  max-width: $maxWidthContainer;
  margin: 0 auto;
  padding: 0 $containerPadding;
}

[class*="__cont-left"] {
  padding-left: calc((100% - $maxWidthContainer) / 2 + $containerPadding);
}

[class*="__cont-right"] {
  padding-right: calc((100% - $maxWidthContainer) / 2 + $containerPadding);
}

//Бургер меню
[class*="__burger"] {
  display: none;
  flex-direction: column;
  row-gap: 4px;
  cursor: pointer;

  span {
    width: 24px;
    height: 3px;
    border-radius: 5px;
    background: #ffffff;
    transition: all 0.3s linear;
  }
}

/*Для контейнера картинок в карточках - технический класс*/
[class*="__ibg"] {
  position: relative;
  /*Для самих картинок в карточках технический класс*/
  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

body {
  font-family: $fontFamily;
  background-color: $mainBackGround;
  color: $mainColor;
  font-size: clamp(
    12px,
    calc(12px + ($mainSize - 12) * ((100vw - 320px) / ($widthReportMax - $widthReportMin))),
    $size
  );
  line-height: $lineheight;
  font-weight: $fontWeight;

  &.lock {
    overflow: hidden;
  }
}

.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.arrow {
  display: inline-block;
  cursor: pointer;
  position: absolute;
  z-index: 2;
  top: 0;
  right: 0;
  width: 0;
  height: 0;
  border-top: 7px solid #ffffff;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  transition: all 0.3s linear;

  &.arrow--active {
    top: 0;
    border-left: 7px solid #ffffff;
    border-top: 7px solid transparent;
    border-bottom: 7px solid transparent;
  }
}

.main {
  flex: 1 1 auto;

  &__section {
    margin-bottom: clamp(
      50px,
      calc(50px + (150 - 50) * ((100vw - 320px) / ($widthReportMax - $widthReportMin))),
      150px
    );
  }
}

.title {
  @include Noto700;
  font-size: clamp(18px, calc(18px + (24 - 18) * ((100vw - 320px) / ($widthReportMax - $widthReportMin))), 24px);
  text-transform: uppercase;
  color: $color-dop;
}

[class*="__title"] {
  margin-bottom: clamp(40px, calc(40px + (60 - 40) * ((100vw - 320px) / ($widthReportMax - $widthReportMin))), 60px);
}

[class*="__inner"] {
  display: grid;
  grid-template-columns: clamp(300px, calc(300px + (510 - 300) * ((100vw - 575px) / ($widthReportMax - 575))), 510px) auto;
  gap: clamp(30px, calc(30px + (90 - 30) * ((100vw - 575px) / ($widthReportMax - 575))), 90px);
}

.slick-btn {
  position: absolute;
  bottom: 0;
  z-index: 2;

  svg {
    fill: $mainColor;
    transition: all 0.3s linear;
  }

  &--prev {
    left: clamp(0px, calc(0px + (275 - 0) * ((100vw - 320px) / ($widthReportMax - $widthReportMin))), 275px);
  }
  &--next {
    left: clamp(70px, calc(70px + (340 - 70) * ((100vw - 320px) / ($widthReportMax - $widthReportMin))), 340px);
  }

  @media (any-hover: hover) {
    &:hover {
      svg {
        fill: $color-hover;
      }
    }
  }
}

@import "module/_logo";
@import "module/_btn";
@import "module/_tabs";
@import "module/_form";
@import "module/_intro";
@import "module/_services";
@import "module/_tarif";
@import "module/_promo";
@import "module/_clients";
@import "module/_steps";
@import "module/_footer";
@import "components/_adaptive";
