/*
	вот что находится в HTML: 

 <section class="intro">
    <div class="intro__content">
      <div class="intro__container">
        <div class="intro__inner">
          <h2 class="intro__title">Это заголовок</h2>
          <p class="intro__text">
            Далеко-далеко за словесными горами в стране гласных, и согласных живут рыбные тексты.
          </p>
          <a class="intro__btn" href="#">А это кнопка</a>
        </div>
      </div>
    </div>
    <div class="intro__image">
      <img class="intro__img" src="../images/main/123.jpeg" alt="">
    </div>
  </section>

*/

.intro {
  @media (min-width: 767.98px) {
    display: flex;
    gap: 0 30px;
  }
  // .intro__content
  &__content {
    display: flex;

    @media (min-width: 767.98px) {
      flex: 0 0 100%;
      margin-bottom: 0;
    }
  }
  // .intro__container
  &__container {
    // если картинка будет первой, а затем блок с текстом то необходимол поставить     margin: 0;
  }
  // .intro__inner
  &__inner {
    @media (min-width: 767.98px) {
      width: 50%;
    }
  }
  // .intro__image
  &__image {
    @media (min-width: 767.98px) {
      position: relative;
      flex: 0 0 calc(((100vw - ($containerPadding * 2)) * 0.6) + $containerPadding);
      // 0.6 - это занимаемый процент изображения (например если контент занимает 40% то картинка занимает 60% = 0,6)
      transform: translateX(-100%); // если картинка будет первой, а затем блок с текстом то это свойство убрать
      padding: 0px 0px 30% 0px; // не забывать менять высоту картикни
    }

    @media (min-width: $maxWidthContainer) {
      flex: 0 0 calc(50vw - (0.5 - 0.5) * ($maxWidthContainer - ($containerPadding * 2)));
      // 0.4 - это занимаемый процент контента  40%  = 0,4
      // 0.5 - это значение по умолчанию, его не меняем
    }
  }
  // .intro__img
  &__img {
    max-width: 100%;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;

    @media (min-width: 767.98px) {
      position: absolute;
      top: 0;
      left: 0;
    }
  }
}
