.cookie {
  display: none;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
  width: 950px;
  background: #cecece;
  border-radius: 50px;
  padding: 30px;

  &__text {
    font-size: 15px;
    a {
      color: rgb(0, 92, 158);
      text-decoration: underline;
    }
  }

  &__btn {
    display: inline-block;
    background: #1e1e1e;
    color: #ffffff;
    padding: 20px 30px;
    border-radius: 30px;
  }
}
