<footer class="footer">
  <div class="footer__container">
    <div class="footer__top">
      <div class="footer__items">
        <div class="footer__item footer__item--product">
          <div class="footer__name">
            Products
          </div>
          <ul class="footer__list">
            <li class="footer__list-item">
              <a class="footer__link" href="#">
                Black tea
              </a>
            </li>
            <li class="footer__list-item">
              <a class="footer__link" href="#">
                Green tea
              </a>
            </li>
            <li class="footer__list-item">
              <a class="footer__link" href="#">
                White tea
              </a>
            </li>
            <li class="footer__list-item">
              <a class="footer__link" href="#">
                Oolong tea
              </a>
            </li>
            <li class="footer__list-item">
              <a class="footer__link" href="#">
                Pu-erh tea
              </a>
            </li>
          </ul>
        </div>
        <div class="footer__item footer__item--company">
          <div class="footer__name">
            Company
          </div>
          <ul class="footer__list">
            <li class="footer__list-item">
              <a class="footer__link" href="#">
                About Us
              </a>
            </li>
            <li class="footer__list-item">
              <a class="footer__link" href="#">
                Contact Us
              </a>
            </li>
            <li class="footer__list-item">
              <a class="footer__link" href="#">
                Our Blog
              </a>
            </li>
            <li class="footer__list-item">
              <a class="footer__link" href="#">
                FAQ
              </a>
            </li>
            <li class="footer__list-item">
              <a class="footer__link" href="#">
                Shipping & Delivery
              </a>
            </li>
            <li class="footer__list-item">
              <a class="footer__link" href="#">
                Refund policy
              </a>
            </li>
            <li class="footer__list-item">
              <a class="footer__link" href="#">
                Terms of Service
              </a>
            </li>
          </ul>
        </div>
        <div class="footer__item footer__item--contacts">
          <blockquote class="footer__blockquote">
            <p class="footer__text">
              “Tea is a journey. It can take you to new places and open your mind to new experiences. Let every sip
              transport you to a world of wonder and possibility”
            </p>
            <cite class="footer__author">
              Dragomir Teodorescu, Tealuxe owner
            </cite>
          </blockquote>
          <div class="footer__box">
            <div class="footer__name">
              Stay In Touch
            </div>
            <p class="footer__info">
              Please feel free to contact us via the email of phone. We would be happy to hear from you!
            </p>
            <div class="footer__actions">
              <div class="footer__block">
                <a class="footer__logo logo" href="#">
                  <img class="logo__img" src="images/logo.svg" alt="logo Tealuxe">
                </a>
                <ul class="footer__actions-items">
                  <li class="footer__actions-item footer__actions-item--mail">
                    <a class="footer__actions-link" href="mailto:info@tealuxe.com">
                      info@tealuxe.com
                    </a>
                  </li>
                  <li class="footer__actions-item footer__actions-item--phone">
                    <a class="footer__actions-link" href="tel:+123456789012">
                      +123 456 789012
                    </a>
                  </li>
                </ul>
              </div>
              <div class="footer__socials">
                <div class="footer__social">
                  <a class="footer__social-link" href="#" aria-label="go to facebook">
                    <img class="footer__social-icon" src="images/footer/facebook.svg" alt="icon facebook">
                  </a>
                </div>
                <div class="footer__social">
                  <a class="footer__social-link" href="#" aria-label="go to youtube">
                    <img class="footer__social-icon" src="images/footer/youtube.svg" alt="icon youtube">
                  </a>
                </div>
                <div class="footer__social">
                  <a class="footer__social-link" href="#" aria-label="go to instagram">
                    <img class="footer__social-icon" src="images/footer/instagram.svg" alt="icon instagram">
                  </a>
                </div>
                <div class="footer__social">
                  <a class="footer__social-link" href="#" aria-label="go to twitter">
                    <img class="footer__social-icon" src="images/footer/twitter.svg" alt="icon twitter">
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer__bottom">
      <p class="footer__copy">
        &copy; Tealuxe, 2023
      </p>
      <ul class="footer__payments">
        <li class="footer__payment">
          <a class="footer__payment-link" href="#">
            <img class="footer__payment-icon" src="images/footer/mastercard.svg" alt="">
          </a>
        </li>
        <li class="footer__payment">
          <a class="footer__payment-link" href="#">
            <img class="footer__payment-icon" src="images/footer/visa.svg" alt="">
          </a>
        </li>
        <li class="footer__payment">
          <a class="footer__payment-link" href="#">
            <img class="footer__payment-icon" src="images/footer/pay.svg" alt="">
          </a>
        </li>
        <li class="footer__payment">
          <a class="footer__payment-link" href="#">
            <img class="footer__payment-icon" src="images/footer/paypall.svg" alt="">
          </a>
        </li>
      </ul>
    </div>
  </div>
</footer>
</div>

<script src="js/script.min.js"></script>
</body>

</html>