.form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: clampAd(30, 50);

  // .form__input
  &__input {
    width: 100%;
    padding: 10px 10px 10px 0;
    background: transparent;
    border-bottom: 1px solid rgba($white, 0.4);
    color: $white;
    transition: all 0.3s linear;

    &::placeholder {
      @include Inter700;
      font-size: 18px;
      color: $white;
      text-transform: uppercase;
      opacity: 0.2;
    }

    @media (any-hover: hover) {
      &:hover,
      &:focus {
        outline: none;
        border-color: $color-accent1;
      }
      &:focus {
        border-color: $color-accent2;
      }
    }
  }
  // .form__btn
  &__btn {
  }
}
