@font-face {
  font-family: "Poppins";
  src:
    url("../../fonts/Poppins-Regular.woff2") format("woff2"),
    url("../../fonts/Poppins-Regular.woff") format("woff");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src:
    url("../../fonts/Poppins-Medium.woff2") format("woff2"),
    url("../../fonts/Poppins-Medium.woff") format("woff");
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src:
    url("../../fonts/Poppins-SemiBold.woff2") format("woff2"),
    url("../../fonts/Poppins-SemiBold.woff") format("woff");
  font-style: normal;
  font-weight: 600;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src:
    url("../../fonts/Poppins-Bold.woff2") format("woff2"),
    url("../../fonts/Poppins-Bold.woff") format("woff");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src:
    url("../../fonts/Inter-Regular.woff2") format("woff2"),
    url("../../fonts/Inter-Regular.woff") format("woff");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src:
    url("../../fonts/Inter-SemiBold.woff2") format("woff2"),
    url("../../fonts/Inter-SemiBold.woff") format("woff");
  font-style: normal;
  font-weight: 600;
  font-display: swap;
}
@font-face {
  font-family: "Fahkwang";
  src:
    url("../../fonts/Fahkwang-Regular.woff2") format("woff2"),
    url("../../fonts/Fahkwang-Regular.woff") format("woff");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "Fahkwang";
  src:
    url("../../fonts/Fahkwang-Medium.woff2") format("woff2"),
    url("../../fonts/Fahkwang-Medium.woff") format("woff");
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: "Fahkwang";
  src:
    url("../../fonts/Fahkwang-SemiBold.woff2") format("woff2"),
    url("../../fonts/Fahkwang-SemiBold.woff") format("woff");
  font-style: normal;
  font-weight: 600;
  font-display: swap;
}
