.about {
  // .about__container
  &__container {
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 30px clampAd(20, 75);

    @include big-mobile {
      grid-template-columns: 1fr;
      padding-bottom: 30px; 
    }
  }
  // .about__content
  &__content {
    padding: clampAd(30, 60) 0;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: clampAd(10, 13);
  }
  // .about__title
  &__title {
  }
  // .about__text
  &__text {
  }
  // .about__btn
  &__btn {
  }
  // .about__slider
  &__slider {
    max-width: clampAd(180, 325);
    transform: translateY(-10%);

    opacity: 0;
    visibility: hidden;
    transition: opacity 1s ease;

    @include medium-mobile {
      transform: translateY(0);
      max-width: 80%;
    }

    &.swiper-initialized {
      opacity: 1;
      visibility: visible;
    }
  }
}
