.intro {
  background: image-set(
      url("../images/main/intro/1.avif") type("image/avif"),
      url("../images/main/intro/1@2x.avif") 2x type("image/avif"),
      url("../images/main/intro/1.webp") type("image/webp"),
      url("../images/main/intro/1@2x.webp") 2x type("image/webp"),
      url("../images/main/intro/1.jpg"),
      url("../images/main/intro/1@2x.jpg") 2x
    )
    center/cover no-repeat;
  background-color: $color-accent;
  background-attachment: fixed;

  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba($color-accent, 0.3);
  }

  // .intro__container
  &__container {
    min-height: 100svh;
    padding-block: 100px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;

    position: relative;
    z-index: 1;

    @include medium-mobile {
      flex-direction: column;
      justify-content: center;
      align-items: center;

      text-align: center;
    }
  }
  // .intro__content
  &__content {
    max-width: 440px;
    width: 100%;

    display: flex;
    flex-direction: column-reverse;
    row-gap: clampAd(10, 12);
  }
  // .intro__title
  &__title {
  }
  // .intro__subtitle
  &__subtitle {
    font-weight: 500;
    font-size: clampAd(14, 16);
    color: $color-opacity-1;
  }
  // .intro__link
  &__link {
    display: flex;
    align-items: center;
    column-gap: 10px;

    font-weight: 500;
    font-size: 12px;
    color: $color-white;
    white-space: nowrap;

    margin: 0 auto;

    &::before {
      content: "";
      width: clampAd(26, 32);
      height: clampAd(26, 32);
      border-radius: $radius-circle;

      background: currentColor url(../../images/icons/play.svg) center/7px 9px no-repeat;
    }

    @include medium-mobile {
      margin: 0;
    }
  }
}
