.materials {
  padding: clampAd(40, 85) 0;
  // .materials__container
  &__container {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 30px clampAd(20, 75);

    @include big-mobile {
      grid-template-columns: 1fr;
    }
  }
  // .materials__image
  &__image {
    max-width: clampAd(100, 355);

    @include big-mobile {
      max-width: 100%;
    }
  }
  // .materials__img
  &__img {
    display: block;
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
  // .materials__items
  &__items {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(clampAd(120, 155), 1fr));
    grid-auto-flow: dense;
    gap: clampAd(20, 37) clampAd(20, 60);
  }
  // .materials__item
  &__item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 4px;
  }
  // .materials__name
  &__name {
    @include Merriweather900;
    font-size: clampAd(14, 18);
    color: $color-accent;
  }
  // .materials__text
  &__text {
    font-size: 12px;
    line-height: calc(22 / 12);
    opacity: 0.7;
  }
}
