.reviews {
  padding: clamp(30px, calc(30px + (50 - 30) * ((100vw - 320px) / ($widthReportMax - $widthReportMin))), 50px) 0;
  // .reviews__container
  &__container {
  }
  // .reviews__title
  &__title {
  }
  // .reviews__items
  &__items {
  }
  // .reviews__item
  &__item {
    max-width: 285px;
    border-radius: 20px;
    background: #fff;
    box-shadow: 5px 5px 15px 0px rgba(0, 0, 0, 0.1);
    padding: 25px 24px;
  }
  // .reviews__card
  &__card {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  // .reviews__image
  &__image {
    width: clamp(60px, calc(60px + (100 - 60) * ((100vw - 320px) / ($widthReportMax - $widthReportMin))), 100px);
    height: clamp(60px, calc(60px + (100 - 60) * ((100vw - 320px) / ($widthReportMax - $widthReportMin))), 100px);
    overflow: hidden;
    margin-bottom: clamp(15px, calc(15px + (30 - 15) * ((100vw - 320px) / ($widthReportMax - $widthReportMin))), 30px);
  }
  // .reviews__img
  &__img {
    width: 100%;
    object-fit: cover;
  }
  // .reviews__name
  &__name {
    color: $accent-color;
    font-family: "Lora", serif;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0.48px;
    margin-bottom: clamp(15px, calc(15px + (30 - 15) * ((100vw - 320px) / ($widthReportMax - $widthReportMin))), 30px);
  }
  // .reviews__text
  &__text {
    max-width: clamp(174px, calc(174px + (237 - 174) * ((100vw - 320px) / ($widthReportMax - $widthReportMin))), 237px);
    margin: 0 auto clamp(15px, calc(15px + (30 - 15) * ((100vw - 320px) / ($widthReportMax - $widthReportMin))), 30px);
  }
  // .reviews__date
  &__date {
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 0.42px;
  }

  .slick-initialized {
    text-align: center;
  }

  .slick-dots {
    display: flex;
    justify-content: center;
    column-gap: 10px;

    button {
      font-size: 0;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background: #cecece;
    }

    .slick-active {
      button {
        background: $button-color;
      }
    }
  }
}
