@import "blocks/top";
@import "blocks/row";

@import "blocks/intro";
@import "blocks/about";
@import "blocks/partners";
@import "blocks/advantages";
@import "blocks/employees";
@import "blocks/traning";
@import "blocks/interests";
@import "blocks/plan";
@import "blocks/book";
@import "blocks/start";
@import "blocks/events";
