.form {
  width: 100%;

  display: flex;
  flex-direction: column;

  // .form__item
  &__item {
  }
  // .form__input
  &__input {
    padding: clampAd(8, 16) clampAd(16, 24);
    background: $color-white;
    border-radius: $radius-l;
    width: 100%;

    margin-bottom: clampAd(8, 16);

    font-size: clampAd(10, 14);
    line-height: calc(17 / 14);
    color: $color-dark-1;

    &::placeholder {
      font-family: "Inter", sans-serif;
      font-weight: 400;
      font-size: clampAd(10, 14);
      line-height: calc(17 / 14);
      color: $color-dark-2;
    }
  }
  // .form__textarea
  &__textarea {
    padding: clampAd(8, 16) clampAd(16, 24);
    background: $color-white;
    border-radius: $radius-l;
    min-height: clampAd(90, 190);
    width: 100%;

    resize: none;

    margin-top: clampAd(4, 8);
    margin-bottom: clampAd(24, 48);

    &.auto {
      overflow-y: hidden;
    }
    font-size: clampAd(10, 14);
    line-height: calc(17 / 14);
    color: $color-dark-1;

    &::placeholder {
      font-family: "Inter", sans-serif;
      font-weight: 400;
      font-size: clampAd(10, 14);
      line-height: calc(17 / 14);
      color: $color-dark-2;
    }
  }
  // .form__btn
  &__btn {
  }
}
