.form {
  width: 100%;

  padding: clampAd(8, 12) clampAd(20, 30);

  border-radius: $radius-small;
  box-shadow: $shadow-form;
  background: $color-white;

  position: relative;

  // .form__input
  &__input {
    width: 90%;

    font-weight: 500;
    font-size: clampAd(14, 20);
    line-height: 1.6;
    color: $color-dark-1;

    border-bottom: 1px solid transparent;
    transition: $transition;

    &:focus {
      outline: none;
      border-color: $color-accent-1;
    }

    &::placeholder {
      font-family: "Roboto", sans-serif;
      font-weight: 500;
      font-size: clampAd(14, 20);
      line-height: 1.6;
      color: $color-dark-opacity;
    }
  }
  // .form__button
  &__button {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);

    width: clampAd(20, 30);
    height: clampAd(20, 30);

    border-radius: $radius-circle;
    background: image-set(
        url("../images/icons/btn.avif") type("image/avif"),
        url("../images/icons/btn@2x.avif") 2x type("image/avif"),
        url("../images/icons/btn.webp") type("image/webp"),
        url("../images/icons/btn@2x.webp") 2x type("image/webp"),
        url("../images/icons/btn.png"),
        url("../images/icons/btn@2x.png") 2x
      )
      center/contain no-repeat;
  }
}
