.soc1als {
  display: flex;
  align-items: center;
  gap: 10px;

  // .soc1als__item
  &__item {
  }
  // .soc1als__link
  &__link {
    --size: #{22px};

    width: var(--size);
    height: var(--size);

    svg {
      width: 100%;
      height: 100%;
      fill: $color-black;
      transition: all 0.3s linear;
    }

    @media (any-hover: hover) {
      &:hover {
        svg {
          fill: $color-accent-1;
        }
      }
    }
  }
}
