.form-contact {
  width: 100%;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(clampAd(150, 270), 1fr));
  gap: clampAd(20, 60) clampAd(20, 30);

  // .form-contact__input
  &__input {
    padding: 10px;
    background: transparent;
    border-bottom: 1px solid rgba($black, 0.5);
    outline: none;

    @include Fahkwang500;
    font-size: 16px;

    &::placeholder {
      @include Fahkwang500;
      font-size: 16px;
      color: $color-dop;
      text-transform: capitalize;
    }

    &:focus-visible {
      border-color: $color-accent;
    }
  }
  // .form-contact__btn
  &__btn {
    grid-column: 1/-1;
    margin: -20px auto auto;
  }
}
