.gallery {
  // .gallery__container
  &__container {
  }
  // .gallery__content
  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 2px;
    margin-bottom: clampAd(20, 43);
  }
  // .gallery__title
  &__title {
  }
  // .gallery__subtitle
  &__subtitle {
  }
  // .gallery__items
  &__items {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(clampAd(140, 370), 1fr));
    grid-auto-flow: dense;
    gap: clampAd(10, 30);
  }
  // .gallery__item
  &__item {
  }
  // .gallery__photo
  &__photo {
    width: 100%;
    height: 100%;
  }
  // .gallery__ibg
  &__ibg {
    padding: 0px 0px 129% 0px;
  }
  // .gallery__img
  &__img {
  }
}
