//Страница
$widthReportMax: 1920;
$widthReportMin: 320;
$widthReportMinPx: $widthReportMin + px;

// Контейнер
$maxWidthContainer: 1492px;
$containerPadding: 15px;

//Фон
$mainBackGround: #0b1d26;

//Шрифт
$fontFamily: "Gilroy", sans-serif;
$mainColor: #ffffff;
$mainSize: 18;
$size: $mainSize + px;
$fontWeight: 700;
$lineheight: calc(32 / $mainSize);

// Доп цвета
$white: #ffffff;
$black: #000000;

$color-accent: #fbd784;
$color-light: rgba($white, 0.1);

// Радиусы
$radius-circle: 50%;
