<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scable=0" />
  <link rel="stylesheet" href="css/style.min.css" />
  <title>@@title</title>
</head>

<body>
  <div class="wrapper">
    <header class="header">
      <div class="header__container">
        <a class="header__logo logo" href="#" aria-label="logo" title="logo">
          <img src="images/logo/logo.svg" alt="logo" loading="lazy" width="153" height="58">
        </a>
        <ul class="header__actions">
          <li class="header__action">
            <a class="header__link" href="#">
              Log In
            </a>
          </li>
          <li class="header__action">
            <a class="header__link" href="tel:1234567890">
              123-456-7890
            </a>
          </li>
          <li class="header__action">
            <a class="header__btn btn" href="#">
              Get Started
            </a>
          </li>
        </ul>
      </div>
    </header>