@function rem ($px){
    $result: math.div($px, 16) + rem;
    @return $result;
}

@function em ($px, $current:16){
    $result: math.div($px, $current) + em;
    @return $result;
}

@function percent ($px, $current){
    $result: math.div($px, $current) * 100%;
    @return $result;
}

@mixin fontFam($font_name, $file_name, $weight, $style) {
	@font-face {
		font-family: $font_name;
		font-display: swap;
		src: url("../fonts/#{$file_name}.woff2") format("woff2"), url("../fonts/#{$file_name}.woff") format("woff");
		font-weight: #{$weight};
		font-style: #{$style};
	}
}



@mixin font($big, $small, $maxWidth) {
  $add: $big - $small;
  $addMob: $add + $add * 0.7;
  @media (max-width: 768.98px) {
    font-size: calc(#{$small + px} + #{$addMob} * ((100vw - 320px) / #{$maxWidth}));
  }
  @media (min-width: 768.98px) {
    font-size: calc(#{$small + px} + #{$add} * (100vw / #{$maxWidth}));
  }
}

/*
для десктопа:
минимальный шрифт + добавочное число (максимальный шрифт - минимальный шрифт) * (100vw (вся ширина вьюпорта) / ширина макета)

пример:
максимальный шрифт = 210
минимальный шрифт = 45
размер макета = 1920
добавочное число = 210 - 45 = 165

шрифт = calc(45px + 165 * (100vw / 1920));


для планшетов и ниже:
минимальный шрифт + (добавочное число (максимальный шрифт - минимальный шрифт) + добавочное число  * 0.7) * ((100vw (вся ширина вьюпорта) - 320px(минимальный размер экрана) / ширина макета)

пример:
максимальный шрифт = 210
минимальный шрифт = 45
размер макета = 1920
минимальный рамзер макета = всегда 320px
добавочное число = 210 - 45 = 165

шрифт = calc(45px + (165 + 165 * 0,7) * ((100vw -320px) / 1920));
*/

