@import "blocks/top";
@import "blocks/blog-card";
@import "blocks/slider";

@import "blocks/intro";
@import "blocks/advantages";
@import "blocks/about";
@import "blocks/reviews";
@import "blocks/blog";
@import "blocks/price";
@import "blocks/clients";
@import "blocks/promo";
