<footer class="main__section footer">
  <div class="footer__container">
    <nav class="footer__menu menu">
      <ul class="menu__items">
        <li class="menu__item">
          <a class="menu__link" href="#">Shop</a>
        </li>
        <li class="menu__item">
          <a class="menu__link" href="#">Games</a>
        </li>
        <li class="menu__item">
          <a class="menu__link" href="#">Metaverse</a>
        </li>
        <li class="menu__item">
          <a class="menu__link" href="#">Contact us</a>
        </li>
      </ul>
    </nav>
    <a class="footer__logo logo" href="#">
      <picture>
        <source type="image/avif" srcset="../images/logo.avif">
        <source type="image/webp" srcset="../images/logo.webp">
        <img class="logo__img" src="../images/logo.png" alt="logo company oculus" loading="lazy">
      </picture>
    </a>
    <ul class="footer__socials">
      <li class="footer__social">
        <a class="footer__social-link" href="#" title="go to youtube">
          <span class="hidden">go to youtube</span>
          <img class="footer__social-img" src="../images/footer/youtube.svg" alt="">
        </a>
      </li>
      <li class="footer__social">
        <a class="footer__social-link" href="#" title="go to facebook">
          <span class="hidden">go to facebook</span>
          <img class="footer__social-img" src="../images/footer/facebook.svg" alt="">
        </a>
      </li>
      <li class="footer__social">
        <a class="footer__social-link" href="#" title="go to instagram">
          <span class="hidden">go to instagram</span>
          <img class="footer__social-img" src="../images/footer/inst.svg" alt="">
        </a>
      </li>
    </ul>
  </div>
</footer>
</div>

<script src="js/script.min.js"></script>
</body>

</html>