.logo {
  width: clampAd(80, 135);

  @include big-mobile {
    width: 32px;
  }
  // .logo--big
  &--one {
    @include big-mobile {
      width: clampAd(80, 135);
    }
  }

  img {
    display: block;
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
}
