.menu {
  @include big-mobile {
    position: fixed;
    z-index: 3;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100%;
    height: 100%;
    transition: all 0.4s linear;
    transform: translateY(-100%);
    overflow: auto;
    overflow-x: hidden;
    background: $color-accent;
  }

  &.menu--active {
    @include big-mobile {
      transform: translateY(0);
    }
  }

  // .menu__items
  &__items {
    display: flex;
    align-items: center;
    gap: 20px clampAd(20, 40);

    @include big-mobile {
      padding: 100px 0;
      min-height: 100%;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }
  // .menu__item
  &__item {
  }
  // .menu__link
  &__link {
    font-weight: 500;
    font-size: 12px;
    text-align: center;
    color: $color-white;
    white-space: nowrap;
    transition: all 0.3s linear;

    @media (any-hover: hover) {
      &:hover:not(.menu__link--active) {
        color: $color-accent;
      }
    }

    &--active {
      cursor: default;
    }

    @include big-mobile {
      color: $color-white;
      font-size: 20px;
    }
  }
}
