@media (max-width: 991.98px) {
  .clients {
    transform: translateY(0);

    &__inner {
      margin-left: 0;
      margin-bottom: 50px;
    }
  }

  .footer {
    &__item {
      &:last-child {
        padding-left: 0;
        border: none;
      }
    }
  }
}

@media (max-width: 767.98px) {
  .menu {
    width: 80%;
  }

  .about {
    &__item {
      &:nth-child(odd) {
        .about__blockquote {
          transform: translateY(-20%);
          max-width: 80%;
          position: relative;
          left: 15px;
          top: -20%;
        }
      }
    }
    &__blockquote {
      transform: translateY(-20%) translateX(15px);
      max-width: 80%;
      position: static;
    }
  }

  .strategy {
    &__container {
      flex-wrap: wrap;
    }
    &__content {
      max-width: 100%;
    }
    &__blockquote {
      max-width: 100%;
    }
  }
}

@media (max-width: 575.98px) {
  .action {
    padding-top: 50px;
    transform: translateY(0);

    &__wrapper {
      margin-right: 0;
    }
  }

  .destination {
    &__link {
      margin-top: 0;
    }
  }
}

@media (max-width: 479.98px) {
  .footer {
    &__top-info {
      flex-direction: column;
    }
    &__items {
      grid-template-columns: 1fr;
    }
    &__item {
      &:last-child {
        grid-column: span 1;
      }
    }
    &__bottom {
      flex-direction: column;
    }
  }
}

@media (max-height: 700.98px) {
  .intro {
    &__container {
      padding-top: 100px;
    }
  }
}
