@import "components/mixin";

.main-title {
  @include WorkSans600;
  font-size: clampAd(60, 250);
  line-height: 1;

  text-shadow: 0 4px 4px 0 rgba($black, 0.25);
}

.title {
  @include WorkSans500;
  font-size: clampAd(18, 40);
  line-height: 1.3;
  text-transform: uppercase;
  color: $black;

  &--center {
    text-align: center;
  }

  &--lowercase {
    text-transform: none;
  }
}

.subtitle {
}
