@import "components/_resetStyle";

@import url("https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,400;1,300&family=Open+Sans:ital,wght@0,300;0,400;0,600;1,300&display=swap");
//Страница
$widthReportMax: 1600;
$widthReportMin: 360;
$maxWidthContainer: 1240px; //максимальная ширина контейнера + padding left + padding right
$containerPadding: 20px; //внутринние отступы в контейнере

//Шрифт
$fontFamily: "Open Sans", sans-serif;
$mainColor: #151618; //основной цвет шрифта
$mainBackGround: #ffffff; //основной цвет фона
$mainSize: 20;
$lineheight: calc(30 / $mainSize);
$fontWeight: 300;

$color-accent: #ffffff;

//Контейнер
[class*="__container"] {
  max-width: $maxWidthContainer;
  margin: 0 auto;
  padding: 0 $containerPadding;
}

//Бургер меню
[class*="__burger"] {
  display: none;
  flex-direction: column;
  row-gap: 4px;
  cursor: pointer;

  span {
    width: 40px;
    height: 2px;
    background: #000000;
    transition: all 0.3s linear;
  }
}

/*Для контейнера картинок в карточках - технический класс*/
[class*="__ibg"] {
  position: relative;
  /*Для самих картинок в карточках технический класс*/
  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

body {
  font-family: $fontFamily;
  background-color: $mainBackGround;
  color: $mainColor;
  font-size: $mainSize + px;
  line-height: $lineheight;
  font-weight: $fontWeight;

  &.lock {
    overflow: hidden;
  }
}
.wrapper {
  transition: all 0.3s linear;

  &.wrapper--active {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
      width: 100%;
      height: 100%;
      background: rgba(#000000, 0.5);
    }
  }
}

.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main {
  flex: 1 1 auto;
}

.close {
  display: none;
  width: 20px;
  height: 20px;
  background: url(../images/header/close.svg) center/cover no-repeat;
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 2;
}

.logo {
  width: 73px;
  height: 105px;
  // .logo__img
  &__img {
    width: 100%;
    object-fit: cover;
  }
}

.menu {
  // .menu__items
  &__items {
    display: flex;
  }
  // .menu__item
  &__item {
    &:not(:last-child) {
      margin-right: clamp(20px, calc(20px + (65 - 20) * ((100vw - 768px) / ($widthReportMax - 768))), 65px);
    }
  }
  // .menu__link
  &__link {
    font-size: 18px;
    font-weight: 400;
    transition: all 0.3s linear;

    @media (any-hover: hover) and (min-width: 992px) {
      &:hover {
        text-shadow: 0 0 1px $mainColor;
      }
    }
  }
  // .menu__dop
  &__dop {
  }
}

.title {
  font-family: "Cormorant", serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.2;
}

.dop-menu {
  display: none;
  // .dop-menu__items
  &__items {
    padding: 60px 0;
    text-align: center;
  }
  // .dop-menu__item
  &__item {
    &:not(:last-child) {
      margin-bottom: 18px;
    }
  }
  // .dop-menu__link
  &__link {
    font-size: 13px;
    color: #000000;
  }
  // .dop-menu__actions
  &__actions {
    padding: 15px 0;
    background: #f7f2ea;
    display: flex;
    justify-content: center;
    column-gap: 70px;
  }
  // .dop-menu__action
  &__action {
  }
  // .dop-menu__btn
  &__btn {
  }
  // .dop-menu__icon
  &__icon {
  }
}

.btn {
  display: inline-block;
  text-align: center;
  padding: 12px 42px;
  border: 1px solid #151618;
  background: #ffffff;
  transition: all 0.3s linear;

  @media (any-hover: hover) and (min-width: 992px) {
    &:hover {
      color: #ffffff;
      background: #151618;
    }
  }
}

@import "module/_header";
@import "module/_intro";
@import "module/_product";
@import "module/_clients";
@import "module/_blog";
@import "module/_subscribe";
@import "module/_prioritise";
@import "module/_footer";
@import "components/_adaptive";
