body {
  font-family: $fontFamily;
  background-color: $mainBackGround;
  color: $mainColor;
  font-size: clampAd(12, $mainSize);
  line-height: $lineheight;
  font-weight: $fontWeight;

  &.lock {
    overflow: hidden;
  }
}

* {
  &:focus {
    transition: $transition;
    outline-color: $color-accent;
    outline-offset: 5px;
  }
}
