.menu {
  @include mobile {
    position: fixed;
    z-index: 3;
    top: 0;
    right: 0;
    width: 70%;
    min-height: 100%;
    height: 100%;
    transition: all 0.4s linear;
    transform: translateX(100%);
    overflow: auto;
    overflow-x: hidden;
    background: $color-light;
  }

  &.menu--active {
    @include mobile {
      transform: translateX(0);
    }
  }

  // .menu__items
  &__items {
    display: flex;
    align-items: center;
    gap: 30px clampAd(30, 56);

    @include mobile {
      padding: 100px 0;
      min-height: 100%;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }
  // .menu__item
  &__item {
    display: flex;
  }
  // .menu__link
  &__link {
    line-height: calc(19 / 16);

    color: $color-dark-1;

    white-space: nowrap;
    transition: all 0.3s linear;

    @media (any-hover: hover) {
      &:hover:not(.menu__link--active) {
        color: $color-accent;
      }
    }

    &--active {
      cursor: default;
    }

    @include mobile {
      font-size: 20px;
    }
  }
}
