<footer class="footer">
  <div class="footer__container">
    <div class="footer__top">
      <div class="footer__item footer__item--subscription">
        <p class="footer__name">
          Join our newsletter to&nbsp;stay up&nbsp;to&nbsp;date on&nbsp;features and releases.
        </p>
        <form class="footer__form" action="#" method="post">
          <label class="hidden" for="email">Enter your email</label>
          <input class="footer__input" id="email" type="email" placeholder="Email" required>
          <button class="footer__btn btn btn--accent" type="submit">
            Subscribe
          </button>
        </form>
        <span class="footer__text">
          By&nbsp;subscribing you agree to&nbsp;with our
        </span>
        <a class="footer__policy" href="#">
          Privacy Policy
        </a>
      </div>
      <div class="footer__item">
        <p class="footer__name">
          Pages
        </p>
        <nav class="footer__menu">
          <ul class="footer__list">
            <li class="footer__point">
              <a class="footer__link" href="#">
                Home
              </a>
            </li>
            <li class="footer__point">
              <a class="footer__link" href="#">
                About
              </a>
            </li>
            <li class="footer__point">
              <a class="footer__link" href="#">
                Contact
              </a>
            </li>
            <li class="footer__point">
              <a class="footer__link" href="#">
                Blog
              </a>
            </li>
            <li class="footer__point">
              <a class="footer__link" href="#">
                Courses
              </a>
            </li>
            <li class="footer__point">
              <a class="footer__link" href="#">
                Teachers
              </a>
            </li>
          </ul>
        </nav>
      </div>
      <div class="footer__item">
        <p class="footer__name">
          CMS Pages
        </p>
        <nav class="footer__menu">
          <ul class="footer__list">
            <li class="footer__point">
              <a class="footer__link" href="#">
                Blog Post
              </a>
            </li>
            <li class="footer__point">
              <a class="footer__link" href="#">
                Blog Categories
              </a>
            </li>
            <li class="footer__point">
              <a class="footer__link" href="#">
                Courses Single
              </a>
            </li>
            <li class="footer__point">
              <a class="footer__link" href="#">
                Courses Categories
              </a>
            </li>
            <li class="footer__point">
              <a class="footer__link" href="#">
                Product Page
              </a>
            </li>
            <li class="footer__point">
              <a class="footer__link" href="#">
                Product Categories
              </a>
            </li>
            <li class="footer__point">
              <a class="footer__link" href="#">
                Teachers Single
              </a>
            </li>
            <li class="footer__point">
              <a class="footer__link" href="#">
                Episode Single
              </a>
            </li>
          </ul>
        </nav>
      </div>
      <div class="footer__item">
        <p class="footer__name">
          Account Pages
        </p>
        <nav class="footer__menu">
          <ul class="footer__list">
            <li class="footer__point">
              <a class="footer__link" href="#">
                Login
              </a>
            </li>
            <li class="footer__point">
              <a class="footer__link" href="#">
                Sign Up
              </a>
            </li>
            <li class="footer__point">
              <a class="footer__link" href="#">
                Forgot Password
              </a>
            </li>
            <li class="footer__point">
              <a class="footer__link" href="#">
                Reset Password
              </a>
            </li>
            <li class="footer__point">
              <a class="footer__link" href="#">
                Email Confirmation
              </a>
            </li>
          </ul>
        </nav>
      </div>
      <div class="footer__item">
        <p class="footer__name">
          Utility Pages
        </p>
        <nav class="footer__menu">
          <ul class="footer__list">
            <li class="footer__point">
              <a class="footer__link" href="#">
                Style Guide
              </a>
            </li>
            <li class="footer__point">
              <a class="footer__link" href="#">
                Changelog
              </a>
            </li>
            <li class="footer__point">
              <a class="footer__link" href="#">
                Licenses
              </a>
            </li>
            <li class="footer__point">
              <a class="footer__link" href="#">
                404
              </a>
            </li>
            <li class="footer__point">
              <a class="footer__link" href="#">
                Password
              </a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
    <div class="footer__bottom">
      <p class="footer__copy">
        &copy;&nbsp;Learnico by Minimal Square. Powered by Webflow.
      </p>
      <ul class="footer__socials">
        <li class="footer__social">
          <a class="footer__social-link" href="#" title="go to facebook" aria-label="go to facebook">
            <img class="footer__icon" src="../images/icons/facebook.svg" alt="icon facebook">
          </a>
        </li>
        <li class="footer__social">
          <a class="footer__social-link" href="#" title="go to twitter" aria-label="go to twitter">
            <img class="footer__icon" src="../images/icons/twitter.svg" alt="icon twitter">
          </a>
        </li>
        <li class="footer__social">
          <a class="footer__social-link" href="#" title="go to instagram" aria-label="go to instagram">
            <img class="footer__icon" src="../images/icons/inst.svg" alt="icon instagram">
          </a>
        </li>
      </ul>
    </div>
  </div>
</footer>
</div>

<script src="js/script.min.js" defer></script>
</body>

</html>