<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scable=0" />
  <link rel="icon" type="image/icon" href="favicon.ico" sizes="16x16">
  <link rel="icon" type="image/icon" href="favicon.ico" sizes="32x32">
  <link rel="icon" type="image/icon" href="favicon.ico" sizes="64x64">
  <link rel="icon" type="image/svg+xml" href="images/favicons/favicon.svg">
  <link rel="apple-touch-icon" href="images/favicons/appeal-touch-icon.png">
  <link rel="stylesheet" href="css/style.min.css" />
  <title>Learnico</title>
</head>

<body>
  <div class="wrapper">
    <div class="dop">
      <div class="dop__container">
        <p class="dop__text">
          Create Award Winning Websites In&nbsp;Webflow
        </p>
        <button class="dop__btn" aria-label="close dop" title="close dop">
          <img src="../images/icons/close.svg" alt="close" width="18" height="18">
        </button>
      </div>
    </div>
    <header class="header">
      <div class="header__container">
        <nav class="header__menu menu">
          <ul class="menu__items">
            <li class="menu__item">
              <a class="menu__link" href="#">Home</a>
            </li>
            <li class="menu__item">
              <a class="menu__link" href="#">About</a>
            </li>
            <li class="menu__item">
              <a class="menu__link" href="#">Blog</a>
            </li>
            <li class="menu__item">
              <a class="menu__link" href="#">Contact</a>
            </li>
            <li class="menu__item">
              <a class="menu__link" href="#">Courses</a>
            </li>
          </ul>
        </nav>
        <ul class="header__actions">
          <li class="header__action">
            <a class="header__action-link header__action-link--search" href="#">
              <span>Search</span>
            </a>
          </li>
          <li class="header__action">
            <a class="header__action-link header__action-link--cart" href="#">
              <span>Cart</span>
            </a>
          </li>
          <li class="header__action">
            <a class="header__action-btn btn" href="#">
              Sign up
            </a>
          </li>
        </ul>
        <button class="header__burger" type="button">
          <span></span>
          <span></span>
          <span></span>
        </button>
      </div>
    </header>