<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scable=0" />
  <link rel="icon" type="image/ico" href="favicon.ico">
  <link rel="stylesheet" href="css/style.min.css" />
  <title>Михельсон Сергей</title>
</head>

<body>
  <div class="wrapper">
    <header class="header">
      <div class="header__container">
        <a class="header__logo logo" href="#">
          <img class="logo__img" src="images/header/logo.svg" alt="logo" width="150" height="32">
        </a>
        <nav class="header__menu menu">
          <ul class="menu__items">
            <li class="menu__item">
              <a class="menu__link" href="#interests">Виды услуг</a>
            </li>
            <li class="menu__item">
              <a class="menu__link" href="#about"> Обо мне</a>
            </li>
            <li class="menu__item">
              <a class="menu__link" href="#work"> Как я работаю</a>
            </li>
            <li class="menu__item">
              <a class="menu__link" href="#reviews">Отзывы</a>
            </li>
            <li class="menu__item">
              <a class="menu__link" href="#contacts">Контакты</a>
            </li>
            <li class="menu__item ">
              <a class="menu__btn btn hidden" href="#">
                Заказать звонок
              </a>
            </li>
          </ul>
        </nav>
        <div class="header__actions">
          <a class="header__link" href="tel:+74951234567">
            <span>
              Звоните прямо сейчас!
            </span>
            +7 495 123-45-67
          </a>
          <a class="header__btn btn" href="#">Заказать звонок</a>
        </div>
        <div class="header__burger">
          <span></span>
          <span></span>
          <span></span>
        </div>
      </div>
    </header>