<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scable=0" />
  <meta name="description" content="">
  <meta name="keywords" content="">
  <link rel="icon" type="image/icon" href="favicon.ico" sizes="16x16">
  <link rel="icon" type="image/icon" href="favicon.ico" sizes="32x32">
  <link rel="icon" type="image/icon" href="favicon.ico" sizes="64x64">
  <link rel="icon" type="image/svg+xml" href="images/favicons/favicon.svg">
  <link rel="apple-touch-icon" href="images/favicons/appeal-touch-icon.png">
  <link rel="stylesheet" href="css/style.min.css" />
  <title>2rsim</title>
</head>

<body>
  <div class="wrapper">
    <header class="header">
      <div class="header__container">
        <a class="header__logo logo" href="#" aria-label="logo company 2rsim" title="logo company 2rsim">
          <img class="logo__img" src="images/logo.svg" alt="logo 2rsim" loading="lazy" width="87" height="35">
        </a>
        <nav class="header__menu menu">
          <ul class="menu__items">
            <li class="menu__item">
              <a class="menu__link menu__link--active" href="#">Home</a>
            </li>
            <li class="menu__item">
              <a class="menu__link" href="#">Hotels</a>
            </li>
            <li class="menu__item">
              <a class="menu__link" href="#">Restaurans</a>
            </li>
            <li class="menu__item">
              <a class="menu__link" href="#">Tours</a>
            </li>
            <li class="menu__item">
              <a class="menu__link" href="#">Destinations</a>
            </li>
            <li class="menu__item">
              <a class="menu__link" href="#">Activities</a>
            </li>
            <li class="menu__item">
              <a class="menu__link" href="#">Contact</a>
            </li>
          </ul>
        </nav>
        <div class="header__user">
          <a class="header__user-info" href="#">
            <span>Holla,</span> Ales Nesetril
          </a>
          <div class="header__user-image">
            <picture>
              <source type='image/avif' srcset='../images/main/users/1.avif, ../images/main/users/1_2x.avif 2x'>
              <source type='image/webp' srcset='../images/main/users/1.webp, ../images/main/users/1_2x.webp 2x'>
              <img class="header__user-img" src="../images/main/users/1.jpg" srcset="../images/main/users/1_2x.jpg 2x"
                alt="user 1" loading="lazy" width="48" height="48">
            </picture>
            <span class="header__user-status"></span>
          </div>
        </div>
        <button class="header__burger" type="button" aria-label="menu" title="menu">
          <span></span>
          <span></span>
          <span></span>
        </button>
      </div>
    </header>