/* ОБНУЛЕНИЕ СТИЛЕЙ */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}
li {
    list-style: none;
}

a {
    color: inherit;
}

a:focus {
    outline: none;
    text-shadow: 0 0 1px #000000;
}

a,
a:visited {
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}

button {
    padding: 0;
    margin: 0;
    color: inherit;
    font-size: inherit;
    font-family: inherit;
    font-weight: inherit;
    border: none;
    outline: none;
    background: transparent;
    cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
}
img {
    vertical-align: top;
}
html,
body {
    height: 100%;
}
html {
    font-size: 16px; /* по умолчанию */
    scroll-behavior: smooth;
    height: -webkit-fill-available;
}
body {
    min-width: 320px;
    line-height: 1;
    font-family: "Roboto";
    background: #f5f5f5;
}
.wrapper {
    min-height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    min-height: -webkit-fill-available;
}
