.contacts {
  padding: clamp(50px, calc(50px + (100 - 50) * ((100vw - 320px) / ($widthReportMax - $widthReportMin))), 100px) 0;
  // .contacts__container
  &__container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 50px;
  }
  // .contacts__content
  &__content {
    max-width: 500px;

    .contacts__text {
      max-width: 450px;
      margin-bottom: clamp(
        40px,
        calc(40px + (100 - 40) * ((100vw - 320px) / ($widthReportMax - $widthReportMin))),
        100px
      );
    }
  }
  // .contacts__title
  &__title {
    margin-bottom: 46px;
  }
  // .contacts__text
  &__text {
    font-size: clamp(18px, calc(18px + (24 - 18) * ((100vw - 320px) / ($widthReportMax - $widthReportMin))), 24px);
  }
  // .contacts__form
  &__form {
    display: flex;
    flex-direction: column;
    row-gap: 60px;
  }
  // .contacts__input
  &__input {
    //  width: 100%;
    padding-bottom: 20px;
    background: transparent;
    border-bottom: 1px solid $mainColor;
    font-size: 18px;
    color: $mainColor;

    &::placeholder {
      color: $mainColor;
      font-family: "SF Pro Display", sans-serif;
      font-size: 14px;
      font-weight: 400;
    }
  }
  // .contacts__btn
  &__btn {
  }
  // .contacts__guarantees
  &__guarantees {
    margin-left: auto;
    max-width: 600px;
    display: flex;
    flex-direction: column;
  }
  // .contacts__img
  &__img {
    max-width: 396px;
    width: 100%;
    align-self: flex-end;
  }
}
