.intro {
  background: image-set(
      url("../images/main/intro/bg.avif") type("image/avif"),
      url("../images/main/intro/bg.webp") type("image/webp"),
      url("../images/main/intro/bg.jpg")
    )
    center/cover no-repeat;

  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: rotate(180deg);
    background: linear-gradient(180deg, #010203 0%, rgba(1, 2, 3, 0) 100%);
  }

  // .intro__container
  &__container {
    min-height: 100vh;
    position: relative;
    z-index: 2;

    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  // .intro__box
  &__box {
    max-width: 600px;
  }
  // .intro__title
  &__title {
    text-align: center;
    font-family: "Space Age Cyrillic", sans-serif;
    font-size: clamp(30px, calc(30px + (60 - 30) * ((100vw - 320px) / ($widthReportMax - $widthReportMin))), 60px);
    line-height: 1;
    text-transform: uppercase;
    margin-bottom: 10px;
    span {
      font-size: clamp(55px, calc(55px + (110 - 55) * ((100vw - 320px) / ($widthReportMax - $widthReportMin))), 110px);
      text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
  }
  // .intro__text
  &__text {
    font-size: clamp(20px, calc(20px + (24 - 20) * ((100vw - 320px) / ($widthReportMax - $widthReportMin))), 24px);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: clamp(30px, calc(30px + (49 - 30) * ((100vw - 320px) / ($widthReportMax - $widthReportMin))), 49px);
  }
  // .intro__btn
  &__btn {
    width: 100%;
  }
  // .intro__info
  &__info {
    align-self: flex-end;
    max-width: 380px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 10px;
    position: absolute;
    bottom: 10%;
    right: 15px;
  }
  // .intro__info-text
  &__info-text {
    max-width: 165px;
    font-size: 14px;
  }
}
