.menu {
  // .menu__items
  &__items {
    display: flex;
    align-items: center;
    gap: 20px clampAd(15, 35);
  }
  // .menu__item
  &__item {
    &--mobile {
      display: none;
    }
  }
  // .menu__link
  &__link {
    @include BaiJamjuree600;
    color: $color-dark;
    white-space: nowrap;
    transition: all 0.3s linear;

    @media (any-hover: hover) {
      &:hover {
        color: $color-accent-1;
      }
    }
    &--active {
      color: $color-accent-1;
      cursor: default;
    }
  }
}
