@font-face {
  font-family: "Roboto";
  src: url("../../fonts/Roboto-Regular.woff2") format("woff2"), url("../../fonts/Roboto-Regular.woff") format("woff");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  display: inline-block;
  color: inherit;
}

/*
a:focus {
    text-shadow: 0 0 1px #000000;
}
*/

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

button {
  padding: 0;
  margin: 0;
  color: inherit;
  font-size: inherit;
  font-family: inherit;
  font-weight: inherit;
  border: none;
  background: transparent;
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

/*
img {
  vertical-align: top;
}
*/

img {
  display: block;
}

html,
body {
  height: 100%;
}

input,
textarea {
  cursor: pointer;
  font-size: inherit;
  font-family: inherit;
  font-weight: inherit;
  color: inherit;
}

input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
  display: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input::-webkit-calendar-picker-indicator {
  display: none;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 0;
}

html {
  scroll-behavior: smooth;
  height: -webkit-fill-available;
}

body {
  min-width: 320px;
  line-height: 1;
  font-family: "Roboto";
  background: #f5f5f5;
}

.wrapper {
  position: relative;
  min-height: 100vh;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: -webkit-fill-available;
}

[class*=__container] {
  max-width: 1065px;
  margin: 0 auto;
  padding: 0 15px;
}

[class*=__left-container] {
  padding-left: calc((100% - 1035px) / 2 - 15px);
  margin-left: 15px;
}

[class*=__right-container] {
  padding-right: calc((100% - 1035px) / 2 - 15px);
  margin-right: 15px;
}

[class*=__burger] {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  row-gap: 4px;
  cursor: pointer;
}

[class*=__burger] span {
  width: 30px;
  height: 3px;
  background: #ffffff;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

[class*=__burger] span:nth-child(2) {
  width: 20px;
}

[class*=__burger].header__burger--active span:nth-child(1) {
  -webkit-transform: rotate(135deg) translateY(-10px) translateX(10px);
      -ms-transform: rotate(135deg) translateY(-10px) translateX(10px);
          transform: rotate(135deg) translateY(-10px) translateX(10px);
}

[class*=__burger].header__burger--active span:nth-child(2) {
  opacity: 0;
}

[class*=__burger].header__burger--active span:nth-child(3) {
  -webkit-transform: rotate(-135deg);
      -ms-transform: rotate(-135deg);
          transform: rotate(-135deg);
}

[class*=__ibg] {
  position: relative;
}

[class*=__ibg] img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #ffffff;
  color: #2e2c34;
  font-size: clamp(14px, 14px + 4 * (100vw - 320px) / 960, 18px);
  line-height: 1.2222222222;
  font-weight: 400;
}

body.lock {
  overflow: hidden;
}

.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.main__section {
  margin-bottom: clamp(40px, 40px + 30 * (100vw - 320px) / 960, 70px);
}

.text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 15px;
}

.container-full {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.none {
  display: none;
}

.logo {
  width: clamp(80px, 80px + 44 * (100vw - 320px) / 960, 124px);
  height: clamp(40px, 40px + 30 * (100vw - 320px) / 960, 70px);
}

.logo img {
  display: block;
  max-width: 100%;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
}

.menu__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px clamp(20px, 20px + 13 * (100vw - 320px) / 960, 33px);
}

.menu__link {
  white-space: nowrap;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.menu__link--active {
  cursor: default;
}

.form__content {
  position: relative;
  padding: 12px 16px;
  border-radius: 16px;
  background: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 10px;
     -moz-column-gap: 10px;
          column-gap: 10px;
  margin-bottom: clamp(15px, 15px + 10 * (100vw - 320px) / 960, 25px);
}

.form__content:focus-within {
  background: #f1eef8;
}

.form__input {
  width: 100%;
  background: transparent;
  outline: none;
  font-size: 16px;
  line-height: 1.3;
  color: #2e2c34;
}

.form__input::-webkit-input-placeholder {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.3;
  color: rgba(73, 70, 79, 0.8);
}

.form__input::-moz-placeholder {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.3;
  color: rgba(73, 70, 79, 0.8);
}

.form__input:-ms-input-placeholder {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.3;
  color: rgba(73, 70, 79, 0.8);
}

.form__input::-ms-input-placeholder {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.3;
  color: rgba(73, 70, 79, 0.8);
}

.form__input::placeholder {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.3;
  color: rgba(73, 70, 79, 0.8);
}

.form__btn {
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.form__text {
  font-size: clamp(10px, 10px + 4 * (100vw - 320px) / 960, 14px);
  line-height: 1.5;
}

.btn {
  padding: clamp(8px, 8px + 4 * (100vw - 320px) / 960, 12px) clamp(30px, 30px + 20 * (100vw - 320px) / 960, 50px);
  background: #7140eb;
  border-radius: 100px;
  border: 1px solid transparent;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  color: #ffffff;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.btn--reverse {
  color: #2e2c34;
  border-color: currentColor;
  background: transparent;
}

.btn--icon {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: clamp(5px, 5px + 5 * (100vw - 320px) / 960, 10px);
     -moz-column-gap: clamp(5px, 5px + 5 * (100vw - 320px) / 960, 10px);
          column-gap: clamp(5px, 5px + 5 * (100vw - 320px) / 960, 10px);
}

.btn--icon::after {
  content: "";
  width: 15px;
  height: 13px;
  background: url(../../images/icons/arrow-right.svg) center/contain no-repeat;
}

.main-title {
  font-size: clamp(40px, 40px + 59 * (100vw - 320px) / 960, 99px);
  line-height: 1.12;
  letter-spacing: 0.05em;
  text-align: center;
}

.title {
  font-size: clamp(30px, 30px + 37 * (100vw - 320px) / 960, 67px);
  line-height: 1;
}

.socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px 10px;
}

.socials__link {
  width: 18px;
  height: 18px;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.accardeon {
  width: 100%;
}

.accardeon__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: clamp(30px, 30px + 15 * (100vw - 320px) / 960, 45px);
}

.accardeon__item {
  padding-left: 45px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 0px;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
  position: relative;
}

.accardeon__item::before {
  content: "";
  position: absolute;
  top: 2px;
  left: 0;
  width: 18px;
  height: 18px;
  background: url(../../images/icons/plus.svg) center/cover no-repeat;
}

.accardeon__item--active {
  row-gap: clamp(10px, 10px + 6 * (100vw - 320px) / 960, 16px);
}

.accardeon__item--active::before {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.accardeon__name {
  font-size: clamp(16px, 16px + 4 * (100vw - 320px) / 960, 20px);
  text-align: left;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.accardeon__text {
  opacity: 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.accardeon__text--active {
  opacity: 1;
}

.header {
  padding: 15px 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  color: #ffffff;
}

.header__container {
  max-width: 1230px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 20px clamp(30px, 30px + 20 * (100vw - 320px) / 960, 50px);
}

.header__logo {
  margin-right: auto;
  position: relative;
  z-index: 4;
}

.header__languages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 15px;
  position: relative;
  z-index: 4;
}

.header__language {
  font-size: clamp(14px, 14px + 3 * (100vw - 320px) / 960, 17px);
  line-height: 1;
  text-transform: capitalize;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.header__btn {
  position: relative;
  z-index: 4;
}

.header__burger {
  position: relative;
  z-index: 4;
}

.card {
  padding: clamp(20px, 20px + 12 * (100vw - 320px) / 960, 32px) clamp(16px, 16px + 8 * (100vw - 320px) / 960, 24px);
  color: #49464f;
  border-radius: 16px;
  background: #ffffff;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.card--background {
  background: #f5f5f7;
}

.card__ibg {
  -ms-flex-item-align: stretch;
      align-self: stretch;
  padding: 0px 0px 80% 0px;
}

.card__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 10px;
  margin-bottom: clamp(20px, 20px + 17 * (100vw - 320px) / 960, 37px);
}

.card__price {
  font-size: clamp(12px, 12px + 5 * (100vw - 320px) / 960, 17px);
}

.card__price span {
  font-size: clamp(14px, 14px + 4 * (100vw - 320px) / 960, 18px);
}

.card__sale {
  padding: 1px 10px;
  border-radius: 100px;
  background: #f1eef8;
  font-size: clamp(12px, 12px + 4 * (100vw - 320px) / 960, 16px);
  line-height: 1.5;
  text-align: center;
  color: #7140eb;
}

.card__title {
  font-size: clamp(18px, 18px + 11 * (100vw - 320px) / 960, 29px);
  line-height: 1.18;
  text-transform: capitalize;
}

.card__subtitle {
  margin-bottom: 10px;
}

.card__btn {
  margin-top: auto;
  padding: clamp(15px, 15px + 6 * (100vw - 320px) / 960, 21px) clamp(20px, 20px + 18 * (100vw - 320px) / 960, 38px);
}

.intro {
  background: -webkit-image-set(url("../images/main/bg.avif") type("image/avif"), url("../images/main/bg@2x.avif") 2x type("image/avif"), url("../images/main/bg.webp") type("image/webp"), url("../images/main/bg@2x.webp") 2x type("image/webp"), url("../images/main/bg.jpg"), url("../images/main/bg@2x.jpg") 2x) center/cover no-repeat;
  background: image-set(url("../images/main/bg.avif") type("image/avif"), url("../images/main/bg@2x.avif") 2x type("image/avif"), url("../images/main/bg.webp") type("image/webp"), url("../images/main/bg@2x.webp") 2x type("image/webp"), url("../images/main/bg.jpg"), url("../images/main/bg@2x.jpg") 2x) center/cover no-repeat;
  color: #ffffff;
}

.intro__container {
  min-height: 100svh;
  padding-block: clamp(100px, 100px + 50 * (100vw - 320px) / 960, 150px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.intro__content {
  max-width: clamp(250px, 250px + 300 * (100vw - 320px) / 960, 550px);
  width: 100%;
}

.intro__title {
  margin-bottom: clamp(20px, 20px + 17 * (100vw - 320px) / 960, 37px);
}

.intro__text {
  max-width: clamp(230px, 230px + 70 * (100vw - 320px) / 960, 300px);
  font-size: clamp(16px, 16px + 5 * (100vw - 320px) / 960, 21px);
  line-height: 1;
  margin: 0 auto clamp(30px, 30px + 27 * (100vw - 320px) / 960, 57px);
}

.works {
  color: #49464f;
}

.works__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  gap: 20px 5px;
}

.works__content {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 clamp(290px, 290px + 100 * (100vw - 320px) / 960, 390px);
          flex: 0 0 clamp(290px, 290px + 100 * (100vw - 320px) / 960, 390px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  row-gap: clamp(30px, 30px + 40 * (100vw - 320px) / 960, 70px);
}

.works__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  row-gap: clamp(16px, 16px + 8 * (100vw - 320px) / 960, 24px);
  counter-reset: num;
}

.works__point {
  font-size: clamp(18px, 18px + 10 * (100vw - 320px) / 960, 28px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: clamp(10px, 10px + 5 * (100vw - 320px) / 960, 15px);
     -moz-column-gap: clamp(10px, 10px + 5 * (100vw - 320px) / 960, 15px);
          column-gap: clamp(10px, 10px + 5 * (100vw - 320px) / 960, 15px);
}

.works__point::before {
  content: counter(num) ".";
  counter-increment: num;
}

.works__btn {
  padding: clamp(15px, 15px + 5 * (100vw - 320px) / 960, 20px) clamp(30px, 30px + 24 * (100vw - 320px) / 960, 54px);
}

.works__image {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 clamp(500px, 500px + 269 * (100vw - 320px) / 960, 769px);
          flex: 0 0 clamp(500px, 500px + 269 * (100vw - 320px) / 960, 769px);
}

.works__img {
  display: block;
  max-width: 100%;
  max-height: 100%;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.products {
  padding: clamp(30px, 30px + 40 * (100vw - 320px) / 960, 70px) 0;
  background: #f5f5f7;
}

.products__title {
  margin-bottom: clamp(20px, 20px + 7 * (100vw - 320px) / 960, 27px);
}

.products__text {
  font-size: clamp(16px, 16px + 4 * (100vw - 320px) / 960, 20px);
  margin-bottom: clamp(30px, 30px + 18 * (100vw - 320px) / 960, 48px);
}

.products__items {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(clamp(180px, 180px + 154 * (100vw - 320px) / 960, 334px), 1fr));
  grid-auto-flow: dense;
  gap: 20px 16px;
}

.about {
  padding: clamp(40px, 40px + 30 * (100vw - 320px) / 960, 70px) 0;
  background: #f5f5f7;
}

.about__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px clamp(10px, 10px + 5 * (100vw - 320px) / 960, 15px);
}

.about__content {
  max-width: clamp(320px, 320px + 103 * (100vw - 320px) / 960, 423px);
  width: 100%;
}

.about__title {
  margin-bottom: clamp(20px, 20px + 5 * (100vw - 320px) / 960, 25px);
}

.about__text {
  max-width: 71%;
  margin-bottom: clamp(20px, 20px + 20 * (100vw - 320px) / 960, 40px);
}

.about__btn {
  padding: clamp(8px, 8px + 4 * (100vw - 320px) / 960, 12px) clamp(20px, 20px + 18 * (100vw - 320px) / 960, 38px);
}

.about__image {
  max-width: clamp(350px, 350px + 247 * (100vw - 320px) / 960, 597px);
}

.about__img {
  display: block;
  max-width: 100%;
  max-height: 100%;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.promo {
  background: -webkit-image-set(url("../images/main/promo/bg.avif") type("image/avif"), url("../images/main/promo/bg@2x.avif") 2x type("image/avif"), url("../images/main/promo/bg.webp") type("image/webp"), url("../images/main/promo/bg@2x.webp") 2x type("image/webp"), url("../images/main/promo/bg.jpg"), url("../images/main/promo/bg@2x.jpg") 2x) center/cover no-repeat;
  background: image-set(url("../images/main/promo/bg.avif") type("image/avif"), url("../images/main/promo/bg@2x.avif") 2x type("image/avif"), url("../images/main/promo/bg.webp") type("image/webp"), url("../images/main/promo/bg@2x.webp") 2x type("image/webp"), url("../images/main/promo/bg.jpg"), url("../images/main/promo/bg@2x.jpg") 2x) center/cover no-repeat;
  color: #ffffff;
}

.promo__container {
  min-height: 100svh;
  padding-block: clamp(30px, 30px + 40 * (100vw - 320px) / 960, 70px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
  position: relative;
  z-index: 1;
}

.promo__content {
  margin-top: auto;
  max-width: clamp(290px, 290px + 40 * (100vw - 320px) / 960, 330px);
  width: 100%;
}

.promo__title {
  margin-bottom: 10px;
}

.promo__text {
  max-width: 71%;
  font-size: clamp(16px, 16px + 5 * (100vw - 320px) / 960, 21px);
  line-height: 1.18;
  margin-bottom: clamp(20px, 20px + 10 * (100vw - 320px) / 960, 30px);
}

.promo__btn {
  padding: clamp(16px, 16px + 6 * (100vw - 320px) / 960, 22px) clamp(30px, 30px + 24 * (100vw - 320px) / 960, 54px);
  margin-bottom: clamp(20px, 20px + 10 * (100vw - 320px) / 960, 30px);
}

.promo__dop-text {
  line-height: 1.35;
}

.promo__list {
  max-width: clamp(350px, 350px + 150 * (100vw - 320px) / 960, 500px);
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  text-align: right;
}

.promo__point {
  font-size: clamp(50px, 50px + 50 * (100vw - 320px) / 960, 100px);
  line-height: 1.1;
  letter-spacing: 0.05em;
}

.charging__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 30px clamp(20px, 20px + 30 * (100vw - 320px) / 960, 50px);
}

.charging__content {
  max-width: 300px;
  width: 100%;
}

.charging__title {
  max-width: 260px;
  margin-bottom: clamp(18px, 18px + 9 * (100vw - 320px) / 960, 27px);
}

.charging__text {
  max-width: 80%;
  font-size: clamp(16px, 16px + 5 * (100vw - 320px) / 960, 21px);
  margin-bottom: clamp(20px, 20px + 16 * (100vw - 320px) / 960, 36px);
}

.charging__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  row-gap: clamp(10px, 10px + 6 * (100vw - 320px) / 960, 16px);
}

.charging__point {
  padding: clamp(5px, 5px + 2 * (100vw - 320px) / 960, 7px) clamp(10px, 10px + 6 * (100vw - 320px) / 960, 16px);
  background: #f5f5f7;
  border-radius: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: clamp(8px, 8px + 8 * (100vw - 320px) / 960, 16px);
     -moz-column-gap: clamp(8px, 8px + 8 * (100vw - 320px) / 960, 16px);
          column-gap: clamp(8px, 8px + 8 * (100vw - 320px) / 960, 16px);
  font-size: clamp(12px, 12px + 4 * (100vw - 320px) / 960, 16px);
  line-height: 1.35;
  color: #49464f;
}

.charging__point::before {
  content: "";
  width: clamp(10px, 10px + 6 * (100vw - 320px) / 960, 16px);
  height: clamp(10px, 10px + 6 * (100vw - 320px) / 960, 16px);
  background: url(../../images/icons/check.svg) center/contain no-repeat;
}

.charging__items {
  max-width: clamp(500px, 500px + 185 * (100vw - 320px) / 960, 685px);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(clamp(180px, 180px + 154 * (100vw - 320px) / 960, 334px), 1fr));
  grid-auto-flow: dense;
  gap: 20px 16px;
}

.charging__card .card__btn {
  padding: clamp(15px, 15px + 5 * (100vw - 320px) / 960, 20px) clamp(30px, 30px + 24 * (100vw - 320px) / 960, 54px);
}

.knowledge {
  padding: 70px 0;
  background: #f5f5f7;
}

.knowledge__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
}

.knowledge__content {
  max-width: 240px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  row-gap: clamp(30px, 30px + 20 * (100vw - 320px) / 960, 50px);
}

.knowledge__accardeon {
  max-width: 600px;
}

.reviews {
  color: #49464f;
}

.reviews__title {
  margin-bottom: clamp(40px, 40px + 60 * (100vw - 320px) / 960, 100px);
}

.reviews__items {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(clamp(180px, 180px + 76 * (100vw - 320px) / 960, 256px), 1fr));
  grid-auto-flow: column;
  -webkit-column-gap: clamp(30px, 30px + 100 * (100vw - 320px) / 960, 130px);
     -moz-column-gap: clamp(30px, 30px + 100 * (100vw - 320px) / 960, 130px);
          column-gap: clamp(30px, 30px + 100 * (100vw - 320px) / 960, 130px);
  -ms-scroll-snap-type: x mandatory;
      scroll-snap-type: x mandatory;
  overflow-x: scroll;
}

.reviews__items::-webkit-scrollbar {
  width: 0;
}

.reviews__item {
  width: clamp(180px, 180px + 76 * (100vw - 320px) / 960, 256px);
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: clamp(15px, 15px + 5 * (100vw - 320px) / 960, 20px);
  scroll-snap-align: start;
}

.reviews__text {
  font-size: clamp(18px, 18px + 10 * (100vw - 320px) / 960, 28px);
  line-height: 1;
}

.reviews__author {
  margin-top: auto;
  font-size: 17px;
  line-height: 1.4;
  font-style: normal;
}

.footer {
  padding: clamp(40px, 40px + 60 * (100vw - 320px) / 960, 100px) 0 clamp(10px, 10px + 10 * (100vw - 320px) / 960, 20px);
  background: -webkit-image-set(url("../images/main/bg.avif") type("image/avif"), url("../images/main/bg@2x.avif") 2x type("image/avif"), url("../images/main/bg.webp") type("image/webp"), url("../images/main/bg@2x.webp") 2x type("image/webp"), url("../images/main/bg.jpg"), url("../images/main/bg@2x.jpg") 2x) center/cover no-repeat;
  background: image-set(url("../images/main/bg.avif") type("image/avif"), url("../images/main/bg@2x.avif") 2x type("image/avif"), url("../images/main/bg.webp") type("image/webp"), url("../images/main/bg@2x.webp") 2x type("image/webp"), url("../images/main/bg.jpg"), url("../images/main/bg@2x.jpg") 2x) center/cover no-repeat;
  color: #ffffff;
}

.footer__container {
  max-width: 1150px;
}

.footer__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 50px 30px;
  margin-bottom: clamp(40px, 40px + 60 * (100vw - 320px) / 960, 100px);
}

.footer__info {
  max-width: 315px;
  width: 100%;
}

.footer__name {
  font-size: clamp(18px, 18px + 10 * (100vw - 320px) / 960, 28px);
  line-height: 1.18;
  margin-bottom: clamp(10px, 10px + 8 * (100vw - 320px) / 960, 18px);
}

.footer__text {
  font-size: clamp(12px, 12px + 4 * (100vw - 320px) / 960, 16px);
  line-height: 1.5;
  margin-bottom: clamp(20px, 20px + 10 * (100vw - 320px) / 960, 30px);
}

.footer__form {
  max-width: 100%;
}

.footer__nav {
  max-width: 655px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px clamp(0px, 0px + 90 * (100vw - 320px) / 960, 90px);
}

.footer__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  row-gap: 10px;
}

.footer__type {
  font-size: 16px;
  line-height: 1.5;
  color: rgba(255, 255, 255, 0.5);
}

.footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  row-gap: clamp(12px, 12px + 4 * (100vw - 320px) / 960, 16px);
}

.footer__link {
  font-size: 16px;
  line-height: 1.5;
  white-space: nowrap;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

@media (max-width: 991.98px) {
  .charging__container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .charging__content {
    max-width: 100%;
  }

  .charging__items {
    margin: 0 auto;
    max-width: 100%;
  }
}

@media (max-width: 767.98px) {
  .header__burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .menu {
    position: fixed;
    z-index: 3;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100%;
    height: 100%;
    -webkit-transition: all 0.4s linear;
    transition: all 0.4s linear;
    -webkit-transform: translateY(-100%);
        -ms-transform: translateY(-100%);
            transform: translateY(-100%);
    overflow: auto;
    overflow-x: hidden;
    background: #49464f;
  }

  .menu.menu--active {
    -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
            transform: translateY(0);
  }

  .menu__items {
    padding: 100px 0;
    min-height: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .menu__item--mobile {
    display: block;
  }

  .menu__link {
    color: #ffffff;
    font-size: 24px;
  }

  .works__container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .works__image {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }

  .about__container {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .about__content {
    max-width: 100%;
  }

  .promo {
    position: relative;
  }

  .promo::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
  }

  .promo__container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .promo__content {
    max-width: 100%;
    text-align: center;
  }

  .promo__text {
    max-width: 100%;
  }

  .promo__list {
    max-width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .knowledge__container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .knowledge__content {
    max-width: 100%;
  }

  .knowledge__accardeon {
    max-width: 100%;
  }

  .reviews__author {
    margin-top: 0;
  }

  .footer__top {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .footer__info {
    max-width: 80%;
  }

  .footer__nav {
    max-width: 100%;
    gap: 30px;
  }
}

@media (max-width: 479.98px) {
  .header__btn {
    display: none;
  }
}

@media (any-hover: hover) {
  .menu__link:hover:not(.menu__link--active) {
    color: #000000;
  }

  .form__btn:hover {
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
  }

  .btn:hover {
    opacity: 0.8;
  }

  .socials__link:hover {
    -webkit-transform: scale(1.2);
        -ms-transform: scale(1.2);
            transform: scale(1.2);
  }

  .header__language:hover {
    color: #000000;
  }

  .footer__link:hover {
    color: #000000;
  }
}