@import "components/mixin";

.form {
  width: 100%;

  display: flex;
  flex-direction: column;
  row-gap: clampAd(20, 45);

  // .form__item
  &__item {
    border-bottom: 1px solid $color-border;
    padding-bottom: clampAd(10, 17);
    transition: all 0.3s linear;

    &:has(.form__input:focus, .form__textarea:focus) {
      border-color: $color-accent;
    }
  }
  // .form__input
  &__input {
    width: 90%;
    font-size: clampAd(14, 20);
    line-height: calc(26 / 20);
    outline: none;

    &::placeholder {
      $fontFamily: "Red Hat Display", sans-serif;
      font-weight: 400;
      font-size: clampAd(14, 20);
      line-height: calc(26 / 20);
      color: $color-placeholder;
    }
  }
  // .form__textarea
  &__textarea {
    width: 90%;
    font-size: clampAd(14, 20);
    line-height: calc(26 / 20);
    outline: none;

    &::placeholder {
      $fontFamily: "Red Hat Display", sans-serif;
      font-weight: 400;
      font-size: clampAd(14, 20);
      line-height: calc(26 / 20);
      color: $color-placeholder;
    }
  }
  // .form__actions
  &__actions {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px;
  }
  // .form__btn
  &__btn {
  }
  // .form__file
  &__file {
    display: flex;
  }
  // .form__file-input
  &__file-input {
    display: none;

    &:hover + .form__label {
      transform: scale(1.1);
    }
  }
  // .form__label
  &__label {
    display: flex;
    padding-right: clampAd(30, 46);
    position: relative;
    transition: all 0.3s linear;

    &::after {
      content: "";
      position: absolute;
      top: 50%;
      right: 0;
      transform: translateY(-50%);
      width: clampAd(20, 24);
      height: clampAd(20, 24);
      background: url(../../images/icons/arrow-right.svg) center/cover no-repeat;
      transition: all 0.3s linear;
    }
  }
}

textarea {
  resize: none;
}
textarea.auto {
  overflow-y: hidden;
}
