@import "components/mixin";

.menu {
  @include w_767 {
    padding-inline: 30px;
    position: fixed;
    z-index: 3;
    top: 0;
    right: 0;
    min-width: 70%;
    min-height: 100%;
    height: 100%;
    transition: all 0.4s linear;
    transform: translateX(100%);
    overflow: auto;
    overflow-x: hidden;
    background: rgba($color-dop, 0.98);
  }

  &.menu--active {
    @include w_767 {
      transform: translateX(0);
    }
  }

  // .menu__items
  &__items {
    display: flex;
    align-items: center;
    gap: 20px clampAd(20, 30);

    @include w_767 {
      padding: 100px 0;
      min-height: 100%;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }
  // .menu__item
  &__item {
  }
  // .menu__link
  &__link {
    font-weight: 500;
    font-size: 20px;
    line-height: calc(26 / 20);
    color: $color-dop;

    white-space: nowrap;
    transition: all 0.3s linear;

    @media (any-hover: hover) {
      &:hover:not(.menu__link--active) {
        color: $color-accent;
      }
    }

    &--active {
      color: $color-dark;
      cursor: default;
    }

    @include w_767 {
      font-size: 26px;
      color: $white;
    }
  }
}
