<footer class="footer">
  <div class="footer__container">
    <div class="footer__inner">
      <div class="footer__content">
        <a class="footer__logo logo logo--big" href="#" aria-label="logo company Forma Studio"
          title="logo company Forma Studio">
          <img src="images/logo/logo-big.svg" alt="logo" loading="lazy" width="235" height="150">
        </a>
        <p class="footer__copy">
          &copy; 2010-2025 Bureau
        </p>
      </div>
      <nav class="footer__nav">
        <ul class="footer__items">
          <li class="footer__item">
            <ul class="footer__list">
              <li class="footer__point">
                <a class="footer__link" href="#">
                  About studio
                </a>
              </li>
              <li class="footer__point">
                <a class="footer__link" href="#">
                  PRICES
                </a>
              </li>
              <li class="footer__point">
                <a class="footer__link" href="#">
                  PROJECTS
                </a>
              </li>
              <li class="footer__point">
                <a class="footer__link" href="#">
                  CONTACTS
                </a>
              </li>
            </ul>
          </li>
          <li class="footer__item">
            <ul class="footer__list">
              <li class="footer__point">
                <a class="footer__link" href="#">
                  Interior Design
                </a>
              </li>
              <li class="footer__point">
                <a class="footer__link" href="#">
                  Architectural Design
                </a>
              </li>
              <li class="footer__point">
                <a class="footer__link" href="#">
                  Author’s Supervision
                </a>
              </li>
              <li class="footer__point">
                <a class="footer__link" href="#">
                  Turnkey Projects
                </a>
              </li>
            </ul>
          </li>
          <li class="footer__item">
            <ul class="footer__list">
              <li class="footer__point">
                <a class="footer__action footer__action--mail" href="mailto:formastudio@gmail.com">
                  formastudio@gmail.com
                </a>
              </li>
              <li class="footer__point">
                <a class="footer__action footer__action--instagram" href="#">
                  formastudio
                </a>
              </li>
              <li class="footer__point">
                <a class="footer__action footer__action--facebook" href="#">
                  forma.studio
                </a>
              </li>
              <li class="footer__point">
                <a class="footer__action footer__action--tg" href="#">
                  @forma.studio
                </a>
              </li>
              <li class="footer__point">
                <a class="footer__action footer__action--pinterest" href="#">
                  forma.studio
                </a>
              </li>
            </ul>
          </li>
          <li class="footer__item">
            <ul class="footer__list">
              <li class="footer__point">
                <address class="footer__address">
                  <p>Country, 11 Name Street</p>
                </address>
              </li>
              <li class="footer__point">
                <a class="footer__link phone" href="tel:123456789012">
                  +12 (345) 678 90 12
                </a>
              </li>
              <li class="footer__point">
                <div class="footer__work">
                  Working hours: Mon–Fri from 9:00 до 17:00
                </div>
              </li>
            </ul>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</footer>
</div>
<script src="js/script.min.js" defer></script>
</body>

</html>