<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scable=0" />
  <meta name="description" content="">
  <meta name="keywords" content="">
  <link rel="icon" type="image/icon" href="favicon.ico" sizes="16x16">
  <link rel="icon" type="image/icon" href="favicon.ico" sizes="32x32">
  <link rel="icon" type="image/icon" href="favicon.ico" sizes="64x64">
  <link rel="icon" type="image/svg+xml" href="images/favicons/favicon.svg">
  <link rel="apple-touch-icon" href="images/favicons/appeal-touch-icon.png">
  <!-- у apple картинка должна быть 180 на 180-->
  <link rel="manifest" href="favicons.webmanifest">
  <link rel="stylesheet" href="css/style.min.css" />
  <title>@@title</title>
</head>

<body>
  <div class="wrapper">
    <header class="header">
      <div class="header__container">

      </div>
    </header>