<footer class="footer">
  <div class="footer__container">
    <a class="footer__link" href="#">
      Политика конфиденциальности
    </a>
    <a class="footer__logo logo" href="#">
      <picture>
        <source srcset="../images/mers.svg" media="(max-width: 768px)">
        <img class="logo__img" src="../images/logo.svg" alt="" loading="lazy">
      </picture>
    </a>
    <ul class="footer__socials">
      <li class="footer__social">
        <a class="footer__social-link" href="#" aria-label="Перейти в Твиттер">
          <img src="../images/twitter.svg" alt="иконка твиттера">
        </a>
      </li>
      <li class="footer__social">
        <a class="footer__social-link" href="#" aria-label="Перейти в гугл">
          <img src="../images/google.svg" alt="иконка гугла">
        </a>
      </li>
      <li class="footer__social">
        <a class="footer__social-link" href="#" aria-label="Перейти в фейсбук">
          <img src="../images/facebook.svg" alt="иконка фейсбука">
        </a>
      </li>
    </ul>
  </div>
</footer>
</div>

<script src="js/script.min.js"></script>
</body>

</html>