<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scable=0" />
  <link rel="icon" type="image/ico" href="favicon.ico">
  <link rel="stylesheet" href="css/style.min.css" />
  <title>Mercedes-Benz AVTR</title>
</head>

<body>
  <div class="wrapper">
    <header class="header">
      <div class="header__container">
        <div class="header__burger">
          <span></span>
          <span></span>
          <span></span>
        </div>
        <a class="header__logo logo" href="#">
          <picture>
            <source srcset="../images/mers.svg" media="(max-width: 768px)">
            <img class="logo__img" src="../images/logo.svg" alt="" loading="lazy">
          </picture>
        </a>
        <ul class="header__socials">
          <li class="header__social">
            <a class="header__social-link" href="#" aria-label="Перейти в Твиттер">
              <img src="../images/twitter.svg" alt="иконка твиттера">
            </a>
          </li>
          <li class="header__social">
            <a class="header__social-link" href="#" aria-label="Перейти в гугл">
              <img src="../images/google.svg" alt="иконка гугла">
            </a>
          </li>
          <li class="header__social">
            <a class="header__social-link" href="#" aria-label="Перейти в фейсбук">
              <img src="../images/facebook.svg" alt="иконка фейсбука">
            </a>
          </li>
        </ul>
        <nav class="header__menu menu">
          <ul class="menu__items">
            <li class="menu__item">
              <a class="menu__link" href="#">пункт 1</a>
            </li>
            <li class="menu__item">
              <a class="menu__link" href="#">пункт 2</a>
            </li>
            <li class="menu__item">
              <a class="menu__link" href="#">пункт 3</a>
            </li>
          </ul>
        </nav>
      </div>
    </header>