@import "components/mixin";

$laptop: 1440px;
$tablet: 1023px;
$mobile: 767px;
$big-mobile: 574px;
$medium-mobile: 478px;
$small-mobile: 389px;

//Страница
$widthReportMax: 1440;
$widthReportMin: 320;
$widthReportMinPx: $widthReportMin + px;

// Контейнер
$widthContainer-num: 1090;
$widthContainer: $widthContainer-num + px;
$containerPadding-num: 10;
$containerPadding: $containerPadding-num + px;
$maxWidthContainer: calc($widthContainer + (2 * $containerPadding));

// Доп цвета
$color-white: #ffffff;
$color-black: #000000;

$color-accent: #e6f2b4;

$color-light-1: #fef8f1;
$color-light-2: #fffaf4;
$color-light-3: #868aa2;
$color-light-4: #ebf0f5;

$color-dark-1: #0b4a72;
$color-dark-2: #222222;

$color-star-1: #efc4dc;
$color-star-2: #423d76;

$color-opacity-1: rgba($color-black, 0.7);
$color-opacity-2: rgba(#f0f7ce, 0.21);

// Радиусы
$radius-circle: 50%;
$radius: 38px;
// Задержка
$transition: all 0.3s linear;

//Фон
$mainBackGround: $color-white;

//Шрифт
$fontFamily: "Roboto", sans-serif;
$mainColor: $color-opacity-1;
$mainSize: 16;
$size: $mainSize + px;
$fontWeight: 400;
$lineheight: calc(26 / $mainSize);
