@function clampAd($min, $max) {
  $minPx: $min + px;
  $maxPx: $max + px;

  $result: clamp(
    $minPx,
    calc($minPx + ($max - $min) * ((100vw - 320px) / ($widthReportMax - $widthReportMin))),
    $maxPx
  );

  @return $result;
}
