@font-face {
  font-family: "BaiJamjuree";
  src:
    url("../../fonts/BaiJamjuree-Medium.woff2") format("woff2"),
    url("../../fonts/BaiJamjuree-Medium.woff") format("woff");
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: "BaiJamjuree";
  src:
    url("../../fonts/BaiJamjuree-SemiBold.woff2") format("woff2"),
    url("../../fonts/BaiJamjuree-SemiBold.woff") format("woff");
  font-style: normal;
  font-weight: 600;
  font-display: swap;
}
@font-face {
  font-family: "BaiJamjuree";
  src:
    url("../../fonts/BaiJamjuree-Bold.woff2") format("woff2"),
    url("../../fonts/BaiJamjuree-Bold.woff") format("woff");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}
@font-face {
  font-family: "BakbakOne";
  src:
    url("../../fonts/BakbakOne-Regular.woff2") format("woff2"),
    url("../../fonts/BakbakOne-Regular.woff") format("woff");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
