<footer class="footer">
  <div class="footer__container">
    <div class="footer__inner">
      <form class="footer__form form" action="#" method="post">
        <h3 class="form__title title">
          ОСТАВИТЬ ЗАЯВКУ
        </h3>
        <label class="hidden" for="name">Введите ваше имя</label>
        <input class="form__input" type="text" id="name" placeholder="Имя" required>

        <label class="hidden" for="tel">Введите ваш телефон</label>
        <input class="form__input" type="tel" id="tel" placeholder="Телефон" required>

        <button class="form__btn btn">
          <svg width="42" height="16" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M40.743 8.707a1 1 0 000-1.414L34.38.929a1 1 0 10-1.414 1.414L38.622 8l-5.657 5.657a1 1 0 101.414 1.414l6.364-6.364zM.016 9h40.02V7H.016v2z" />
          </svg>
          <span>оставить заявку</span>
        </button>
      </form>

      <div class="footer__content">
        <h3 class="footer__title title">
          КОНТАКТЫ
        </h3>
        <div class="footer__list">
          <div class="footer__info">
            <p> Центральный офис:</p>
            <p>г. Москва, ул,Гоголя 13, 1й этаж</p>
          </div>
          <div class="footer__info">
            <p>Представительство в Киеве:</p>
            <p>г. Киев, ул. Є. Коновальця, 103 оф. 410</p>
          </div>
          <div class="footer__info">
            <p>Представительства в Харькове, Одессе, Ростове, Сочи, Белгороде</p>
          </div>
          <div class="footer__info">
            <a class="footer__info-link" href="tel:+79876545456">
              +7 987 654-54-56
            </a>
            <a class="footer__info-link" href="tel:+380675043257">
              +38 067 504-32-57
            </a>
            <p href="tel"></p>
          </div>
          <div class="footer__info">
            <p>Ежедневно 08:00 - 20:00</p>
          </div>
        </div>
      </div>
    </div>
    <div class="footer__bottom">
      <a class="footer__link" href="#">
        Политика конфиденциальности
      </a>
      <a class="footer__logo logo" href="#">
        <img class="logo__img" src="../images/logo.svg" alt="">
      </a>
      <ul class="footer__socials">
        <li class="footer__social">
          <a class="footer__social-link" href="#">
            <img src="../images/instagram.svg" alt="">
          </a>
        </li>
        <li class="footer__social">
          <a class="footer__social-link" href="#">
            <img src="../images/telegram.svg" alt="">
          </a>
        </li>
        <li class="footer__social">
          <a class="footer__social-link" href="#">
            <img src="../images/whatsapp.svg" alt="">
          </a>
        </li>
        <li class="footer__social">
          <a class="footer__social-link" href="#">
            <img src="../images/facebook.svg" alt="">
          </a>
        </li>
      </ul>
    </div>
  </div>
</footer>
</div>

<script src="js/script.min.js"></script>
</body>

</html>