.work {
  padding: clamp(60px, calc(60px + (120 - 60) * ((100vw - 320px) / ($widthReportMax - $widthReportMin))), 120px) 0;
  // .work__container
  &__container {
  }
  // .work__content
  &__content {
    max-width: 730px;
    text-align: center;
    margin: 0 auto clamp(30px, calc(30px + (58 - 30) * ((100vw - 320px) / ($widthReportMax - $widthReportMin))), 58px);
  }
  // .work__title
  &__title {
    margin-bottom: 24px;
  }
  // .work__text
  &__text {
    font-size: clamp(16px, calc(16px + (24 - 16) * ((100vw - 320px) / ($widthReportMax - $widthReportMin))), 24px);
  }
  // .work__items
  &__items {
    counter-reset: num;
    max-width: 830px;
    margin: 0 auto;
  }
  // .work__item
  &__item {
    max-width: 446px;
    padding-right: clamp(42px, calc(42px + (96 - 42) * ((100vw - 320px) / ($widthReportMax - $widthReportMin))), 96px);
    text-align: right;
    position: relative;

    &::before {
      content: counter(num);
      counter-increment: num;
      position: absolute;
      top: 0;
      right: 0;
      width: clamp(32px, calc(32px + (64 - 32) * ((100vw - 320px) / ($widthReportMax - $widthReportMin))), 64px);
      aspect-ratio: 1;
      border-radius: 50%;
      border-radius: 40px;
      background: #ffffff;
      box-shadow: 0px 8px 40px 0px rgba(0, 0, 0, 0.1);
      display: flex;
      justify-content: center;
      align-items: center;
      color: $color-accent;
      font-size: clamp(16px, calc(16px + (24 - 16) * ((100vw - 320px) / ($widthReportMax - $widthReportMin))), 24px);
    }

    &:nth-child(2n) {
      text-align: left;
      padding-left: clamp(42px, calc(42px + (96 - 42) * ((100vw - 320px) / ($widthReportMax - $widthReportMin))), 96px);
      padding-right: 0;
      position: relative;
      left: 46%;

      &::before {
        left: 0;
      }
    }

    &:not(:last-child) {
      margin-bottom: clamp(
        50px,
        calc(50px + (100 - 50) * ((100vw - 320px) / ($widthReportMax - $widthReportMin))),
        100px
      );

      &::after {
        content: "";
        position: absolute;
        top: clamp(32px, calc(32px + (64 - 32) * ((100vw - 320px) / ($widthReportMax - $widthReportMin))), 64px);
        right: clamp(16px, calc(16px + (32 - 16) * ((100vw - 320px) / ($widthReportMax - $widthReportMin))), 32px);
        width: 1px;
        height: calc(
          100% + clamp(50px, calc(50px + (100 - 50) * ((100vw - 320px) / ($widthReportMax - $widthReportMin))), 100px)
        );
        border-left: 2px dashed rgba(0, 0, 0, 0.1);
      }

      &:nth-child(2n) {
        &::after {
          left: clamp(16px, calc(16px + (32 - 16) * ((100vw - 320px) / ($widthReportMax - $widthReportMin))), 32px);
        }
      }
    }
  }
  // .work__name
  &__name {
    font-size: clamp(16px, calc(16px + (24 - 16) * ((100vw - 320px) / ($widthReportMax - $widthReportMin))), 24px);
    font-weight: 700;
    line-height: 1.2;
    color: #000000;
    margin-bottom: 16px;
  }
  // .work__info
  &__info {
  }
}
