.premier {
  // .premier__container
  &__container {
  }
  // .premier__items
  &__items {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 30px clampAd(30, 60);
  }
  // .premier__item
  &__item {
    flex-basis: 570px;
  }
  // .premier__title
  &__title {
    margin-bottom: 25px;
  }
  // .premier__text
  &__text {
    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }
  // .premier__image
  &__image {
    max-width: 570px;
  }
  // .premier__img
  &__img {
    width: 100%;
    height: auto;
    object-fit: cover;
    margin-bottom: 25px;
  }
  // .premier__btn
  &__btn {
  }
}
