.slider {
  display: block;
  opacity: 0;
  visibility: hidden;
  transition: opacity 1s ease;
  padding-bottom: 30px;

  &.slick-initialized {
    opacity: 1;
    visibility: visible;
  }

  // .slider__img
  &__img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
  // .slider__btn
  &__btn {
    position: absolute;
    bottom: 0;
    z-index: 2;
    left: 50%;
    &--prev {
      transform: translateX(-80px);
    }
    &--next {
      transform: translateX(30px);
    }
  }

  .slick-list {
    margin: 0 calc(clampAd(0, 30) * -1);
  }
  .slick-slide {
    padding: 0 clampAd(0, 30);
  }
}
