.about {
  // .about__container
  &__container {
  }
  // .about__items
  &__items {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(clampAd(280, 360), 1fr));
    grid-auto-rows: clampAd(200, 300);
    grid-auto-flow: dense;
    gap: clampAd(20, 40);
  }
  // .about__item
  &__item {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    row-gap: clampAd(20, 40);
    border-radius: $radius;
    background: $color-accent1;
    color: $white;
    padding: 20px;
    position: relative;
    &::before {
      content: "";
      position: absolute;
      top: 20px;
      left: 20px;
      width: clampAd(30, 60);
      aspect-ratio: 1;
      background: url(../../images/main/about/decor.svg) center/cover no-repeat;
    }
    // .about__item--big
    &--big {
      justify-content: flex-start;
      grid-row: span 2;
      background: $white;
      color: $black;
      padding-top: 100px;
    }
  }
  // .about__title
  &__title {
  }
  // .about__block
  &__block {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
  }
  // .about__text
  &__text {
    span {
      @include Inter600;
    }
  }
  // .about__btn
  &__btn {
    margin-top: auto;
  }
  // .about__info
  &__info {
    @include Inter300;
    font-size: clampAd(14, 18);

    span {
      @include Inter700;
    }
  }
  // .about__dops
  &__dops {
  }
}
