<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scable=0">
  <link rel="icon" type="image/ico" href="favicon.ico">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Heebo:wght@300;700&family=Roboto:wght@400;500&family=Yantramanav:wght@700&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="css/style.min.css">
  <title>KROPP - CROSSFIT</title>
</head>

<body>
  <div class="wrapper">
    <header class="header">
      <div class="header__container">
        <a class="header__logo logo" href="#">
          <picture>
            <source type="image/avif" srcset="../images/header/logo.avif">
            <source type="image/webp" srcset="../images/header/logo.webp">
            <img class="logo__img" src="../images/logo.png" alt="logo company kropp" width="135" height="25">
          </picture>
        </a>
        <nav class="header__menu menu">
          <ul class="menu__items">
            <li class="menu__item">
              <a class="menu__link menu__link--active" href="#">Home</a>
            </li>
            <li class="menu__item">
              <a class="menu__link" href="#about">Pages</a>
            </li>
            <li class="menu__item">
              <a class="menu__link" href="#family">Portfolio</a>
            </li>
            <li class="menu__item">
              <a class="menu__link" href="#join">Blog</a>
            </li>
            <li class="menu__item">
              <a class="menu__link" href="#bmi">Shop</a>
            </li>
          </ul>
        </nav>
        <div class="header__actions">
          <a class="header__btn" href="#" aria-label="Book now">
            Book now
          </a>
          <button class="header__burger" aria-label="menu" title="menu">
            <span></span>
            <span></span>
            <span></span>
          </button>
        </div>
      </div>
    </header>