/*
@media(max-width:1140.98px){
    [class*='__container']{
        max-width: 970px;
    }  
}
@media(max-width:991.98px){
    [class*='__container']{
        max-width: 750px;
    }  
}
@media(max-width:767.98px){
    [class*='__container']{
        max-width: none;
    }  
}
*/

@media (max-width: 1200px) {
}

@media (max-width: 991.98px) {
}

@media (max-width: 767.98px) {
  .header {
    &__burger {
      display: flex;
    }
  }

  .menu {
    position: fixed;
    z-index: 3;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100%;
    height: 100%;
    transition: all 0.4s linear;
    transform: translateY(-100%);
    overflow: auto;
    overflow-x: hidden;
    background: $black;
    &.menu--active {
      transform: translateY(0);
    }
    &__items {
      padding: 100px 0;
      min-height: 100%;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    &__item {
      &--mobile {
        display: block;
      }
    }
    &__link {
      color: $white;
      font-size: 24px;
    }
  }
}

@media (max-width: 575.98px) {
}

@media (max-width: 479.98px) {
}

@media (max-width: 349.98px) {
}
