@import "components/mixin";

$laptop: 1440px;
$tablet: 991px;
$mobile: 767px;
$big-mobile: 574px;
$medium-mobile: 478px;
$small-mobile: 389px;

//Страница
$widthReportMax: 1400;
$widthReportMin: 411;
$widthReportMinPx: $widthReportMin + px;

// Контейнер
$widthContainer-num: 1110;
$widthContainer: $widthContainer-num + px;
$containerPadding-num: 30;
$containerPadding: $containerPadding-num + px;
$maxWidthContainer: calc($widthContainer + (2 * $containerPadding));

// Доп цвета
$color-white: #ffffff;
$color-black: #000000;

$color-accent: #02897a;

$color-dark-1: #22343d;
$color-dark-2: #173a56;
$color-dark-3: #2f281e;
$color-dark-4: #252b42;
$color-dark-5: #1f2e35;

$color-light-1: #f3f3f3;
$color-light-2: #bcd0e5;
$color-light-3: #ededed;
$color-light-4: #afafaf;
$color-light-5: #e0e0e0;
$color-light-6: #dedede;
$color-light-7: #bdbdbd;
$color-light-8: #979797;
$color-light-9: #edfffc;
$color-light-10: #737373;
$color-light-11: #f4f5f7;
$color-light-12: #e7e7e7;
$color-light-13: #474747;
$color-light-14: #f5f5f5;
$color-light-15: #f4f9fa;
$color-light-16: #eaeaea;
$color-light-17: #e8e8e8;

$color-multi-1: #4d8dff;
$color-multi-2: #740a76;
$color-multi-3: #f03e3d;
$color-multi-4: #ff9900;
$color-multi-5: #035b81;
$color-multi-6: #f3cd03;
$color-multi-7: #ffefef;
$color-multi-8: #f2f6ff;

$color-gradient-1: linear-gradient(180deg, #f6f6f6 0%, rgba(246, 246, 246, 0) 100%);
$color-gradient-2: linear-gradient(180deg, #f5f5f5 0%, rgba(245, 245, 245, 0) 100%);

// Радиусы
$radius-circle: 50%;

$radius-xs: 4px;
$radius-s: 8px;
$radius-m: 10px;
$radius-l: 19px;
$radius-xl: 32px;
$radius-xxl: 39px;
$radius-xxxl: 100px;

// Задержка
$transition: all 0.3s linear;

// Тень
$shadow-1: 0 -2px 8px 0 rgba($color-black, 0.25);
$shadow-2: 0 1px 2px 0 rgba($color-black, 0.25);
$shadow-3: 2px 2px 10px 0 rgba($color-dark-2, 0.15);
$shadow-4: 0 2px 8px 0 rgba($color-black, 0.25);
$shadow-5: 8px 8px 32px 0 rgba($color-black, 0.25);

// Отступы
$gap-medium: clampAd(16, 24);
$gap-big: clampAd(28, 30);

//Фон
$mainBackGround: $color-white;

//Шрифт
$fontFamily: "Poppins", sans-serif;
$mainColor: $color-dark-1;
$mainSize: 16;
$size: $mainSize + px;
$fontWeight: 400;
$lineheight: calc(26 / $mainSize);
