.btn {
  padding: clampAd(10, 19) clampAd(20, 49);

  background: $color-light;
  color: $color-dark;

  font-weight: 300;
  font-size: clampAd(14, 18);
  line-height: 1.1;
  text-transform: uppercase;
  text-align: center;

  user-select: none;
  white-space: nowrap;

  display: flex;
  justify-content: center;
  align-items: center;

  transition: all 0.3s linear;

  @media (any-hover: hover) {
    &:hover:not(:disabled) {
      color: $color-light;
      background: $color-bg-dark;
    }
  }
}
