[class*="__container"] {
  max-width: $maxWidthContainer;
  margin: 0 auto;
  padding: 0 $containerPadding;
}

[class*="__left-container"] {
  padding-left: calc((100vw - $widthContainer) / 2); // - $containerPadding
  margin-left: $containerPadding;
}
