.logo {
  flex: 0 0 144px;
  // .logo--big
  &--big {
    flex: 0 0 235px;
  }

  img {
    display: block;
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
}
