.menu {
  @include mobile {
    position: fixed;
    z-index: 3;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100%;
    height: 100%;
    transition: all 0.4s linear;
    transform: translateY(-100%);
    overflow: auto;
    overflow-x: hidden;
    background: $color-bg-dark;
  }

  &.menu--active {
    @include mobile {
      transform: translateY(0);
    }
  }

  // .menu__items
  &__items {
    display: flex;
    align-items: center;
    gap: clampAd(20, 30);

    @include mobile {
      padding: 100px 0;
      min-height: 100%;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }
  // .menu__item
  &__item {
  }
  // .menu__link
  &__link {
    font-weight: 300;
    text-transform: uppercase;
    white-space: nowrap;
    transition: all 0.3s linear;

    @media (any-hover: hover) {
      &:hover:not(&--active) {
        text-shadow: $link-active;
      }
    }

    &--active {
      text-shadow: 0 0 1px currentColor;
      cursor: default;
    }

    @include mobile {
      font-size: 20px;
    }
  }
}
