.company {
  padding: clampAd(30, 50) 0 clampAd(40, 60);

  // .company__container
  &__container {
    display: grid;
    grid-template-columns: 0.24fr 1fr;
    gap: clampAd(20, 32);

    @include mobile {
      grid-template-columns: 1fr;
    }
  }
  // .company__text
  &__text {
    font-size: clampAd(12, 16);
  }
  // .company__items
  &__items {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(clampAd(60, 104), 1fr));
    grid-auto-flow: dense;
    grid-auto-rows: minmax(52px, 1fr);
    gap: clampAd(20, 43);
  }
  // .company__item
  &__item {
  }
  // .company__image
  &__image {
    max-width: 104px;
  }
  // .company__img
  &__img {
    display: block;
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
}
