.intro {
  padding-top: clampAd(0, 100);

  position: relative;

  // .intro__container
  &__container {
    min-height: clampAd(300, 650);
    padding-block: clampAd(50, 100);

    display: flex;
    flex-direction: column;
    justify-content: center;
    column-gap: clampAd(40, 80);
    row-gap: 1rem;
  }
  // .intro__content
  &__content {
    max-width: clampAd(250, 450);
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: clampAd(10, 14);

    @include mobile {
      max-width: 100%;
    }
  }
  // .intro__title
  &__title {
    width: 50%;
    margin-bottom: clampAd(8, 12);
  }
  // .intro__text
  &__text {
  }
  // .intro__btn
  &__btn {
  }
  // .intro__image
  &__image {
    max-width: 720px;
    width: 100%;

    box-shadow: 0 12px 27px 0 rgba($black, 0.1);
    border-radius: $radius-medium;
    overflow: hidden;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%);

    @include mobile {
      position: static;
      transform: translateY(0);

      align-self: center;
    }
  }
  // .intro__img
  &__img {
    display: block;
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
}
