.media-statistic {
  // .media-statistic__card
  &__card {
    box-shadow: 0 12px 27px 0 rgba(0, 0, 0, 0.1);
    border-radius: $radius-medium;
    background: $white;

    padding: clampAd(30, 50) clampAd(10, 30);
  }
  // .media-statistic__progress
  &__progress {
  }
  // .media-statistic__image
  &__image {
    max-width: 523px;
    width: 100%;
    -webkit-filter: drop-shadow(0 12px 27px rgba($black, 0.1));
  }
  // .media-statistic__img
  &__img {
    display: block;
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
}
