.menu {
  // .menu__items
  &__items {
    display: flex;
    column-gap: 39px;
  }
  // .menu__item
  &__item {
  }
  // .menu__link
  &__link {
    font-size: 14px;
    letter-spacing: 0.7px;
    transition: all 0.3s linear;
    padding-bottom: 4px;
    border-bottom: 1px solid transparent;

    @media (any-hover: hover) and (min-width: 992px) {
      &:hover {
        border-color: currentColor;
      }
    }
  }
}
