.news {
  // .news__items
  &__items {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 30px;
  }
  // .news__item
  &__item {
    flex: 0 0 clampAd(300, 580);
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    gap: clampAd(10, 25);

    padding: 14px 10px;
    background: $color-bg;
    border-radius: $radius-mediun;

    @include w_991 {
      flex: 0 0 100%;
      grid-template-columns: 1fr;
      justify-items: center;
    }
  }
  // .news__image
  &__image {
    width: clampAd(150, 214);
    height: clampAd(100, 142);

    position: relative;
  }
  // .news__img
  &__img {
    display: block;
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
  // .news__link
  &__link {
    position: absolute;
    top: 4px;
    right: 0;

    --size: #{clampAd(20, 30)};
    --color: #{$color-accent};

    &::before {
      --sizeIcon: 7px;
    }
  }
  // .news__content
  &__content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: clampAd(10, 20);

    line-height: 1.375;
    color: $black;

    @include w_991 {
      align-items: center;
      text-align: center;
    }
  }
  // .news__title
  &__title {
    @include NunitoSans700;
  }
  // .news__text
  &__text {
    @include NunitoSans300;
    font-size: clampAd(10, 14);

    strong {
      @include NunitoSans700;
    }

    span {
      @include NunitoSans600;
      color: $color-accent;
    }
  }
}
