.gallery {
  // .gallery__container
  &__container {
    background: image-set(
        url("../images/main/bromo/bg.avif") type("image/avif"),
        url("../images/main/bromo/bg_2x.avif") 2x type("image/avif"),
        url("../images/main/bromo/bg.webp") type("image/webp"),
        url("../images/main/bromo/bg_2x.webp") 2x type("image/webp"),
        url("../images/main/bromo/bg.jpg"),
        url("../images/main/bromo/bg_2x.jpg") 2x
      )
      center/cover no-repeat;

    position: relative;

    &::before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 30svh;
      background: linear-gradient(360deg, rgba($black, 0.75) 0%, rgba($black, 0) 100%);
    }
  }
  // .gallery__slider
  &__slider {
    max-width: 935px;
    padding: 40px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 1s ease;

    &.swiper-initialized {
      opacity: 1;
      visibility: visible;
    }
  }

  // .gallery__actions
  &__actions {
  }
  // .gallery__button
  &__button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transition: all 0.3s linear;
    z-index: 2;

    // .gallery__button--prev
    &--prev {
      left: 40px;
    }
    // .gallery__button--next
    &--next {
      right: 40px;
    }

    img {
      display: block;
      width: clampAd(20, 30);
      height: clampAd(20, 30);
      object-fit: cover;
      object-position: center;
    }

    &.swiper-button-disabled {
      opacity: 0.4;
      cursor: default;
    }
  }
  // .gallery__icon
  &__icon {
  }
}
