.intro {
  padding: 0 clampAd(0, 70);
  background: image-set(
      url("../images/main/intro/bg.avif") type("image/avif"),
      url("../images/main/intro/bg2x.avif") 2x type("image/avif"),
      url("../images/main/intro/bg.webp") type("image/webp"),
      url("../images/main/intro/bg2x.webp") 2x type("image/webp"),
      url("../images/main/intro/bg.jpg"),
      url("../images/main/intro/bg2x.jpg") 2x
    )
    center/cover no-repeat;
  position: relative;
  background-attachment: fixed;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 90%;
    background: linear-gradient(330.24deg, rgba($black, 0) 31.06%, $black 108.93%);
  }

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 28svh;
    background: linear-gradient(360deg, $black 19.27%, rgba($black, 0) 100%);
  }
  // .intro__container
  &__container {
    max-width: 1920px;
    padding-top: 30svh;
    padding-bottom: 50px;
    min-height: 120svh;
    position: relative;
    z-index: 2;
  }
  // .intro__inner
  &__inner {
    max-width: 860px;
    display: flex;
    flex-direction: column;
    row-gap: clampAd(20, 32);
    margin: 0 auto;

    *:last-child {
      margin-bottom: 0 !important;
    }
  }
  // .intro__badge
  &__badge {
    font-size: clampAd(10, 18);
  }
  // .intro__title
  &__title {
    font-size: clampAd(26, 88);
    line-height: 1.1;
    text-transform: capitalize;
    span {
      display: block;
      @include OpenSans700;
      font-size: clampAd(45, 96);
    }
  }
  // .intro__button
  &__button {
    @include OpenSans600;
    margin-top: clampAd(30, 100);
    align-self: center;
    text-align: center;
    padding-right: clampAd(20, 25);
    position: relative;
    transition: all 0.3s linear;

    &::after {
      content: "";
      position: absolute;
      top: 50%;
      right: 0;
      transform: translateY(-50%);
      width: clampAd(10, 16);
      height: clampAd(16, 24);
      background: url(../../images/icons/arrow-down.svg) center/cover no-repeat;
      animation: skok 0.5s linear 0s infinite alternate forwards;
    }

    @media (any-hover: hover) {
      &:hover {
        transform: scale(1.1);

        &::after {
          animation-play-state: paused;
        }
      }
    }
  }
  // .intro__socials
  &__socials {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
  }
}

@keyframes skok {
  0% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0px);
  }
}
