@import "blocks/top";
@import "blocks/tags";
@import "blocks/slider";
@import "blocks/post";

@import "blocks/intro";
@import "blocks/services";
@import "blocks/portfolio";
@import "blocks/work";
@import "blocks/blog";
@import "blocks/testimonials";
@import "blocks/skills";
@import "blocks/contacts";
