.destination {
  padding-top: clampAd(50, 150);
  // .destination__container
  &__container {
  }
  // .destination__title
  &__title {
    max-width: 610px;
    margin-bottom: clampAd(30, 60);
  }
  // .destination__items
  &__items {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(255px, 1fr));
    grid-auto-flow: dense;
    grid-auto-rows: minmax(clampAd(100, 309), 1fr);
    gap: clampAd(20, 30);
  }
  // .destination__item
  &__item {
    padding: clampAd(15, 27) clampAd(15, 30) clampAd(20, 35) clampAd(15, 30);
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: clampAd(10, 20);
    font-weight: 500;
    transition: all 0.3s linear;

    @media (any-hover: hover) {
      &:hover {
        background: $white;
        box-shadow: 50px 50px 100px 0 rgba($black, 0.15);
      }
    }

    @media (hover: none) and (pointer: coarse) and (max-width: 992px) {
      background: $white;
      box-shadow: 50px 50px 100px 0 rgba($black, 0.15);
    }
  }
  // .destination__name
  &__name {
    font-size: clampAd(18, 24);
    line-height: 1.4;
    text-transform: uppercase;
    color: $color-title;
  }
  // .destination__text
  &__text {
    font-size: clampAd(12, 14);
    line-height: 1.8;
    color: rgba($mainColor, 0.6);
    margin-bottom: clampAd(0, 10);
  }
  // .destination__link
  &__link {
    margin-top: auto;

    @media (hover: none) and (pointer: coarse) and (max-width: 992px) {
      color: $color-accent;
    }
  }
}
