body {
  font-family: $fontFamily;
  background-color: $mainBackGround;
  color: $mainColor;
  font-size: clampAd(12, $mainSize);
  line-height: $lineheight;
  font-weight: $fontWeight;

  &.lock {
    overflow: hidden;
  }
}
