.author {
  display: flex;
  align-items: center;
  gap: clampAd(10, 16);

  // .author__image
  &__image {
    width: clampAd(40, 68);
    height: clampAd(40, 68);

    border-radius: $radius-small-img;
    overflow: hidden;

    // .author__image--border-top-left
    &--border-top-left {
      border-top-left-radius: 0;
    }
    // .author__image--border-top-right
    &--border-top-right {
      border-top-right-radius: 0;
    }
    // .author__image--border-bottom-right
    &--border-bottom-right {
      border-bottom-right-radius: 0;
    }
  }
  // .author__img
  &__img {
    display: block;
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
  // .author__content
  &__content {
    display: flex;
    flex-direction: column;
    row-gap: clampAd(5, 7);
  }
  // .author__name
  &__name {
    font-size: clampAd(12, 16);
    color: $white;
  }
  // .author__company
  &__company {
    font-size: clampAd(10, 14);
  }
}
