.blog {
  // .blog__container
  &__container {
  }
  // .blog__up
  &__up {
  }
  // .blog__items
  &__items {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(clampAd(290, 394), 1fr));
    grid-auto-flow: dense;
    gap: clampAd(20, 48);
  }
  // .blog__item
  &__item {
    border-radius: 24px;
    overflow: hidden;
    background: $color-dop;
  }
  // .blog__ibg
  &__ibg {
    padding: 0px 0px 50% 0px;

    position: relative;

    span {
      display: inline-block;
      padding: 10px;
      border-top-right-radius: 10px;
      background: rgba(129, 129, 139, 0.5);

      position: absolute;
      bottom: 0;
      left: 0;

      font-size: clampAd(10, 14);
      color: $white;
    }
  }
  // .blog__img
  &__img {
  }
  // .blog__card
  &__card {
    padding: clampAd(10, 26) clampAd(10, 26) clampAd(20, 40) clampAd(10, 26);

    display: grid;
    grid-template-columns: 1fr;
    row-gap: 20px;
  }
  // .blog__date
  &__date {
    font-size: clampAd(12, 16);
    color: rgba(129, 129, 139, 0.9);
  }
  // .blog__name
  &__name {
    max-width: 320px;

    font-weight: 400;
    font-size: clampAd(14, 19);
    line-height: 1.4;
    color: $white;

    margin-bottom: 10px;
  }
  // .blog__info
  &__info {
    font-size: clampAd(12, 16);
  }
  // .blog__link
  &__link {
    font-size: clampAd(10, 14);
    color: $color-accent;
    transition: all 0.3s linear;

    @media (any-hover: hover) {
      &:hover:not(:disabled) {
        text-shadow: 0 0 1px currentColor;
        transform: scale(1.01);
      }
    }
  }
}
