<footer class="footer" id="footer">
  <div class="footer__container">
    <a class="footer__link" href="#">
      Find a retailer near you
    </a>
    <p class="footer__text">
      Or call
      <a href="tel:800207758">
        800 207 758
      </a>
    </p>
    <a class="footer__logo logo" href="#">
      <img class="logo__img" src="images/logo-white.svg" alt="logo" width="25" height="30">
    </a>
    <nav class="footer__nav">
      <ul class="footer__items">
        <li class="footer__item">
          Copyright &copy; 2023 Apple Inc.
        </li>
        <li class="footer__item">
          All rights reserved.
        </li>
        <li class="footer__item">
          <a class="footer__item-link" href="#">
            Legal Notices
          </a>
        </li>
        <li class="footer__item">
          <a class="footer__item-link" href="#">
            Site Map
          </a>
        </li>
        <li class="footer__item">
          <a class="footer__item-link" href="#">
            Privacy Policy
          </a>
        </li>
      </ul>
    </nav>
  </div>
</footer>
</div>
<script src="js/script.min.js"></script>
</body>

</html>