@font-face {
  font-family: "Poppins";
  src: url("../../fonts/Poppins-Regular.woff2") format("woff2"), url("../../fonts/Poppins-Regular.woff") format("woff");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("../../fonts/Poppins-Bold.woff2") format("woff2"), url("../../fonts/Poppins-Bold.woff") format("woff");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  display: inline-block;
  color: inherit;
}

/*
a:focus {
    text-shadow: 0 0 1px #000000;
}
*/

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

button {
  padding: 0;
  margin: 0;
  color: inherit;
  font-size: inherit;
  font-family: inherit;
  font-weight: inherit;
  border: none;
  background: transparent;
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

/*
img {
  vertical-align: top;
}
*/

img {
  display: block;
}

html,
body {
  height: 100%;
}

input,
textarea {
  cursor: pointer;
  font-size: inherit;
  font-family: inherit;
  font-weight: inherit;
  color: inherit;
}

input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
  display: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input::-webkit-calendar-picker-indicator {
  display: none;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 0;
}

html {
  scroll-behavior: smooth;
  height: -webkit-fill-available;
}

body {
  min-width: 320px;
  line-height: 1;
  font-family: "Roboto";
  background: #f5f5f5;
}

.wrapper {
  position: relative;
  min-height: 100vh;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: -webkit-fill-available;
}

[class*=__container] {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 15px;
}

[class*=__left-container] {
  padding-left: calc((100% - 1140px) / 2 + 15px);
}

[class*=__right-container] {
  padding-right: calc((100% - 1140px) / 2 + 15px);
}

[class*=__burger] {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 4px;
  cursor: pointer;
}

[class*=__burger] span {
  width: 24px;
  height: 3px;
  border-radius: 5px;
  background: #323232;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

[class*=__burger].header__burger--active span:nth-child(1) {
  opacity: 0;
}

[class*=__burger].header__burger--active span:nth-child(2) {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

[class*=__burger].header__burger--active span:nth-child(3) {
  -webkit-transform: rotate(-45deg) translateY(-5px) translateX(5px);
      -ms-transform: rotate(-45deg) translateY(-5px) translateX(5px);
          transform: rotate(-45deg) translateY(-5px) translateX(5px);
}

[class*=__ibg] {
  position: relative;
}

[class*=__ibg] img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #ffffff;
  color: #323232;
  font-size: clamp(12px, 12px + 4 * (100vw - 320px) / 1120, 16px);
  line-height: 1.6875;
  font-weight: 400;
}

body.lock {
  overflow: hidden;
}

.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: clamp(10px, 10px + 10 * (100vw - 320px) / 1120, 20px);
  letter-spacing: 0.07em;
}

.container-full {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.none {
  display: none;
}

.logo {
  width: 168px;
  height: 44px;
}

.logo img {
  display: block;
  max-width: 100%;
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.menu__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px clamp(20px, 20px + 22 * (100vw - 320px) / 1120, 42px);
}

.menu__link {
  line-height: 1.5;
  white-space: nowrap;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.menu__link--active {
  font-weight: 700;
  color: #f78434;
  cursor: default;
}

.btn {
  min-width: clamp(100px, 100px + 72 * (100vw - 320px) / 1120, 172px);
  padding: clamp(10px, 10px + 8 * (100vw - 320px) / 1120, 18px);
  border-radius: 30px;
  background: #f78434;
  border: 1px solid transparent;
  font-weight: 700;
  line-height: 1.5;
  text-align: center;
  color: #ffffff;
  white-space: nowrap;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.btn--color {
  background: #ffffff;
  color: #323232;
}

.btn--icon {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: clamp(6px, 6px + 2 * (100vw - 320px) / 1120, 8px);
     -moz-column-gap: clamp(6px, 6px + 2 * (100vw - 320px) / 1120, 8px);
          column-gap: clamp(6px, 6px + 2 * (100vw - 320px) / 1120, 8px);
}

.btn--icon::before {
  content: "";
  width: clamp(8px, 8px + 4 * (100vw - 320px) / 1120, 12px);
  height: clamp(8px, 8px + 4 * (100vw - 320px) / 1120, 12px);
  background: url(../../images/icons/play.svg) center/cover no-repeat;
}

.btn--transparent {
  color: #f78434;
  background: transparent;
}

.main-title {
  font-weight: 700;
  font-size: clamp(30px, 30px + 24 * (100vw - 320px) / 1120, 54px);
  line-height: 1.4;
  letter-spacing: 0.01em;
}

.title {
  font-weight: 700;
  font-size: clamp(22px, 22px + 20 * (100vw - 320px) / 1120, 42px);
  line-height: 1.4;
  letter-spacing: 0.02em;
}

.title--color {
  color: #ffffff;
}

.title--center {
  text-align: center;
}

.form {
  padding: clamp(10px, 10px + 8 * (100vw - 320px) / 1120, 18px) clamp(10px, 10px + 18 * (100vw - 320px) / 1120, 28px);
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: clamp(10px, 10px + 20 * (100vw - 320px) / 1120, 30px);
     -moz-column-gap: clamp(10px, 10px + 20 * (100vw - 320px) / 1120, 30px);
          column-gap: clamp(10px, 10px + 20 * (100vw - 320px) / 1120, 30px);
  border-radius: 30px;
  -webkit-box-shadow: 4px 20px 42px -2px rgba(0, 0, 0, 0.12);
          box-shadow: 4px 20px 42px -2px rgba(0, 0, 0, 0.12);
  background: #ffffff;
  position: relative;
}

.form__label {
  width: clamp(16px, 16px + 8 * (100vw - 320px) / 1120, 24px);
  height: clamp(13px, 13px + 6 * (100vw - 320px) / 1120, 19px);
  cursor: pointer;
}

.form__label img {
  width: 100%;
  height: 100%;
}

.form__input {
  width: 50%;
  outline: none;
  line-height: 1.5;
  border-bottom: 1px solid transparent;
}

.form__input::-webkit-input-placeholder {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: clamp(12px, 12px + 4 * (100vw - 320px) / 1120, 16px);
  line-height: 1.5;
  color: #bbbbbb;
}

.form__input::-moz-placeholder {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: clamp(12px, 12px + 4 * (100vw - 320px) / 1120, 16px);
  line-height: 1.5;
  color: #bbbbbb;
}

.form__input:-ms-input-placeholder {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: clamp(12px, 12px + 4 * (100vw - 320px) / 1120, 16px);
  line-height: 1.5;
  color: #bbbbbb;
}

.form__input::-ms-input-placeholder {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: clamp(12px, 12px + 4 * (100vw - 320px) / 1120, 16px);
  line-height: 1.5;
  color: #bbbbbb;
}

.form__input::placeholder {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: clamp(12px, 12px + 4 * (100vw - 320px) / 1120, 16px);
  line-height: 1.5;
  color: #bbbbbb;
}

.form__input:focus {
  border-color: #f78434;
}

.form__btn {
  position: absolute;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 20px clamp(20px, 20px + 10 * (100vw - 320px) / 1120, 30px);
}

.socials__link {
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.socials__icon {
  width: auto;
  height: 20px;
}

.header {
  padding: 35px 0;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
}

.header__logo {
  position: relative;
  z-index: 4;
}

.header__burger {
  position: relative;
  z-index: 4;
}

.intro {
  padding-bottom: clamp(50px, 50px + 50 * (100vw - 320px) / 1120, 100px);
}

.intro__container {
  position: relative;
}

.intro__content {
  max-width: clamp(400px, 400px + 230 * (100vw - 320px) / 1120, 630px);
  position: relative;
  z-index: 1;
}

.intro__title {
  margin-bottom: 25px;
}

.intro__text {
  max-width: 470px;
  margin-bottom: 45px;
}

.intro__form {
  max-width: 460px;
}

.intro__image {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  max-width: clamp(300px, 300px + 240 * (100vw - 320px) / 1120, 540px);
  width: 100%;
}

.intro__img {
  display: block;
  max-width: 100%;
  max-height: 100%;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  border-radius: 40px 40px 40px 0;
}

.company {
  padding-bottom: clamp(40px, 40px + 50 * (100vw - 320px) / 1120, 90px);
}

.company__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: clamp(30px, 30px + 65 * (100vw - 320px) / 1120, 95px);
}

.company__item {
  max-width: clamp(130px, 130px + 100 * (100vw - 320px) / 1120, 230px);
  max-height: clamp(26px, 26px + 16 * (100vw - 320px) / 1120, 42px);
}

.company__icon {
  display: block;
  max-width: 100%;
  max-height: 100%;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.about {
  padding-bottom: clamp(70px, 70px + 80 * (100vw - 320px) / 1120, 150px);
}

.about__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px clamp(30px, 30px + 70 * (100vw - 320px) / 1120, 100px);
}

.about__images {
  margin-left: calc(clamp(100px, 100px + 150 * (100vw - 320px) / 1120, 250px) * -1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: clamp(20px, 20px + 12 * (100vw - 320px) / 1120, 32px);
  position: relative;
}

.about__img {
  display: block;
  max-width: clamp(200px, 200px + 185 * (100vw - 320px) / 1120, 385px);
  max-height: clamp(300px, 300px + 250 * (100vw - 320px) / 1120, 550px);
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  border-radius: 20px;
}

.about__img--not-radius-right-bottom {
  border-radius: 20px 20px 0 20px;
}

.about__dop {
  position: absolute;
  top: 50%;
  right: calc(clamp(30px, 30px + 30 * (100vw - 320px) / 1120, 60px) * -1);
  max-width: clamp(220px, 220px + 80 * (100vw - 320px) / 1120, 300px);
  width: 100%;
  padding: clamp(10px, 10px + 22 * (100vw - 320px) / 1120, 32px) clamp(10px, 10px + 20 * (100vw - 320px) / 1120, 30px);
  background: #ffffff;
  border-radius: 20px;
  -webkit-box-shadow: 4px 20px 42px -2px rgba(0, 0, 0, 0.12);
          box-shadow: 4px 20px 42px -2px rgba(0, 0, 0, 0.12);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about__dop::before {
  content: "";
  width: clamp(25px, 25px + 20 * (100vw - 320px) / 1120, 45px);
  height: clamp(25px, 25px + 20 * (100vw - 320px) / 1120, 45px);
  border-radius: 30px;
  background: rgba(88, 190, 191, 0.2) url(../../images/icons/building.svg) center/clamp(10px, 10px + 7 * (100vw - 320px) / 1120, 17px) clamp(16px, 16px + 7 * (100vw - 320px) / 1120, 23px) no-repeat;
}

.about__dop-content {
  max-width: clamp(150px, 150px + 27 * (100vw - 320px) / 1120, 177px);
}

.about__name {
  font-weight: 700;
  letter-spacing: 0.05em;
}

.about__content {
  max-width: clamp(290px, 290px + 85 * (100vw - 320px) / 1120, 375px);
}

.about__title {
  margin-bottom: 20px;
}

.about__text {
  margin-bottom: clamp(20px, 20px + 20 * (100vw - 320px) / 1120, 40px);
}

.start {
  padding-bottom: clamp(70px, 70px + 70 * (100vw - 320px) / 1120, 140px);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, #ffffff), color-stop(50%, #f5f6fa));
  background: linear-gradient(180deg, #ffffff 50%, #f5f6fa 50%);
}

.start__container {
  padding: clamp(20px, 20px + 70 * (100vw - 320px) / 1120, 90px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: -webkit-image-set(url("../images/main/start/bg.avif") type("image/avif"), url("../images/main/start/bg@2x.avif") 2x type("image/avif"), url("../images/main/start/bg.webp") type("image/webp"), url("../images/main/start/bg@2x.webp") 2x type("image/webp"), url("../images/main/start/bg.jpg"), url("../images/main/start/bg@2x.jpg") 2x) center/cover no-repeat;
  background: image-set(url("../images/main/start/bg.avif") type("image/avif"), url("../images/main/start/bg@2x.avif") 2x type("image/avif"), url("../images/main/start/bg.webp") type("image/webp"), url("../images/main/start/bg@2x.webp") 2x type("image/webp"), url("../images/main/start/bg.jpg"), url("../images/main/start/bg@2x.jpg") 2x) center/cover no-repeat;
  border-radius: 20px;
  color: #ffffff;
  position: relative;
  overflow: hidden;
}

.start__image {
  position: absolute;
  top: 15%;
  left: -21%;
  padding: 25px;
  max-width: clamp(300px, 300px + 500 * (100vw - 320px) / 1120, 800px);
  max-height: clamp(200px, 200px + 355 * (100vw - 320px) / 1120, 555px);
  background: #ffffff;
  -webkit-box-shadow: 4px 20px 42px -2px rgba(0, 0, 0, 0.12);
          box-shadow: 4px 20px 42px -2px rgba(0, 0, 0, 0.12);
  border-radius: 20px;
}

.start__img {
  display: block;
  max-width: 100%;
  max-height: 100%;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.start__content {
  max-width: clamp(290px, 290px + 75 * (100vw - 320px) / 1120, 365px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.start__title {
  margin-bottom: 15px;
}

.start__text {
  margin-bottom: clamp(15px, 15px + 15 * (100vw - 320px) / 1120, 30px);
}

.start__actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: clamp(10px, 10px + 10 * (100vw - 320px) / 1120, 20px);
}

.serve {
  padding-bottom: clamp(50px, 50px + 60 * (100vw - 320px) / 1120, 110px);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, #f5f6fa), color-stop(50%, #ffffff));
  background: linear-gradient(180deg, #f5f6fa 50%, #ffffff 50%);
}

.serve__title {
  margin-bottom: 10px;
}

.serve__text {
  margin-bottom: clamp(30px, 30px + 15 * (100vw - 320px) / 1120, 45px);
}

.serve__items {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(clamp(250px, 250px + 290 * (100vw - 320px) / 1120, 540px), 1fr));
  gap: clamp(20px, 20px + 10 * (100vw - 320px) / 1120, 30px);
}

.serve__item {
  padding: clamp(20px, 20px + 20 * (100vw - 320px) / 1120, 40px) clamp(30px, 30px + 58 * (100vw - 320px) / 1120, 88px);
  -webkit-box-shadow: 0 40px 52px -22px rgba(0, 0, 0, 0.08);
          box-shadow: 0 40px 52px -22px rgba(0, 0, 0, 0.08);
  background: #ffffff;
  border-radius: 10px;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.serve__icon {
  margin-bottom: 15px;
}

.serve__icon svg {
  width: clamp(35px, 35px + 35 * (100vw - 320px) / 1120, 70px);
  height: clamp(35px, 35px + 35 * (100vw - 320px) / 1120, 70px);
  fill: #f78434;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.serve__name {
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.serve__info {
  margin-bottom: clamp(15px, 15px + 10 * (100vw - 320px) / 1120, 25px);
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.serve__btn {
  margin-top: auto;
}

.choose {
  padding-bottom: clamp(80px, 80px + 90 * (100vw - 320px) / 1120, 170px);
}

.choose__title {
  margin-bottom: clamp(30px, 30px + 25 * (100vw - 320px) / 1120, 55px);
}

.choose__items {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(clamp(180px, 180px + 68 * (100vw - 320px) / 1120, 248px), 1fr));
  gap: clamp(30px, 30px + 5 * (100vw - 320px) / 1120, 35px);
}

.choose__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.choose__icon {
  width: clamp(35px, 35px + 35 * (100vw - 320px) / 1120, 70px);
  height: clamp(35px, 35px + 35 * (100vw - 320px) / 1120, 70px);
  border-radius: 50%;
  background: rgba(88, 190, 191, 0.2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 15px;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.choose__icon svg {
  max-width: clamp(20px, 20px + 20 * (100vw - 320px) / 1120, 40px);
  height: clamp(15px, 15px + 15 * (100vw - 320px) / 1120, 30px);
  fill: #58bebf;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.choose__name {
  font-weight: 700;
  font-size: clamp(16px, 16px + 12 * (100vw - 320px) / 1120, 28px);
  letter-spacing: 0.02em;
}

.testimonials {
  padding-bottom: 40px;
}

.testimonials__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 20px;
  margin-bottom: clamp(30px, 30px + 30 * (100vw - 320px) / 1120, 60px);
}

.testimonials__title {
  max-width: clamp(300px, 300px + 155 * (100vw - 320px) / 1120, 455px);
}

.testimonials__text {
  max-width: clamp(300px, 300px + 100 * (100vw - 320px) / 1120, 400px);
}

.testimonials__items {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(clamp(250px, 250px + 100 * (100vw - 320px) / 1120, 350px), 1fr));
  gap: clamp(20px, 20px + 10 * (100vw - 320px) / 1120, 30px);
  position: relative;
}

.testimonials__items::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  -webkit-transform: translate(50%, -50%);
      -ms-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
  width: clamp(40px, 40px + 40 * (100vw - 320px) / 1120, 80px);
  height: clamp(40px, 40px + 40 * (100vw - 320px) / 1120, 80px);
  background: url(../../images/main/testimonial/decor.svg) center/cover no-repeat;
}

.testimonials__card {
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.testimonials__ibg {
  padding: 0px 0px 58% 0px;
  position: relative;
}

.testimonials__link {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  bottom: clamp(10px, 10px + 10 * (100vw - 320px) / 1120, 20px);
  right: clamp(10px, 10px + 10 * (100vw - 320px) / 1120, 20px);
  width: clamp(30px, 30px + 20 * (100vw - 320px) / 1120, 50px);
  height: clamp(30px, 30px + 20 * (100vw - 320px) / 1120, 50px);
  border-radius: 50%;
  background: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.testimonials__link::before {
  content: "";
  width: clamp(10px, 10px + 5 * (100vw - 320px) / 1120, 15px);
  height: clamp(10px, 10px + 5 * (100vw - 320px) / 1120, 15px);
  background: url(../../images/icons/play.svg) center/cover no-repeat;
}

.testimonials__content {
  background: #ffffff;
  padding: clamp(20px, 20px + 10 * (100vw - 320px) / 1120, 30px);
}

.testimonials__info {
  margin-bottom: clamp(15px, 15px + 8 * (100vw - 320px) / 1120, 23px);
}

.testimonials__author {
  font-weight: 700;
  font-size: clamp(14px, 14px + 4 * (100vw - 320px) / 1120, 18px);
  letter-spacing: 0.03em;
}

.testimonials__location {
  color: #58bebf;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.experience {
  background: url(../../images/main/experience/bg.svg) center/cover no-repeat;
  color: #ffffff;
}

.experience__container {
  min-height: clamp(300px, 300px + 198 * (100vw - 320px) / 1120, 498px);
  padding-block: clamp(30px, 30px + 25 * (100vw - 320px) / 1120, 55px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  position: relative;
}

.experience__container::before {
  content: "";
  position: absolute;
  bottom: 0;
  right: calc(clamp(0px, 0px + 80 * (100vw - 320px) / 1120, 80px) * -1);
  width: clamp(250px, 250px + 493 * (100vw - 320px) / 1120, 743px);
  height: clamp(250px, 250px + 493 * (100vw - 320px) / 1120, 743px);
  background: linear-gradient(224deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.5) 100%);
  border-radius: 50%;
  -webkit-transform: translateY(50%);
      -ms-transform: translateY(50%);
          transform: translateY(50%);
}

.experience__content {
  max-width: clamp(290px, 290px + 70 * (100vw - 320px) / 1120, 360px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  row-gap: 15px;
}

.experience__text {
  margin-bottom: 15px;
}

.experience__image {
  position: absolute;
  bottom: 0;
  right: clamp(0px, 0px + 80 * (100vw - 320px) / 1120, 80px);
  max-width: clamp(200px, 200px + 278 * (100vw - 320px) / 1120, 478px);
  max-height: clamp(269px, 269px + 278 * (100vw - 320px) / 1120, 547px);
}

.experience__img {
  display: block;
  max-width: 100%;
  max-height: 100%;
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.footer {
  padding: clamp(40px, 40px + 45 * (100vw - 320px) / 1120, 85px) 0;
  position: relative;
  z-index: 1;
}

.footer__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 30px;
}

.footer__logo {
  margin-bottom: 15px;
}

.footer__text {
  max-width: 300px;
  margin-bottom: clamp(20px, 20px + 20 * (100vw - 320px) / 1120, 40px);
}

.footer__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: clamp(30px, 30px + 55 * (100vw - 320px) / 1120, 85px);
}

.footer__type {
  font-weight: 700;
  font-size: clamp(16px, 16px + 5 * (100vw - 320px) / 1120, 21px);
  letter-spacing: 0.02em;
  margin-bottom: clamp(10px, 10px + 8 * (100vw - 320px) / 1120, 18px);
}

.footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: clamp(10px, 10px + 3 * (100vw - 320px) / 1120, 13px);
}

.footer__link {
  font-size: clamp(12px, 12px + 2 * (100vw - 320px) / 1120, 14px);
  line-height: 1.9;
  letter-spacing: 0.04em;
  white-space: nowrap;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

@media (max-width: 767.98px) {
  .header__burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .menu {
    position: fixed;
    z-index: 3;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100%;
    height: 100%;
    -webkit-transition: all 0.4s linear;
    transition: all 0.4s linear;
    -webkit-transform: translateY(-100%);
        -ms-transform: translateY(-100%);
            transform: translateY(-100%);
    overflow: auto;
    overflow-x: hidden;
    background: #d8d8d8;
  }

  .menu.menu--active {
    -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
            transform: translateY(0);
  }

  .menu__items {
    padding: 100px 0;
    min-height: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .menu__item--mobile {
    display: block;
  }

  .menu__link {
    font-size: 20px;
  }

  .intro__container {
    min-height: auto;
  }

  .intro__image {
    position: static;
    max-width: 100%;
  }

  .intro__content {
    max-width: 100%;
    margin-bottom: 30px;
  }

  .about__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .about__images {
    margin-left: 0;
  }

  .about__content {
    max-width: 100%;
    text-align: center;
  }

  .start__container {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .start__image {
    display: none;
  }

  .testimonials__title {
    max-width: 100%;
  }

  .testimonials__text {
    max-width: 100%;
  }

  .footer__items {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .footer__nav {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media (max-width: 575.98px) {
  .about__dop {
    right: auto;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
  }

  .experience__container {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .experience__container::before {
    left: 50%;
    right: auto;
    -webkit-transform: translateX(-50%) translateY(50%);
        -ms-transform: translateX(-50%) translateY(50%);
            transform: translateX(-50%) translateY(50%);
  }

  .experience__image {
    display: none;
  }

  .socials {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .footer__items {
    text-align: center;
  }

  .footer__nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (any-hover: hover) {
  .menu__link:hover:not(.menu__link--active) {
    color: #f78434;
  }

  .btn:hover {
    background: #ffffff;
    color: #f78434;
    border-color: currentColor;
  }

  .socials__link:hover {
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
  }

  .serve__item:hover {
    background: #f78434;
    color: #ffffff;
  }

  .serve__item:hover .serve__icon svg {
    fill: #ffffff;
  }

  .serve__item:hover .serve__name {
    color: #ffffff;
  }

  .serve__item:hover .serve__info {
    color: #ffffff;
  }

  .serve__item:hover .serve__btn {
    background: #ffffff;
    color: #f78434;
    border-color: currentColor;
  }

  .choose__item:hover .choose__icon {
    background: #f78434;
  }

  .choose__item:hover .choose__icon svg {
    fill: #ffffff;
  }

  .testimonials__card:hover {
    -webkit-box-shadow: 0 10px 52px 0 rgba(0, 0, 0, 0.08);
            box-shadow: 0 10px 52px 0 rgba(0, 0, 0, 0.08);
  }

  .testimonials__card:hover .testimonials__link {
    opacity: 1;
    visibility: visible;
  }

  .testimonials__card:hover .testimonials__location {
    color: #f78434;
  }

  .footer__link:hover {
    text-shadow: 0 0 1px currentColor;
  }
}