.employees {
  // .employees__container
  &__container {
  }
  // .employees__top
  &__top {
  }
  // .employees__image
  &__image {
    max-width: 100%;
    width: 100%;
  }
  // .employees__img
  &__img {
    display: block;
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
}
