.events {
  // .events__container
  &__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 20px;

    @include big-mobile {
      grid-template-columns: 1fr;
    }
  }
  // .events__top
  &__top {
    padding-right: 50px;
  }
  // .events__title
  &__title {
  }
  // .events__text
  &__text {
  }
  // .events__form
  &__form {
  }
}
