.intro {
  padding: 0;

  // .intro__container
  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;

    @include mobile {
      flex-wrap: wrap;
      justify-content: center;
    }
  }
  // .intro__content
  &__content {
    padding-block: 30px;
    max-width: 480px;
    width: 100%;

    @include mobile {
      max-width: 80%;
      text-align: center;
    }
  }
  // .intro__title
  &__title {
  }
  // .intro__text
  &__text {
  }
  // .intro__image
  &__image {
    max-width: 738px;
    width: 100%;
    transform: translateX(10%);

    @include mobile {
      transform: translateX(0);
    }
  }
  // .intro__img
  &__img {
    display: block;
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
}
