.interests {
  // .interests__container
  &__container {
    display: flex;
    flex-direction: column;
    row-gap: 18px;
  }
  // .interests__top
  &__top {
  }
  // .interests__items
  &__items {
    padding: 0 clampAd(10, 20);

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(clampAd(200, 353), 1fr));
    align-items: start;
    gap: clampAd(20, 40);

    @include tablet {
      align-items: stretch;
    }
  }
  // .interests__item
  &__item {
    padding: clampAd(30, 50) clampAd(20, 40) clampAd(40, 65);

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 20px;

    border-radius: $radius-medium;
    box-shadow: 5px 5px 20px 0 $color-shadow;
    background: $color-light;
  }
  // .interests__image
  &__image {
    max-width: clampAd(55, 85);
    width: auto;
  }
  // .interests__img
  &__img {
    display: block;
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
  // .interests__name
  &__name {
    @include Recoleta600;
    font-size: clampAd(16, 28);
    line-height: 1.1;
  }
  // .interests__list
  &__list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: clampAd(10, 15);
  }
  // .interests__point
  &__point {
    font-size: clampAd(12, 16);
    text-transform: capitalize;
    white-space: nowrap;

    display: flex;
    align-items: center;
    column-gap: clampAd(10, 12);

    &::before {
      content: "";
      width: 8px;
      height: 8px;
      border-radius: $radius-circle;
      background: currentColor;
    }
  }
}
