@import "components/mixin";

.btn {
  padding: clampAd(10, 16) clampAd(20, 30);

  border-radius: $radius;
  background: $color-accent;
  color: $white;
  border: 1px solid transparent;

  font-weight: 500;
  font-size: clampAd(12, 14);
  letter-spacing: 0.14em;
  text-align: center;
  color: $white;

  transition: all 0.3s linear;

  @media (any-hover: hover) {
    &:hover:not(:disabled) {
      color: $color-accent;
      border-color: currentColor;
      background: transparent;
    }
  }

  &--background {
    background: rgba(129, 129, 139, 0.2);
  }

  &--padding {
    padding: clampAd(10, 16) clampAd(20, 24);
  }
}
