@import "components/mixin";

.soc1als {
  display: flex;
  align-items: center;
  gap: clampAd(10, 16);

  // .soc1als__item
  &__item {
    width: clampAd(28, 36);
    height: clampAd(28, 36);

    border-radius: $radius-circle;
    border: 1px solid $color-no-active;
    transition: all 0.3s linear;

    &:has(.soc1als__link:hover) {
      border-color: $color-accent;
    }
  }
  // .soc1als__link
  &__link {
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    @media (any-hover: hover) {
      &:hover:not(:disabled) {
        svg {
          fill: $color-accent;
        }
      }
    }

    svg {
      width: clampAd(16, 20);
      height: clampAd(16, 20);
      fill: $color-no-active;
      transition: all 0.3s linear;
    }
  }
}
