@import "components/mixin";

.tabs {
  // .tabs__items
  &__items {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px clampAd(30, 80);

    margin-bottom: clampAd(50, 100);
  }

  // .tabs__item
  &__item {
    font-weight: 700;
    font-size: clampAd(16, 24);
    white-space: nowrap;

    // .tabs__item--active
    &--active {
      color: $color-accent;
    }
  }
  // .tabs__inner
  &__inner {
  }
  // .tabs__block
  &__block {
    display: none;
    flex-direction: column;
    row-gap: clampAd(30, 70);

    // .tabs__block--active
    &--active {
      display: flex;
    }
  }
  // .tabs__list
  &__list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(clampAd(120, 270), 1fr));
    grid-auto-flow: dense;
    gap: clampAd(30, 100) clampAd(20, 40);
  }
  // .tabs__point
  &__point {
    display: flex;
    flex-direction: column;
    row-gap: 20px;

    border: 1px solid $color-accent;
  }
  // .tabs__ibg
  &__ibg {
    padding: 0px 0px 63% 0px;
  }
  // .tabs__img
  &__img {
  }
  // .tabs__content
  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    row-gap: 20px;
  }
  // .tabs__name
  &__name {
  }
  // .tabs__info
  &__info {
  }
  // .tabs__price
  &__price {
    font-weight: 700;
    font-size: clampAd(16, 24);
  }
  // .tabs__link
  &__link {
    width: 100%;
    padding: 2px 0;
    border-top: 1px solid currentColor;

    color: $color-accent;
    transition: all 0.3s linear;

    @media (any-hover: hover) {
      &:hover:not(:disabled) {
        opacity: 0.8;
      }
    }
  }
  // .tabs__btn
  &__btn {
    margin: 0 auto;
  }
}
