<footer class="footer">
  <div class="footer__container">
    <nav class="footer__nav">
      <ul class="footer__menu">
        <li class="footer__item">
          <a class="footer__link" href="#">
            Your account
          </a>
        </li>
        <li class="footer__item">
          <a class="footer__link" href="#">
            Contact us
          </a>
        </li>
        <li class="footer__item">
          <a class="footer__link" href="#">
            Terms of use
          </a>
        </li>
      </ul>
    </nav>
    <ul class="footer__socials socials">
      <li class="socials__item">
        <a class="socials__link" href="#" aria-label="go to facebook" title="go to facebook">
          <img class="socials__icon" src="../images/icons/facebook.svg" alt="facebook">
        </a>
      </li>
      <li class="socials__item">
        <a class="socials__link" href="#" aria-label="go to twitter" title="go to twitter">
          <img class="socials__icon" src="../images/icons/twitter.svg" alt="twitter">
        </a>
      </li>
      <li class="socials__item">
        <a class="socials__link" href="#" aria-label="go to instagram" title="go to instagram">
          <img class="socials__icon" src="../images/icons/instagram.svg" alt="instagram">
        </a>
      </li>
      <li class="socials__item">
        <a class="socials__link" href="#" aria-label="go to pinterest" title="go to pinterest">
          <img class="socials__icon" src="../images/icons/pinterest.svg" alt="pinterest">
        </a>
      </li>
    </ul>
    <p class="footer__copy">
      &copy; WebCademy.ru. Макет создан для интенсив ВебКадеми
    </p>
  </div>
</footer>
</div>

<script src="js/script.min.js" defer></script>
</body>

</html>