<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scable=0" />
  <meta name="description" content="">
  <meta name="keywords" content="">
  <link rel="icon" type="image/icon" href="favicon.ico" sizes="16x16">
  <link rel="icon" type="image/icon" href="favicon.ico" sizes="32x32">
  <link rel="icon" type="image/icon" href="favicon.ico" sizes="64x64">
  <link rel="icon" type="image/svg+xml" href="images/favicons/favicon.svg">
  <link rel="apple-touch-icon" href="images/favicons/appeal-touch-icon.png">
  <link rel="stylesheet" href="css/style.min.css" />
  <title>Elegance</title>
</head>

<body>
  <div class="wrapper">
    <header class="header">
      <div class="header__container">
        <a class="header__logo logo" href="#" aria-label="logo company Elegance" title="logo company Elegance">
          <img src="images/logo.svg" alt="logo" loading="lazy" width="119" height="38">
        </a>
        <nav class="header__menu menu">
          <ul class="menu__items">
            <li class="menu__item">
              <a class="menu__link" href="#">Colection</a>
            </li>
            <li class="menu__item">
              <a class="menu__link" href="#">Men</a>
            </li>
            <li class="menu__item">
              <a class="menu__link" href="#">Women</a>
            </li>
            <li class="menu__item">
              <a class="menu__link" href="#">Blog</a>
            </li>
            <li class="menu__item">
              <a class="menu__link" href="#">Faq</a>
            </li>
          </ul>
        </nav>
        <a class="header__action" href="#">
          <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd"
              d="M8 23C9.10457 23 10 22.1046 10 21C10 19.8954 9.10457 19 8 19C6.89543 19 6 19.8954 6 21C6 22.1046 6.89543 23 8 23Z"
              stroke-linecap="round" stroke-linejoin="round" />
            <path fill-rule="evenodd" clip-rule="evenodd"
              d="M20 23C21.1046 23 22 22.1046 22 21C22 19.8954 21.1046 19 20 19C18.8954 19 18 19.8954 18 21C18 22.1046 18.8954 23 20 23Z"
              stroke-linecap="round" stroke-linejoin="round" />
            <path
              d="M5.67 6H23L21.32 14.39C21.1313 15.3402 20.2886 16.0186 19.32 16H8.75C7.73948 16.0086 6.88134 15.262 6.75 14.26L5.23 2.74C5.09962 1.7456 4.25291 1.00152 3.25 1H1"
              stroke-linecap="round" stroke-linejoin="round" />
          </svg>
          <span>3</span>
        </a>
        <button class="header__burger" type="button" aria-label="menu" title="menu">
          <span></span>
          <span></span>
          <span></span>
        </button>
      </div>
    </header>