@font-face {
  font-family: "Stem";
  src:
    url("../../fonts/Stem-Regular.woff2") format("woff2"),
    url("../../fonts/Stem-Regular.woff") format("woff");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "Stem";
  src:
    url("../../fonts/Stem-Medium.woff2") format("woff2"),
    url("../../fonts/Stem-Medium.woff") format("woff");
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: "Stem";
  src:
    url("../../fonts/Stem-Bold.woff2") format("woff2"),
    url("../../fonts/Stem-Bold.woff") format("woff");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}
