<footer class="footer">
  <div class="footer__top">
    <div class="footer__container">
      <ul class="footer__items">
        <div class="footer__item">
          <div class="footer__block">
            <a class="footer__logo logo" href="#" aria-label="logo company HR" title="logo company HR">
              <img src="images/logo.svg" alt="logo" loading="lazy" width="48" height="48">
            </a>
            <span>HKinvision</span>
          </div>
          <p class="footer__text">
            The World&rsquo;s Best Luxury Car&rsquo;s Dealing Platform
          </p>
        </div>
        <nav class="footer__nav">
          <div class="footer__nav-item">
            <span class="footer__type">
              Company
            </span>
            <ul class="footer__list">
              <li class="footer__point">
                <a class="footer__link" href="#">
                  About Us
                </a>
              </li>
              <li class="footer__point">
                <a class="footer__link" href="#">
                  Product
                </a>
              </li>
              <li class="footer__point">
                <a class="footer__link" href="#">
                  Testimonial
                </a>
              </li>
            </ul>
          </div>
          <div class="footer__nav-item">
            <span class="footer__type">
              Support
            </span>
            <ul class="footer__list">
              <li class="footer__point">
                <a class="footer__link" href="#">
                  FAQ
                </a>
              </li>
              <li class="footer__point">
                <a class="footer__link" href="#">
                  Privacy Policy
                </a>
              </li>
              <li class="footer__point">
                <a class="footer__link" href="#">
                  Terms of Services
                </a>
              </li>
            </ul>
          </div>
          <div class="footer__nav-item">
            <span class="footer__type">
              Category
            </span>
            <ul class="footer__list">
              <li class="footer__point">
                <a class="footer__link" href="#">
                  Super Cars
                </a>
              </li>
              <li class="footer__point">
                <a class="footer__link" href="#">
                  Sport Cars
                </a>
              </li>
              <li class="footer__point">
                <a class="footer__link" href="#">
                  More Cars
                </a>
              </li>
            </ul>
          </div>
        </nav>
        <ul class="footer__socials">
          <li class="footer__social">
            <a class="footer__social-link" href="#">
              <picture>
                <source type='image/avif' srcset='../images/icons/facebook.avif, ../images/icons/facebook@2x.avif 2x'>
                <source type='image/webp' srcset='../images/icons/facebook.webp, ../images/icons/facebook@2x.webp 2x'>
                <img class="footer__icon" src="../images/icons/facebook.png" srcset="../images/icons/facebook@2x.png 2x"
                  alt="facebook" loading="lazy" width="98" height="25">
              </picture>
            </a>
          </li>
          <li class="footer__social">
            <a class="footer__social-link" href="#">
              <picture>
                <source type='image/avif' srcset='../images/icons/instagram.avif, ../images/icons/instagram@2x.avif 2x'>
                <source type='image/webp' srcset='../images/icons/instagram.webp, ../images/icons/instagram@2x.webp 2x'>
                <img class="footer__icon" src="../images/icons/instagram.png"
                  srcset="../images/icons/instagram@2x.png 2x" alt="instagram" loading="lazy" width="98" height="28">
              </picture>
            </a>
          </li>
          <li class="footer__social">
            <a class="footer__social-link" href="#">
              <picture>
                <source type='image/avif' srcset='../images/icons/youtube.avif, ../images/icons/youtube@2x.avif 2x'>
                <source type='image/webp' srcset='../images/icons/youtube.webp, ../images/icons/youtube@2x.webp 2x'>
                <img class="footer__icon" src="../images/icons/youtube.png" srcset="../images/icons/youtube@2x.png 2x"
                  alt="youtube" loading="lazy" width="98" height="25">
              </picture>
            </a>
          </li>
        </ul>
    </div>
  </div>
  <div class="footer__bottom">
    <p class="footer__copy">
      &copy;2022 HKInvestor. All right reserved
    </p>
  </div>
</footer>
</div>
<script src="js/script.min.js" defer></script>
</body>

</html>