.btn {
  padding: 15px clampAd(20, 25);
  background: $color-dark;
  border: 1px solid transparent;

  @include Fahkwang400;
  font-size: clampAd(14, 16);
  line-height: 1.3;
  text-align: center;
  color: $white;
  text-transform: capitalize;

  transition: all 0.3s linear;

  @media (any-hover: hover) {
    &:hover {
      background: transparent;
      color: $color-dark;
      border-color: currentColor;
    }
  }

  &--reverse {
    background: transparent;
    color: $color-dark;
    border-color: currentColor;

    @media (any-hover: hover) {
      &:hover {
        background: $color-dark;
        color: $white;
        border-color: transparent;
      }
    }
  }

  &--small {
    padding: clampAd(10, 15) clampAd(15, 25);

    font-size: clampAd(12, 16);
  }
}
