.form {
  width: 100%;
  position: relative;
  // .form__input
  &__input {
    outline: none;

    width: 100%;
    padding: 20px 80px 20px 20px;

    background: transparent;
    border: 1px solid $color-dark;

    @include Fahkwang400;
    font-size: clampAd(14, 16);

    transition: all 0.3s linear;

    &::placeholder {
      @include Fahkwang400;
      font-size: clampAd(14, 16);
      color: $black;
    }

    &:focus {
      border-color: $color-accent;

      & + .form__button {
        background: $color-accent;
      }
    }
  }
  // .form__button
  &__button {
    position: absolute;
    top: 50%;
    right: 5px;
    transform: translateY(-50%);

    width: 53px;
    height: 51px;
    background: $color-dark;

    display: flex;
    justify-content: center;
    align-items: center;

    transition: all 0.3s linear;

    &::before {
      content: "";
      width: 26px;
      height: 20px;
      background: url(../../images/icons/mail.svg) center/cover no-repeat;
    }
  }
}
