@import "components/mixin";

.menu {
  // .menu__items
  &__items {
    display: flex;
    align-items: center;
    gap: 20px clampAd(20, 36);
  }
  // .menu__item
  &__item {
  }
  // .menu__link
  &__link {
    @include Fahkwang600;
    font-size: 16px;
    line-height: 1.31;
    text-transform: capitalize;
    white-space: nowrap;
    text-underline-offset: 0;

    transition: all 0.3s linear;

    @media (any-hover: hover) {
      &:hover {
        text-decoration: underline;
        text-underline-offset: 3px;
      }
    }

    &--active {
      text-decoration: underline;
      text-underline-offset: 3px;

      cursor: default;
    }
  }
}
