@font-face {
  font-family: "Recoleta";
  src:
    url("../../fonts/Recoleta-SemiBold.woff2") format("woff2"),
    url("../../fonts/Recoleta-SemiBold.woff") format("woff");
  font-style: normal;
  font-weight: 600;
  font-display: swap;
}
@font-face {
  font-family: "Noto Sans";
  src:
    url("../../fonts/NotoSans-Regular.woff2") format("woff2"),
    url("../../fonts/NotoSans-Regular.woff") format("woff");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Noto Sans";
  src:
    url("../../fonts/NotoSans-SemiBold.woff2") format("woff2"),
    url("../../fonts/NotoSans-SemiBold.woff") format("woff");
  font-style: normal;
  font-weight: 600;
  font-display: swap;
}
