<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scable=0" />
  <meta name="description" content="">
  <meta name="keywords" content="">
  <link rel="icon" type="image/icon" href="favicon.ico" sizes="16x16">
  <link rel="icon" type="image/icon" href="favicon.ico" sizes="32x32">
  <link rel="icon" type="image/icon" href="favicon.ico" sizes="64x64">
  <link rel="icon" type="image/svg+xml" href="images/favicons/favicon.svg">
  <link rel="apple-touch-icon" href="images/favicons/appeal-touch-icon.png">
  <link rel="stylesheet" href="css/style.min.css" />
  <title>Whirl</title>
</head>

<body>
  <div class="wrapper">
    <div class="top">
      <div class="top__container">
        <p class="top__text">
          A Webflow template for SaaS products.
        </p>
        <a class="top__link" href="#">
          See all templates >
        </a>
      </div>
    </div>

    <header class="header">
      <div class="header__container">
        <a class="header__logo logo" href="#" aria-label="logo company whirl" title="logo company whirl">
          <picture>
            <source srcset="../images/logo-small.svg" media="(max-width: 575px)">
            <img class="logo__img" src="images/logo.svg" alt="logo" loading="lazy" width="106" height="37">
          </picture>
        </a>
        <nav class="header__menu menu">
          <ul class="menu__items">
            <li class="menu__item">
              <a class="menu__link" href="#">Features</a>
            </li>
            <li class="menu__item">
              <a class="menu__link" href="#">Pricing</a>
            </li>
            <li class="menu__item">
              <a class="menu__link" href="#">Integrations</a>
            </li>
            <li class="menu__item">
              <a class="menu__link" href="#">Learn</a>
            </li>
          </ul>
        </nav>
        <ul class="header__actions">
          <li class="header__action">
            <a class="header__btn btn btn--reverse" href="#">
              Sign in
            </a>
            <a class="header__btn btn" href="#">
              Book a demo
            </a>
          </li>
        </ul>
        <button class="header__burger" type="button" aria-label="menu" title="menu">
          <span></span>
          <span></span>
          <span></span>
        </button>
      </div>
    </header>