@import "components/variables";
@import "components/fonts";
@import "components/mixin";
@import "components/resetStyle";

[class*="__container"] {
  max-width: $maxWidthContainer;
  margin: 0 auto;
  padding: 0 $containerPadding;
}

[class*="__burger"] {
  display: none;
  flex-direction: column;
  row-gap: 4px;
  cursor: pointer;

  span {
    width: 30px;
    height: 3px;
    border-radius: $radius-small;
    background: $color-accent-1;
    transition: all 0.3s linear;
  }

  &.header__burger--active {
    span {
      &:nth-child(1) {
        display: none;
      }
      &:nth-child(2) {
        transform: rotate(45deg);
      }
      &:nth-child(3) {
        transform: rotate(-45deg) translateY(-5px) translateX(5px);
      }
    }
  }
}

body {
  font-family: $fontFamily;
  background-color: $mainBackGround;
  color: $mainColor;
  font-size: clampAd(12, $mainSize);
  line-height: $lineheight;
  font-weight: $fontWeight;

  &.lock {
    overflow: hidden;
  }
}

.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main {
  flex: 1 1 auto;
}

.up {
  transition: all 0.3s linear;

  @media (any-hover: hover) {
    &:hover {
      opacity: 0.8;
    }
  }
}

@import "module/logo";
@import "module/menu";
@import "module/btn";
@import "module/title";
@import "module/socials";
@import "module/accardeon";

@import "blocks/header";
//------------------------------
@import "pages/index";
//------------------------------
@import "blocks/footer";

@import "components/adaptive";
