.socials {
  display: flex;
  align-items: center;
  gap: 20px clampAd(24, 26);

  // .socials__item
  &__item {
  }
  // .socials__link
  &__link {
    width: clampAd(24, 40);
    height: clampAd(24, 40);

    svg {
      width: 100%;
      height: 100%;
      fill: $color-dark;
      transition: all 0.3s linear;
    }

    @media (any-hover: hover) {
      &:hover {
        svg {
          fill: $color-accent;
        }
      }
    }
  }
}
