@charset "UTF-8";

/* ОБНУЛЕНИЕ СТИЛЕЙ */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  color: inherit;
}

a:focus {
  text-shadow: 0 0 1px #000000;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

button {
  padding: 0;
  margin: 0;
  color: inherit;
  font-size: inherit;
  font-family: inherit;
  font-weight: inherit;
  border: none;
  background: transparent;
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

img {
  vertical-align: top;
}

html,
body {
  height: 100%;
}

input,
textarea {
  cursor: pointer;
}

html {
  font-size: 16px;
  /* по умолчанию */
  scroll-behavior: smooth;
  height: -webkit-fill-available;
}

body {
  min-width: 320px;
  line-height: 1;
  font-family: "Roboto";
  background: #f5f5f5;
}

.wrapper {
  min-height: 100vh;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: -webkit-fill-available;
}

/* Slider */

.slick-slider {
  position: relative;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}

.slick-list:focus {
  outline: none;
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.slick-track:before,
.slick-track:after {
  content: "";
  display: table;
}

.slick-track:after {
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}

[dir=rtl] .slick-slide {
  float: right;
}

.slick-slide img {
  display: block;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

body.compensate-for-scrollbar {
  overflow: hidden;
}

.fancybox-active {
  height: auto;
}

.fancybox-is-hidden {
  left: -9999px;
  margin: 0;
  position: absolute !important;
  top: -9999px;
  visibility: hidden;
}

.fancybox-container {
  -webkit-backface-visibility: hidden;
  height: 100%;
  left: 0;
  outline: none;
  position: fixed;
  -webkit-tap-highlight-color: transparent;
  top: 0;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  width: 100%;
  z-index: 99992;
}

.fancybox-container * {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.fancybox-outer,
.fancybox-inner,
.fancybox-bg,
.fancybox-stage {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.fancybox-outer {
  -webkit-overflow-scrolling: touch;
  overflow-y: auto;
}

.fancybox-bg {
  background: rgb(30, 30, 30);
  opacity: 0;
  -webkit-transition-duration: inherit;
          transition-duration: inherit;
  -webkit-transition-property: opacity;
  transition-property: opacity;
  -webkit-transition-timing-function: cubic-bezier(0.47, 0, 0.74, 0.71);
          transition-timing-function: cubic-bezier(0.47, 0, 0.74, 0.71);
}

.fancybox-is-open .fancybox-bg {
  opacity: 0.9;
  -webkit-transition-timing-function: cubic-bezier(0.22, 0.61, 0.36, 1);
          transition-timing-function: cubic-bezier(0.22, 0.61, 0.36, 1);
}

.fancybox-infobar,
.fancybox-toolbar,
.fancybox-caption,
.fancybox-navigation .fancybox-button {
  direction: ltr;
  opacity: 0;
  position: absolute;
  -webkit-transition: opacity 0.25s ease, visibility 0s ease 0.25s;
  transition: opacity 0.25s ease, visibility 0s ease 0.25s;
  visibility: hidden;
  z-index: 99997;
}

.fancybox-show-infobar .fancybox-infobar,
.fancybox-show-toolbar .fancybox-toolbar,
.fancybox-show-caption .fancybox-caption,
.fancybox-show-nav .fancybox-navigation .fancybox-button {
  opacity: 1;
  -webkit-transition: opacity 0.25s ease 0s, visibility 0s ease 0s;
  transition: opacity 0.25s ease 0s, visibility 0s ease 0s;
  visibility: visible;
}

.fancybox-infobar {
  color: #ccc;
  font-size: 13px;
  -webkit-font-smoothing: subpixel-antialiased;
  height: 44px;
  left: 0;
  line-height: 44px;
  min-width: 44px;
  mix-blend-mode: difference;
  padding: 0 10px;
  pointer-events: none;
  top: 0;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.fancybox-toolbar {
  right: 0;
  top: 0;
}

.fancybox-stage {
  direction: ltr;
  overflow: visible;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  z-index: 99994;
}

.fancybox-is-open .fancybox-stage {
  overflow: hidden;
}

.fancybox-slide {
  -webkit-backface-visibility: hidden;
  /* Using without prefix would break IE11 */
  display: none;
  height: 100%;
  left: 0;
  outline: none;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  padding: 44px;
  position: absolute;
  text-align: center;
  top: 0;
  -webkit-transition-property: opacity, -webkit-transform;
  transition-property: opacity, -webkit-transform;
  transition-property: transform, opacity;
  transition-property: transform, opacity, -webkit-transform;
  white-space: normal;
  width: 100%;
  z-index: 99994;
}

.fancybox-slide::before {
  content: "";
  display: inline-block;
  font-size: 0;
  height: 100%;
  vertical-align: middle;
  width: 0;
}

.fancybox-is-sliding .fancybox-slide,
.fancybox-slide--previous,
.fancybox-slide--current,
.fancybox-slide--next {
  display: block;
}

.fancybox-slide--image {
  overflow: hidden;
  padding: 44px 0;
}

.fancybox-slide--image::before {
  display: none;
}

.fancybox-slide--html {
  padding: 6px;
}

.fancybox-content {
  background: #fff;
  display: inline-block;
  margin: 0;
  max-width: 100%;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  padding: 44px;
  position: relative;
  text-align: left;
  vertical-align: middle;
}

.fancybox-slide--image .fancybox-content {
  -webkit-animation-timing-function: cubic-bezier(0.5, 0, 0.14, 1);
          animation-timing-function: cubic-bezier(0.5, 0, 0.14, 1);
  -webkit-backface-visibility: hidden;
  background: transparent;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  left: 0;
  max-width: none;
  overflow: visible;
  padding: 0;
  position: absolute;
  top: 0;
  -ms-transform-origin: top left;
  -webkit-transform-origin: top left;
          transform-origin: top left;
  -webkit-transition-property: opacity, -webkit-transform;
  transition-property: opacity, -webkit-transform;
  transition-property: transform, opacity;
  transition-property: transform, opacity, -webkit-transform;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  z-index: 99995;
}

.fancybox-can-zoomOut .fancybox-content {
  cursor: -webkit-zoom-out;
  cursor: zoom-out;
}

.fancybox-can-zoomIn .fancybox-content {
  cursor: -webkit-zoom-in;
  cursor: zoom-in;
}

.fancybox-can-swipe .fancybox-content,
.fancybox-can-pan .fancybox-content {
  cursor: -webkit-grab;
  cursor: grab;
}

.fancybox-is-grabbing .fancybox-content {
  cursor: -webkit-grabbing;
  cursor: grabbing;
}

.fancybox-container [data-selectable=true] {
  cursor: text;
}

.fancybox-image,
.fancybox-spaceball {
  background: transparent;
  border: 0;
  height: 100%;
  left: 0;
  margin: 0;
  max-height: none;
  max-width: none;
  padding: 0;
  position: absolute;
  top: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 100%;
}

.fancybox-spaceball {
  z-index: 1;
}

.fancybox-slide--video .fancybox-content,
.fancybox-slide--map .fancybox-content,
.fancybox-slide--pdf .fancybox-content,
.fancybox-slide--iframe .fancybox-content {
  height: 100%;
  overflow: visible;
  padding: 0;
  width: 100%;
}

.fancybox-slide--video .fancybox-content {
  background: #000;
}

.fancybox-slide--map .fancybox-content {
  background: #e5e3df;
}

.fancybox-slide--iframe .fancybox-content {
  background: #fff;
}

.fancybox-video,
.fancybox-iframe {
  background: transparent;
  border: 0;
  display: block;
  height: 100%;
  margin: 0;
  overflow: hidden;
  padding: 0;
  width: 100%;
}

/* Fix iOS */

.fancybox-iframe {
  left: 0;
  position: absolute;
  top: 0;
}

.fancybox-error {
  background: #fff;
  cursor: default;
  max-width: 400px;
  padding: 40px;
  width: 100%;
}

.fancybox-error p {
  color: #444;
  font-size: 16px;
  line-height: 20px;
  margin: 0;
  padding: 0;
}

/* Buttons */

.fancybox-button {
  background: rgba(30, 30, 30, 0.6);
  border: 0;
  border-radius: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
  cursor: pointer;
  display: inline-block;
  height: 44px;
  margin: 0;
  padding: 10px;
  position: relative;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
  vertical-align: top;
  visibility: inherit;
  width: 44px;
}

.fancybox-button,
.fancybox-button:visited,
.fancybox-button:link {
  color: #ccc;
}

.fancybox-button:hover {
  color: #fff;
}

.fancybox-button:focus {
  outline: none;
}

.fancybox-button.fancybox-focus {
  outline: 1px dotted;
}

.fancybox-button[disabled],
.fancybox-button[disabled]:hover {
  color: #888;
  cursor: default;
  outline: none;
}

/* Fix IE11 */

.fancybox-button div {
  height: 100%;
}

.fancybox-button svg {
  display: block;
  height: 100%;
  overflow: visible;
  position: relative;
  width: 100%;
}

.fancybox-button svg path {
  fill: currentColor;
  stroke-width: 0;
}

.fancybox-button--play svg:nth-child(2),
.fancybox-button--fsenter svg:nth-child(2) {
  display: none;
}

.fancybox-button--pause svg:nth-child(1),
.fancybox-button--fsexit svg:nth-child(1) {
  display: none;
}

.fancybox-progress {
  background: #ff5268;
  height: 2px;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  -ms-transform: scaleX(0);
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -ms-transform-origin: 0;
  -webkit-transform-origin: 0;
          transform-origin: 0;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
  z-index: 99998;
}

/* Close button on the top right corner of html content */

.fancybox-close-small {
  background: transparent;
  border: 0;
  border-radius: 0;
  color: #ccc;
  cursor: pointer;
  opacity: 0.8;
  padding: 8px;
  position: absolute;
  right: -12px;
  top: -44px;
  z-index: 401;
}

.fancybox-close-small:hover {
  color: #fff;
  opacity: 1;
}

.fancybox-slide--html .fancybox-close-small {
  color: currentColor;
  padding: 10px;
  right: 0;
  top: 0;
}

.fancybox-slide--image.fancybox-is-scaling .fancybox-content {
  overflow: hidden;
}

.fancybox-is-scaling .fancybox-close-small,
.fancybox-is-zoomable.fancybox-can-pan .fancybox-close-small {
  display: none;
}

/* Navigation arrows */

.fancybox-navigation .fancybox-button {
  background-clip: content-box;
  height: 100px;
  opacity: 0;
  position: absolute;
  top: calc(50% - 50px);
  width: 70px;
}

.fancybox-navigation .fancybox-button div {
  padding: 7px;
}

.fancybox-navigation .fancybox-button--arrow_left {
  left: 0;
  left: env(safe-area-inset-left);
  padding: 31px 26px 31px 6px;
}

.fancybox-navigation .fancybox-button--arrow_right {
  padding: 31px 6px 31px 26px;
  right: 0;
  right: env(safe-area-inset-right);
}

/* Caption */

.fancybox-caption {
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.85)), color-stop(50%, rgba(0, 0, 0, 0.3)), color-stop(65%, rgba(0, 0, 0, 0.15)), color-stop(75.5%, rgba(0, 0, 0, 0.075)), color-stop(82.85%, rgba(0, 0, 0, 0.037)), color-stop(88%, rgba(0, 0, 0, 0.019)), to(rgba(0, 0, 0, 0)));
  background: linear-gradient(to top, rgba(0, 0, 0, 0.85) 0%, rgba(0, 0, 0, 0.3) 50%, rgba(0, 0, 0, 0.15) 65%, rgba(0, 0, 0, 0.075) 75.5%, rgba(0, 0, 0, 0.037) 82.85%, rgba(0, 0, 0, 0.019) 88%, rgba(0, 0, 0, 0) 100%);
  bottom: 0;
  color: #eee;
  font-size: 14px;
  font-weight: 400;
  left: 0;
  line-height: 1.5;
  padding: 75px 44px 25px 44px;
  pointer-events: none;
  right: 0;
  text-align: center;
  z-index: 99996;
}

@supports (padding: max(0px)) {
  .fancybox-caption {
    padding: 75px max(44px, env(safe-area-inset-right)) max(25px, env(safe-area-inset-bottom)) max(44px, env(safe-area-inset-left));
  }
}

.fancybox-caption--separate {
  margin-top: -50px;
}

.fancybox-caption__body {
  max-height: 50vh;
  overflow: auto;
  pointer-events: all;
}

.fancybox-caption a,
.fancybox-caption a:link,
.fancybox-caption a:visited {
  color: #ccc;
  text-decoration: none;
}

.fancybox-caption a:hover {
  color: #fff;
  text-decoration: underline;
}

/* Loading indicator */

.fancybox-loading {
  -webkit-animation: fancybox-rotate 1s linear infinite;
          animation: fancybox-rotate 1s linear infinite;
  background: transparent;
  border: 4px solid #888;
  border-bottom-color: #fff;
  border-radius: 50%;
  height: 50px;
  left: 50%;
  margin: -25px 0 0 -25px;
  opacity: 0.7;
  padding: 0;
  position: absolute;
  top: 50%;
  width: 50px;
  z-index: 99999;
}

@-webkit-keyframes fancybox-rotate {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes fancybox-rotate {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

/* Transition effects */

.fancybox-animated {
  -webkit-transition-timing-function: cubic-bezier(0, 0, 0.25, 1);
          transition-timing-function: cubic-bezier(0, 0, 0.25, 1);
}

/* transitionEffect: slide */

.fancybox-fx-slide.fancybox-slide--previous {
  opacity: 0;
  -webkit-transform: translate3d(-100%, 0, 0);
          transform: translate3d(-100%, 0, 0);
}

.fancybox-fx-slide.fancybox-slide--next {
  opacity: 0;
  -webkit-transform: translate3d(100%, 0, 0);
          transform: translate3d(100%, 0, 0);
}

.fancybox-fx-slide.fancybox-slide--current {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

/* transitionEffect: fade */

.fancybox-fx-fade.fancybox-slide--previous,
.fancybox-fx-fade.fancybox-slide--next {
  opacity: 0;
  -webkit-transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
          transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
}

.fancybox-fx-fade.fancybox-slide--current {
  opacity: 1;
}

/* transitionEffect: zoom-in-out */

.fancybox-fx-zoom-in-out.fancybox-slide--previous {
  opacity: 0;
  -webkit-transform: scale3d(1.5, 1.5, 1.5);
          transform: scale3d(1.5, 1.5, 1.5);
}

.fancybox-fx-zoom-in-out.fancybox-slide--next {
  opacity: 0;
  -webkit-transform: scale3d(0.5, 0.5, 0.5);
          transform: scale3d(0.5, 0.5, 0.5);
}

.fancybox-fx-zoom-in-out.fancybox-slide--current {
  opacity: 1;
  -webkit-transform: scale3d(1, 1, 1);
          transform: scale3d(1, 1, 1);
}

/* transitionEffect: rotate */

.fancybox-fx-rotate.fancybox-slide--previous {
  opacity: 0;
  -ms-transform: rotate(-360deg);
  -webkit-transform: rotate(-360deg);
          transform: rotate(-360deg);
}

.fancybox-fx-rotate.fancybox-slide--next {
  opacity: 0;
  -ms-transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

.fancybox-fx-rotate.fancybox-slide--current {
  opacity: 1;
  -ms-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}

/* transitionEffect: circular */

.fancybox-fx-circular.fancybox-slide--previous {
  opacity: 0;
  -webkit-transform: scale3d(0, 0, 0) translate3d(-100%, 0, 0);
          transform: scale3d(0, 0, 0) translate3d(-100%, 0, 0);
}

.fancybox-fx-circular.fancybox-slide--next {
  opacity: 0;
  -webkit-transform: scale3d(0, 0, 0) translate3d(100%, 0, 0);
          transform: scale3d(0, 0, 0) translate3d(100%, 0, 0);
}

.fancybox-fx-circular.fancybox-slide--current {
  opacity: 1;
  -webkit-transform: scale3d(1, 1, 1) translate3d(0, 0, 0);
          transform: scale3d(1, 1, 1) translate3d(0, 0, 0);
}

/* transitionEffect: tube */

.fancybox-fx-tube.fancybox-slide--previous {
  -webkit-transform: translate3d(-100%, 0, 0) scale(0.1) skew(-10deg);
          transform: translate3d(-100%, 0, 0) scale(0.1) skew(-10deg);
}

.fancybox-fx-tube.fancybox-slide--next {
  -webkit-transform: translate3d(100%, 0, 0) scale(0.1) skew(10deg);
          transform: translate3d(100%, 0, 0) scale(0.1) skew(10deg);
}

.fancybox-fx-tube.fancybox-slide--current {
  -webkit-transform: translate3d(0, 0, 0) scale(1);
          transform: translate3d(0, 0, 0) scale(1);
}

/* Styling for Small-Screen Devices */

/* Share */

.fancybox-share {
  background: #f4f4f4;
  border-radius: 3px;
  max-width: 90%;
  padding: 30px;
  text-align: center;
}

.fancybox-share h1 {
  color: #222;
  font-size: 35px;
  font-weight: 700;
  margin: 0 0 20px 0;
}

.fancybox-share p {
  margin: 0;
  padding: 0;
}

.fancybox-share__button {
  border: 0;
  border-radius: 3px;
  display: inline-block;
  font-size: 14px;
  font-weight: 700;
  line-height: 40px;
  margin: 0 5px 10px 5px;
  min-width: 130px;
  padding: 0 15px;
  text-decoration: none;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  white-space: nowrap;
}

.fancybox-share__button:visited,
.fancybox-share__button:link {
  color: #fff;
}

.fancybox-share__button:hover {
  text-decoration: none;
}

.fancybox-share__button--fb {
  background: #3b5998;
}

.fancybox-share__button--fb:hover {
  background: #344e86;
}

.fancybox-share__button--pt {
  background: #bd081d;
}

.fancybox-share__button--pt:hover {
  background: #aa0719;
}

.fancybox-share__button--tw {
  background: #1da1f2;
}

.fancybox-share__button--tw:hover {
  background: #0d95e8;
}

.fancybox-share__button svg {
  height: 25px;
  margin-right: 7px;
  position: relative;
  top: -1px;
  vertical-align: middle;
  width: 25px;
}

.fancybox-share__button svg path {
  fill: #fff;
}

.fancybox-share__input {
  background: transparent;
  border: 0;
  border-bottom: 1px solid #d7d7d7;
  border-radius: 0;
  color: #5d5b5b;
  font-size: 14px;
  margin: 10px 0 0 0;
  outline: none;
  padding: 10px 15px;
  width: 100%;
}

/* Thumbs */

.fancybox-thumbs {
  background: #ddd;
  bottom: 0;
  display: none;
  margin: 0;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  padding: 2px 2px 4px 2px;
  position: absolute;
  right: 0;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  top: 0;
  width: 212px;
  z-index: 99995;
}

.fancybox-thumbs-x {
  overflow-x: auto;
  overflow-y: hidden;
}

.fancybox-show-thumbs .fancybox-thumbs {
  display: block;
}

.fancybox-show-thumbs .fancybox-inner {
  right: 212px;
}

.fancybox-thumbs__list {
  font-size: 0;
  height: 100%;
  list-style: none;
  margin: 0;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 0;
  position: absolute;
  position: relative;
  white-space: nowrap;
  width: 100%;
}

.fancybox-thumbs-x .fancybox-thumbs__list {
  overflow: hidden;
}

.fancybox-thumbs-y .fancybox-thumbs__list::-webkit-scrollbar {
  width: 7px;
}

.fancybox-thumbs-y .fancybox-thumbs__list::-webkit-scrollbar-track {
  background: #fff;
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
          box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.fancybox-thumbs-y .fancybox-thumbs__list::-webkit-scrollbar-thumb {
  background: #2a2a2a;
  border-radius: 10px;
}

.fancybox-thumbs__list a {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  background-color: rgba(0, 0, 0, 0.1);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
  float: left;
  height: 75px;
  margin: 2px;
  max-height: calc(100% - 8px);
  max-width: calc(50% - 4px);
  outline: none;
  overflow: hidden;
  padding: 0;
  position: relative;
  -webkit-tap-highlight-color: transparent;
  width: 100px;
}

.fancybox-thumbs__list a::before {
  border: 6px solid #ff5268;
  bottom: 0;
  content: "";
  left: 0;
  opacity: 0;
  position: absolute;
  right: 0;
  top: 0;
  -webkit-transition: all 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: all 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  z-index: 99991;
}

.fancybox-thumbs__list a:focus::before {
  opacity: 0.5;
}

.fancybox-thumbs__list a.fancybox-thumbs-active::before {
  opacity: 1;
}

/* Styling for Small-Screen Devices */

[class*=__container] {
  max-width: 1360px;
  margin: 0 auto;
  padding: 0 15px;
}

[class*=__cont-left] {
  padding-left: calc((100% - 1360px) / 2 + 15px);
}

[class*=__cont-right] {
  padding-right: calc((100% - 1360px) / 2 + 15px);
}

[class*=__burger] {
  color: #ffffff;
  width: 40px;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 1px solid currentColor;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-left: 8px;
  row-gap: 4px;
}

[class*=__burger] span {
  width: 6px;
  height: 1px;
  background: currentColor;
  -webkit-box-shadow: 16px 0 0 currentColor;
          box-shadow: 16px 0 0 currentColor;
}

/*Для контейнера картинок в карточках - технический класс*/

[class*=__ibg] {
  position: relative;
  /*Для самих картинок в карточках технический класс*/
}

[class*=__ibg] img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

body {
  font-family: "Heebo", sans-serif;
  background-color: #000000;
  color: #ffffff;
  font-size: 16px;
  line-height: 1.75;
  font-weight: 300;
}

body.lock {
  overflow: hidden;
}

.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.logo {
  width: 135px;
  height: 25px;
}

.logo__img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.btn {
  display: inline-block;
  padding: 14px 30px;
  min-width: 193px;
  height: 54px;
  border-radius: 30px;
  border: 1px solid currentColor;
  background: transparent;
  font-size: 13px;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 1.3px;
  text-transform: uppercase;
  text-align: left;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
  position: relative;
}

.btn::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 1px solid currentColor;
  background: url(../images/main/arow.svg) center/70% no-repeat;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.title {
  display: inline-block;
  font-size: clamp(18px, 18px + 22 * (100vw - 320px) / 1600, 40px);
  font-weight: 700;
  line-height: 1.3;
  text-transform: uppercase;
  position: relative;
  z-index: 1;
}

.title span {
  position: absolute;
  z-index: -1;
  top: -0.45em;
  left: -0.65em;
  font-family: "Yantramanav", sans-serif;
  font-size: clamp(62px, 62px + 50 * (100vw - 320px) / 1600, 112px);
  font-weight: 700;
  line-height: 1;
  text-transform: uppercase;
  -webkit-text-stroke: 1px #404040;
  -webkit-text-fill-color: transparent;
}

.title::before {
  content: "";
  position: absolute;
  top: -1px;
  right: calc(100% + 8px);
  width: 26px;
  height: 40px;
  background: url(../images/main/plus.svg) center/cover no-repeat;
}

.title--center span {
  left: 0;
  font-size: clamp(72px, 72px + 108 * (100vw - 320px) / 1600, 180px);
}

.header {
  padding: 23px 0 26px;
  background: #131619;
}

.header--fixed {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 2;
  overflow: auto;
  background: #000000;
}

.header__container {
  max-width: 1920px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  position: relative;
  z-index: 3;
}

.header__actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: clamp(10px, 10px + 20 * (100vw - 320px) / 1600, 30px);
     -moz-column-gap: clamp(10px, 10px + 20 * (100vw - 320px) / 1600, 30px);
          column-gap: clamp(10px, 10px + 20 * (100vw - 320px) / 1600, 30px);
}

.header__btn {
  display: inline-block;
  min-width: clamp(60px, 60px + 64 * (100vw - 320px) / 1600, 124px);
  height: 38px;
  padding: 7px;
  color: #000000;
  font-size: 12px;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 1.2px;
  text-align: center;
  text-transform: uppercase;
  white-space: nowrap;
  border-radius: 30px;
  background: #ffffff;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
  position: relative;
  z-index: 3;
}

.header__burger {
  position: relative;
  z-index: 3;
}

.menu__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 50px;
     -moz-column-gap: 50px;
          column-gap: 50px;
}

.menu__link {
  font-size: 12px;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 1.2px;
  text-transform: uppercase;
  position: relative;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.menu__link--active {
  padding-right: 11px;
}

.menu__link--active::before {
  content: "";
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 0;
  width: 5px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: currentColor;
}

.intro {
  background: #131619;
}

.intro__container {
  max-width: 1920px;
  min-height: clamp(400px, 400px + 585 * (100vw - 320px) / 1600, 985px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.intro__subtitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-column-gap: clamp(15px, 15px + 15 * (100vw - 320px) / 1600, 30px);
     -moz-column-gap: clamp(15px, 15px + 15 * (100vw - 320px) / 1600, 30px);
          column-gap: clamp(15px, 15px + 15 * (100vw - 320px) / 1600, 30px);
  font-size: clamp(16px, 16px + 14 * (100vw - 320px) / 1600, 30px);
  font-weight: 700;
  line-height: 1.26;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.intro__subtitle::before {
  content: "";
  width: clamp(60px, 60px + 134 * (100vw - 320px) / 1600, 194px);
  aspect-ratio: 1;
  background: url(../images/main/arrowDown.svg) center/cover no-repeat;
}

.intro__title {
  font-size: clamp(60px, 60px + 300 * (100vw - 320px) / 1600, 360px);
  font-weight: 700;
  line-height: 1;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.intro .slick-dots {
  padding-bottom: 36px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 14px;
     -moz-column-gap: 14px;
          column-gap: 14px;
}

.intro .slick-dots button {
  width: 10px;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 1px solid currentColor;
  background: transparent;
}

.intro .slick-dots li {
  font-size: 0;
}

.intro .slick-dots .slick-active button {
  background: currentColor;
}

.about__item {
  min-height: 637px;
}

.about__item:nth-child(2n) {
  background: #131619;
}

.about__item:nth-child(2n) .about__card {
  padding-left: 15px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-column-gap: 175px;
     -moz-column-gap: 175px;
          column-gap: 175px;
}

.about__item:nth-child(2n):last-child .about__img {
  margin-bottom: 0;
}

.about__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 50px;
  padding-right: 75px;
  -webkit-column-gap: 200px;
     -moz-column-gap: 200px;
          column-gap: 200px;
}

.about__content {
  padding: clamp(50px, 50px + 50 * (100vw - 320px) / 1600, 100px) 0;
}

.about__title {
  max-width: 482px;
  margin-bottom: 15px;
}

.about__text {
  max-width: 400px;
  color: #c4c4c4;
  letter-spacing: 0.8px;
  margin-bottom: 37px;
}

.about__img {
  max-width: 518px;
  max-height: 760px;
  width: 100%;
  margin-top: -60px;
  margin-bottom: -60px;
}

.services {
  padding: 70px 0 120px;
}

.services__container {
  max-width: 1920px;
}

.services__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 60px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.services__item {
  height: 100%;
  max-width: clamp(100px, 100px + 51 * (100vw - 320px) / 1600, 151px);
  width: 100%;
  margin: 0 auto;
  padding-top: 80px;
  padding-right: 0;
  position: relative;
}

.services__item:before {
  content: "";
  position: absolute;
  top: 0;
  right: calc(clamp(50px, 50px + 32 * (100vw - 320px) / 1600, 82px) * -1);
  width: clamp(50px, 50px + 32 * (100vw - 320px) / 1600, 82px);
  aspect-ratio: 1;
  background: url(../images/main/services/arrow.svg) center/cover no-repeat;
}

.services__img {
  max-width: clamp(90px, 90px + 60 * (100vw - 320px) / 1600, 150px);
  max-height: clamp(90px, 90px + 60 * (100vw - 320px) / 1600, 150px);
  -o-object-fit: cover;
     object-fit: cover;
  margin-bottom: 32px;
}

.services__name {
  text-align: center;
  font-weight: 700;
  letter-spacing: 0.8px;
  text-transform: uppercase;
}

.join {
  background: #131619;
  text-align: center;
}

.join__top {
  padding: clamp(50px, 50px + 100 * (100vw - 320px) / 1600, 150px) 15px;
  background-image: url("../images/main/join/bg.jpg");
  background: -webkit-image-set(url("../images/main/join/bg.avif") type("image/avif"), url("../images/main/join/bg.webp") type("image/webp"), url("../images/main/join/bg.jpg")) center/cover no-repeat;
  background: image-set(url("../images/main/join/bg.avif") type("image/avif"), url("../images/main/join/bg.webp") type("image/webp"), url("../images/main/join/bg.jpg")) center/cover no-repeat;
}

.join__video {
  position: relative;
  max-width: 960px;
  width: 100%;
  margin: 0 auto;
}

.join__img {
  width: 100%;
}

.join__play {
  width: clamp(70px, 70px + 130 * (100vw - 320px) / 1600, 200px);
  aspect-ratio: 1;
  border-radius: 50%;
  background: transparent;
  border-radius: 50%;
  border: 1px solid currentColor;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: clamp(10px, 10px + 4 * (100vw - 320px) / 1600, 14px);
  font-weight: 700;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 2px;
     -moz-column-gap: 2px;
          column-gap: 2px;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.join__play svg {
  fill: currentColor;
  stroke: currentColor;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.join__bottom {
  padding: 0 15px clamp(50px, 50px + 100 * (100vw - 320px) / 1600, 150px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.join__name {
  margin-top: -0.55em;
  display: inline-block;
  font-size: clamp(40px, 40px + 140 * (100vw - 320px) / 1600, 180px);
  font-weight: 700;
  line-height: 1.2;
  text-transform: uppercase;
  margin-bottom: 58px;
  padding-right: clamp(58px, 58px + 100 * (100vw - 320px) / 1600, 158px);
  position: relative;
}

.join__name::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  width: clamp(30px, 30px + 97 * (100vw - 320px) / 1600, 127px);
  aspect-ratio: 1;
  background: url(../images/main/arrowUp.svg) center/cover no-repeat;
}

.join__title {
  margin-bottom: 10px;
}

.join__text {
  font-size: clamp(14px, 14px + 6 * (100vw - 320px) / 1600, 20px);
  line-height: 1.65;
  text-transform: uppercase;
  margin-bottom: 50px;
}

.join__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 30px 20px;
}

.join__input {
  width: 400px;
  border-radius: 30px;
  background: transparent;
  border: 1px solid #404040;
  padding: 15px 25px;
  color: #ffffff;
  font-size: 16px;
  letter-spacing: 0.8px;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.join__input::-webkit-input-placeholder {
  color: #c4c4c4;
  font-family: "Heebo", sans-serif;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 0.8px;
}

.join__input::-moz-placeholder {
  color: #c4c4c4;
  font-family: "Heebo", sans-serif;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 0.8px;
}

.join__input:-ms-input-placeholder {
  color: #c4c4c4;
  font-family: "Heebo", sans-serif;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 0.8px;
}

.join__input::-ms-input-placeholder {
  color: #c4c4c4;
  font-family: "Heebo", sans-serif;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 0.8px;
}

.join__input::placeholder {
  color: #c4c4c4;
  font-family: "Heebo", sans-serif;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 0.8px;
}

.map__container {
  max-width: 1920px;
  min-height: clamp(300px, 300px + 300 * (100vw - 320px) / 1600, 600px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 50px clamp(20px, 20px + 180 * (100vw - 320px) / 1600, 200px);
}

.map__info {
  width: 50%;
  height: 100%;
}

.map__info iframe {
  width: 100%;
  height: clamp(300px, 300px + 300 * (100vw - 320px) / 1600, 600px);
}

.map__content {
  padding-right: clamp(120px, 120px + 93 * (100vw - 320px) / 1600, 213px);
  max-width: clamp(400px, 400px + 305 * (100vw - 320px) / 1600, 705px);
  text-align: center;
}

.map__title {
  margin-bottom: 14px;
}

.map__title span {
  top: -0.3em;
  left: 0.3em;
}

.map__text {
  margin-bottom: 35px;
}

.family {
  background: #131619;
  padding: 130px 0 50px;
  text-align: center;
}

.family__container {
  max-width: 1920px;
}

.family__title {
  margin-bottom: 14px;
}

.family__title span {
  left: 1.3em;
  top: -0.3em;
}

.family__text {
  font-size: clamp(14px, 14px + 6 * (100vw - 320px) / 1600, 20px);
  line-height: 1.65;
  text-transform: uppercase;
  margin-bottom: 62px;
}

.family__item {
  padding: 0 13px;
  overflow: hidden;
}

.family__img {
  width: 100%;
  height: clamp(200px, 200px + 279 * (100vw - 320px) / 1600, 479px);
  -o-object-fit: cover;
     object-fit: cover;
}

.family .slick-slide {
  max-width: 396px;
  width: 100%;
  -webkit-transition: width 0.2s linear;
  transition: width 0.2s linear;
}

.family .slick-current {
  max-width: clamp(300px, 300px + 444 * (100vw - 320px) / 1600, 744px);
}

.bmi {
  background: #131619;
  padding: 10px 0 50px;
}

.bmi__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 50px 30px;
}

.bmi__content {
  margin-left: 30px;
  max-width: 630px;
  width: 100%;
}

.bmi__title {
  margin-bottom: 16px;
}

.bmi__text {
  margin-bottom: 31px;
}

.bmi__form {
  max-width: 627px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 18px;
}

.bmi__input {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 calc(50% - 30px);
          flex: 0 1 calc(50% - 30px);
  padding: 15px 27px;
  background: transparent;
  border-radius: 30px;
  border: 1px solid #404040;
  color: currentColor;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 0.8px;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.bmi__input::-webkit-input-placeholder {
  color: #c4c4c4;
  font-family: "Heebo", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  letter-spacing: 0.8px;
}

.bmi__input::-moz-placeholder {
  color: #c4c4c4;
  font-family: "Heebo", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  letter-spacing: 0.8px;
}

.bmi__input:-ms-input-placeholder {
  color: #c4c4c4;
  font-family: "Heebo", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  letter-spacing: 0.8px;
}

.bmi__input::-ms-input-placeholder {
  color: #c4c4c4;
  font-family: "Heebo", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  letter-spacing: 0.8px;
}

.bmi__input::placeholder {
  color: #c4c4c4;
  font-family: "Heebo", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  letter-spacing: 0.8px;
}

.bmi__select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  padding: 12px 27px;
  background: transparent;
  border-radius: 30px;
  border: 1px solid #404040;
  color: #c4c4c4;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 0.8px;
  margin-bottom: 8px;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.bmi__option {
  background-color: #131619;
  font-size: clamp(16px, 16px + 4 * (100vw - 320px) / 1600, 20px);
  font-weight: 300;
  letter-spacing: 0.8px;
}

.bmi__info {
  margin-right: 20px;
  max-width: 610px;
  width: 100%;
  aspect-ratio: 1;
  border-radius: 50%;
  background: #000000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.bmi__table {
  max-width: 400px;
  width: 100%;
  text-align: left;
}

.bmi__table-name {
  text-align: left;
  margin-top: 33px;
  caption-side: bottom;
  font-size: 14px;
  line-height: 1.78;
}

.bmi__table-name span {
  font-weight: 700;
  line-height: 1.56;
  letter-spacing: 0.8px;
}

.bmi__th {
  font-weight: 700;
  letter-spacing: 0.8px;
  text-transform: uppercase;
  padding: 20px 20px 17px 0;
  border-bottom: 1px solid #707070;
  border-collapse: collapse;
}

.bmi__th:nth-child(2) {
  padding: 20px 30px 17px;
  border-left: 1px solid #707070;
}

.bmi__td {
  padding: 15px 15px 14px 0;
  color: #c4c4c4;
  letter-spacing: 0.8px;
  border-bottom: 1px solid #707070;
  border-collapse: collapse;
}

.bmi__td:nth-child(2) {
  padding: 15px 30px 14px;
  border-left: 1px solid #707070;
}

.footer__top {
  padding: clamp(50px, 50px + 90 * (100vw - 320px) / 1600, 140px) 0 clamp(30px, 30px + 40 * (100vw - 320px) / 1600, 70px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 0 60px;
}

.footer__logo {
  width: clamp(130px, 130px + 140 * (100vw - 320px) / 1600, 270px);
  height: 50px;
}

.footer__text {
  max-width: 924px;
  font-size: clamp(12px, 12px + 8 * (100vw - 320px) / 1600, 20px);
  line-height: 1.65;
  text-transform: uppercase;
}

.footer__text a {
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.footer__items {
  padding: 11px 0 clamp(70px, 70px + 70 * (100vw - 320px) / 1600, 140px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 50px 10px;
}

.footer__item {
  width: 302px;
}

.footer__item--about .footer__info {
  width: 237px;
}

.footer__item--location .footer__info {
  width: 189px;
}

.footer__name {
  display: inline-block;
  font-size: clamp(16px, 16px + 6 * (100vw - 320px) / 1600, 22px);
  font-weight: 700;
  line-height: 1.72;
  text-transform: uppercase;
  margin-bottom: clamp(10px, 10px + 7 * (100vw - 320px) / 1600, 17px);
}

.footer__name--icon {
  padding-right: 20px;
  position: relative;
}

.footer__name--icon::before {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%) rotate(90deg);
      -ms-transform: translateY(-50%) rotate(90deg);
          transform: translateY(-50%) rotate(90deg);
  width: 16px;
  height: 16px;
  background: url(../images/main/arrowDown.svg) center/cover no-repeat;
}

.footer__info {
  font-style: normal;
  letter-spacing: 0.8px;
}

.footer__info span {
  margin-top: 4px;
  display: block;
}

.footer__info:not(:last-child) {
  margin-bottom: 17px;
}

.footer__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 4px;
}

.footer__link {
  letter-spacing: 0.8px;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.footer__form {
  width: 302px;
  margin-bottom: 50px;
  position: relative;
}

.footer__input {
  padding: 15px 60px 15px 27px;
  width: 100%;
  border: 1px solid #c4c4c4;
  border-radius: 30px;
  background: transparent;
  font-size: 16px;
  color: #ffffff;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.footer__input::-webkit-input-placeholder {
  color: #c4c4c4;
  font-family: "Heebo", sans-serif;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 0.8px;
}

.footer__input::-moz-placeholder {
  color: #c4c4c4;
  font-family: "Heebo", sans-serif;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 0.8px;
}

.footer__input:-ms-input-placeholder {
  color: #c4c4c4;
  font-family: "Heebo", sans-serif;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 0.8px;
}

.footer__input::-ms-input-placeholder {
  color: #c4c4c4;
  font-family: "Heebo", sans-serif;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 0.8px;
}

.footer__input::placeholder {
  color: #c4c4c4;
  font-family: "Heebo", sans-serif;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 0.8px;
}

.footer__btn {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 1px solid currentColor;
  background: url(../images/main/arow.svg) center/70% no-repeat;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.footer__socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 18px;
     -moz-column-gap: 18px;
          column-gap: 18px;
}

.footer__social-link svg {
  fill: #ffffff;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.footer__bottom {
  padding: 15px;
  background: #131619;
}

.footer__copy {
  font-size: 14px;
  line-height: 2;
  text-transform: capitalize;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 4px;
     -moz-column-gap: 4px;
          column-gap: 4px;
}

.footer__bottom-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 4px;
     -moz-column-gap: 4px;
          column-gap: 4px;
}

.footer__bottom-item:not(:last-child) {
  padding-right: 5px;
  position: relative;
}

.footer__bottom-item:not(:last-child)::before {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 1px;
  height: 12px;
  background: #ffffff;
}

.footer__bottom-link {
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

@media (any-hover: hover) and (min-width: 992px) {
  .btn:hover {
    color: #c4c4c4;
    border-color: currentColor;
  }

  .btn:hover::before {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }

  .header__btn:hover {
    background: #000000;
    color: #ffffff;
  }

  .menu__link:hover {
    color: #c4c4c4;
  }

  .join__play:hover {
    color: #131619;
  }

  .join__play:hover svg {
    -webkit-transform: rotate(-135deg);
        -ms-transform: rotate(-135deg);
            transform: rotate(-135deg);
  }

  .join__input:hover {
    border-color: #c4c4c4;
  }

  .bmi__input:hover {
    border-color: #c4c4c4;
  }

  .bmi__select:hover {
    border-color: #c4c4c4;
  }

  .footer__text a:hover {
    color: #c4c4c4;
  }

  .footer__link:hover {
    color: #c4c4c4;
  }

  .footer__input:hover {
    border-color: #ffffff;
  }

  .footer__btn:hover {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }

  .footer__social-link:hover svg {
    fill: #c4c4c4;
  }

  .footer__bottom-link:hover {
    color: #c4c4c4;
  }
}

@media (max-width: 1100px) {
  .about__container {
    padding: 50px 15px;
  }

  .about__img {
    margin: 0;
  }

  .about__title {
    max-width: 600px;
  }

  .about__text {
    max-width: 600px;
  }

  .join__form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    max-width: 400px;
    width: 100%;
  }

  .join__input {
    width: 100%;
  }
}

@media (max-width: 991.98px) {
  .about__card,
  .about__item:nth-child(2n) .about__card {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-left: 50px;
  }

  .about__item:nth-child(2n) .about__content {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }

  .map {
    padding: 50px 0;
  }

  .map__container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .map__info {
    width: 100%;
  }

  .map__content {
    padding-right: 0;
  }
}

@media (max-width: 840.98px) {
  .header__burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .menu__items {
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 120px 0;
    background: #131619;
    -webkit-transition: all 0.4s linear;
    transition: all 0.4s linear;
    -webkit-transform: translateY(-100%);
        -ms-transform: translateY(-100%);
            transform: translateY(-100%);
    overflow: auto;
    overflow-x: hidden;
  }

  .menu__items.menu__items--active {
    -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
            transform: translateY(0);
  }

  .menu__item:not(:last-child) {
    margin-bottom: 30px;
  }

  .menu__link {
    font-size: 24px;
  }

  .family__img {
    -o-object-fit: none;
       object-fit: none;
  }
}

@media (max-width: 620.98px) {
  .bmi__content {
    margin-left: 0;
  }

  .bmi__title {
    margin-left: 30px;
  }

  .bmi__info {
    margin-right: 0;
    border-radius: 0;
  }

  .bmi__input {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }
}

@media all and (max-width: 576px) {
  .fancybox-thumbs {
    width: 110px;
  }

  .fancybox-show-thumbs .fancybox-inner {
    right: 110px;
  }

  .fancybox-thumbs__list a {
    max-width: calc(100% - 10px);
  }
}

@media all and (max-height: 576px) {
  .fancybox-slide {
    padding-left: 6px;
    padding-right: 6px;
  }

  .fancybox-slide--image {
    padding: 6px 0;
  }

  .fancybox-close-small {
    right: -6px;
  }

  .fancybox-slide--image .fancybox-close-small {
    background: #4e4e4e;
    color: #f2f4f6;
    height: 36px;
    opacity: 1;
    padding: 6px;
    right: 0;
    top: 0;
    width: 36px;
  }

  .fancybox-caption {
    padding-left: 12px;
    padding-right: 12px;
  }

@supports (padding: max(0px)) {
    .fancybox-caption {
      padding-left: max(12px, env(safe-area-inset-left));
      padding-right: max(12px, env(safe-area-inset-right));
    }
}
}