<footer class="footer">
  <div class="footer__container footer__container--big">
    <div class="footer__top">
      <a class="footer__logo logo" href="#" aria-label="logo company name" title="logo company name">
        <img src="images/logo/logo.svg" alt="logo" loading="lazy" width="118" height="41">
      </a>
      <div class="footer__items">
        <nav class="footer__menu">
          <ul class="footer__menu-items">
            <li class="footer__menu-item">
              <a class="footer__menu-link" href="#">
                Our Story
              </a>
            </li>
            <li class="footer__menu-item">
              <a class="footer__menu-link" href="#">
                Careers
              </a>
            </li>
            <li class="footer__menu-item">
              <a class="footer__menu-link" href="#">
                For Providers
              </a>
            </li>
            <li class="footer__menu-item">
              <a class="footer__menu-link" href="#">
                Customer Reviews
              </a>
            </li>
            <li class="footer__menu-item">
              <a class="footer__menu-link" href="#">
                FAQs
              </a>
            </li>
            <li class="footer__menu-item">
              <a class="footer__menu-link" href="#">
                Blog
              </a>
            </li>
            <li class="footer__menu-item">
              <a class="footer__menu-link" href="#">
                Locations
              </a>
            </li>
            <li class="footer__menu-item">
              <a class="footer__menu-link" href="#">
                Press
              </a>
            </li>
            <li class="footer__menu-item">
              <a class="footer__menu-link" href="mailto:care@alto.com">
                care@alto.com
              </a>
            </li>
            <li class="footer__menu-item">
              <a class="footer__menu-link" href="tel:18008745881">
                1 (800) 874-5881
              </a>
            </li>
          </ul>
        </nav>
        <ul class="footer__soc1als soc1als">
          <li class="soc1als__item">
            <a class="soc1als__link" href="#" aria-label="go to instagram" title="go to instagram">
              <picture>
                <source type='image/avif' srcset='../images/icons/instagram.avif, ../images/icons/instagram@2x.avif 2x'>
                <source type='image/webp' srcset='../images/icons/instagram.webp, ../images/icons/instagram@2x.webp 2x'>
                <img class="soc1als__img" src="../images/icons/instagram.png"
                  srcset="../images/icons/instagram@2x.png 2x" alt="instagram" loading="lazy" width="20" height="20">
              </picture>
            </a>
          </li>
          <li class="soc1als__item">
            <a class="soc1als__link" href="#" aria-label="go to facebook" title="go to facebook">
              <picture>
                <source type='image/avif' srcset='../images/icons/facebook.avif, ../images/icons/facebook@2x.avif 2x'>
                <source type='image/webp' srcset='../images/icons/facebook.webp, ../images/icons/facebook@2x.webp 2x'>
                <img class="soc1als__img" src="../images/icons/facebook.png" srcset="../images/icons/facebook@2x.png 2x"
                  alt="facebook" loading="lazy" width="20" height="20">
              </picture>
            </a>
          </li>
          <li class="soc1als__item">
            <a class="soc1als__link" href="#" aria-label="go to twitter" title="go to twitter">
              <picture>
                <source type='image/avif' srcset='../images/icons/twitter.avif, ../images/icons/twitter@2x.avif 2x'>
                <source type='image/webp' srcset='../images/icons/twitter.webp, ../images/icons/twitter@2x.webp 2x'>
                <img class="soc1als__img" src="../images/icons/twitter.png" srcset="../images/icons/twitter@2x.png 2x"
                  alt="twitter" loading="lazy" width="20" height="20">
              </picture>
            </a>
          </li>
          <li class="soc1als__item">
            <a class="soc1als__link" href="#" aria-label="go to linked in" title="go to linked in">
              <picture>
                <source type='image/avif' srcset='../images/icons/linkedin.avif, ../images/icons/linkedin@2x.avif 2x'>
                <source type='image/webp' srcset='../images/icons/linkedin.webp, ../images/icons/linkedin@2x.webp 2x'>
                <img class="soc1als__img" src="../images/icons/linkedin.png" srcset="../images/icons/linkedin@2x.png 2x"
                  alt="linked in" loading="lazy" width="20" height="20">
              </picture>
            </a>
          </li>
          <li class="soc1als__item">
            <a class="soc1als__link" href="#" aria-label="go to other" title="go to other">
              <picture>
                <source type='image/avif' srcset='../images/icons/other.avif, ../images/icons/other@2x.avif 2x'>
                <source type='image/webp' srcset='../images/icons/other.webp, ../images/icons/other@2x.webp 2x'>
                <img class="soc1als__img" src="../images/icons/other.png" srcset="../images/icons/other@2x.png 2x"
                  alt="other" loading="lazy" width="20" height="20">
              </picture>
            </a>
          </li>
        </ul>
      </div>
      <div class="footer__info">
        <p class="footer__copy">
          &copy;2020 Alto Pharmacy. All rights reserved.
        </p>
        <ul class="footer__list">
          <li class="footer__point">
            <a class="footer__point-link" href="#">
              Privacy Policy
            </a>
          </li>
          <li class="footer__point">
            <a class="footer__point-link" href="#">
              Notice of Privacy Practices
            </a>
          </li>
          <li class="footer__point">
            <a class="footer__point-link" href="#">
              Terms and Conditions
            </a>
          </li>
        </ul>
      </div>
    </div>
    <ul class="footer__bottom">
      <ul class="footer__bottom-actions">
        <li class="footer__bottom-action">
          <a class="footer__bottom-link" href="#" aria-label="accredited" title="accredited">
            <picture>
              <source type='image/avif' srcset='../images/footer/1.avif, ../images/footer/1@2x.avif 2x'>
              <source type='image/webp' srcset='../images/footer/1.webp, ../images/footer/1@2x.webp 2x'>
              <img class="footer__bottom-img" src="../images/footer/1.png" srcset="../images/footer/1@2x.png 2x" alt=""
                loading="lazy" width="90" height="101">
            </picture>
            <div class="footer__bottom-content">
              <strong>Specialty Pharmacy</strong>
              <time datetime="2021-01-04">Expires 04/01/2021</time>
            </div>
          </a>
        </li>
        <li class="footer__bottom-action">
          <a class="footer__bottom-link" href="#" aria-label="accredited" title="accredited">
            <picture>
              <source type='image/avif' srcset='../images/footer/2.avif, ../images/footer/2@2x.avif 2x'>
              <source type='image/webp' srcset='../images/footer/2.webp, ../images/footer/2@2x.webp 2x'>
              <img class="footer__bottom-img" src="../images/footer/2.png" srcset="../images/footer/2@2x.png 2x" alt=""
                loading="lazy" width="142" height="99">
            </picture>
          </a>
        </li>
        <li class="footer__bottom-action">
          <a class="footer__bottom-link" href="#" aria-label="accredited" title="accredited">
            <picture>
              <source type='image/avif' srcset='../images/footer/3.avif, ../images/footer/3@2x.avif 2x'>
              <source type='image/webp' srcset='../images/footer/3.webp, ../images/footer/3@2x.webp 2x'>
              <img class="footer__bottom-img" src="../images/footer/3.png" srcset="../images/footer/3@2x.png 2x" alt=""
                loading="lazy" width="142" height="47">
          </a>
        </li>
        <li class="footer__bottom-action">
          <a class="footer__bottom-link" href="#" aria-label="accredited" title="accredited">
            <picture>
              <source type='image/avif' srcset='../images/footer/4.avif, ../images/footer/4@2x.avif 2x'>
              <source type='image/webp' srcset='../images/footer/4.webp, ../images/footer/4@2x.webp 2x'>
              <img class="footer__bottom-img" src="../images/footer/4.png" srcset="../images/footer/4@2x.png 2x" alt=""
                loading="lazy" width="142" height="47">
            </picture>
          </a>
        </li>
      </ul>
  </div>
  </div>
</footer>
</div>

<script src="js/script.min.js" defer></script>
</body>

</html>