<footer class="footer">
  <div class="footer__container">
    <a class="footer__logo logo" href="#">
      <picture>
        <source type="image/avif" srcset="../images/logo-white.avif">
        <source type="image/webp" srcset="../images/logo-white.webp">
        <img class="logo__img" src="images/logo-white.png" alt="logo company HM Candler" width="70" height="70">
      </picture>
    </a>
    <nav class="footer__menu menu">
      <ul class="menu__items">
        <li class="menu__item">
          <a class="menu__link" href="#about">Про нас</a>
        </li>
        <li class="menu__item">
          <a class="menu__link" href="#products">Каталог</a>
        </li>
        <li class="menu__item">
          <a class="menu__link" href="#teacher">Команда</a>
        </li>
        <li class="menu__item">
          <a class="menu__link" href="#reviews">Отзывы</a>
        </li>
        <li class="menu__item">
          <a class="menu__link" href="#course">Курсы</a>
        </li>
        <li class="menu__item">
          <a class="menu__link" href="#contacts">Контакты</a>
        </li>
      </ul>
    </nav>
    <div class="footer__actions">
      <a class="footer__action" href="tel:+1234567890">+12 34 56 78 90</a>
      <a class="footer__action" href="mailto:candelsCandels@gmail.com">
        candelsCandels@gmail.com
      </a>
      <ul class="footer__socials">
        <li class="footer__social">
          <a class="footer__social-link" href="#" aria-label="go to facebook">
            <img src="../images/footer/facebook.svg" alt="icon facebook">
          </a>
        </li>
        <li class="footer__social">
          <a class="footer__social-link" href="#" aria-label="go to instagram">
            <img src="../images/footer/instagram.svg" alt="icon instagram">
          </a>
        </li>
        <li class="footer__social">
          <a class="footer__social-link" href="#" aria-label="go to linkedin">
            <img src="../images/footer/linkedin.svg" alt="icon linkedin">
          </a>
        </li>
        <li class="footer__social">
          <a class="footer__social-link" href="#" aria-label="go to youtube">
            <img src="../images/footer/youtube.svg" alt="icon youtube">
          </a>
        </li>
      </ul>
    </div>
  </div>
</footer>
</div>

<script src="js/script.min.js"></script>
</body>

</html>