<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scable=0" />
  <link rel="icon" type="image/ico" href="favicon.ico">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;600;700&family=Yeseva+One&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="css/style.min.css" />
  <title>HM Candler - изготовление свечей</title>
</head>

<body>
  <div class="wrapper">
    <header class="header">
      <div class="header__container">
        <a class="header__logo logo" href="#">
          <picture>
            <source type="image/avif" srcset="../images/logo.avif">
            <source type="image/webp" srcset="../images/logo.webp">
            <img class="logo__img" src="images/logo.png" alt="logo company HM Candler" width="70" height="70">
          </picture>
        </a>
        <nav class="header__menu menu">
          <ul class="menu__items">
            <li class="menu__item">
              <a class="menu__link" href="#about">Про нас</a>
            </li>
            <li class="menu__item">
              <a class="menu__link" href="#products">Каталог</a>
            </li>
            <li class="menu__item">
              <a class="menu__link" href="#teacher">Команда</a>
            </li>
            <li class="menu__item">
              <a class="menu__link" href="#reviews">Отзывы</a>
            </li>
            <li class="menu__item">
              <a class="menu__link" href="#course">Курсы</a>
            </li>
            <li class="menu__item">
              <a class="menu__link" href="#contacts">Контакты</a>
            </li>
          </ul>
        </nav>
        <a class="header__action" href="tel:+1234567890">
          +12 34 56 78 90
        </a>
        <div class="header__burger">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
        </div>
      </div>
    </header>