.access {
  background: linear-gradient(180deg, $color-white 60%, $color-opacity-2 40%);

  // .access__container
  &__container {
    padding-top: clampAd(40, 170);
    padding-bottom: clampAd(180, 305);
    position: relative;

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      right: 0;
      width: clampAd(180, 535);
      height: clampAd(150, 435);
      background: image-set(
          url("../images/main/access/2.avif") type("image/avif"),
          url("../images/main/access/2@2x.avif") 2x type("image/avif"),
          url("../images/main/access/2.webp") type("image/webp"),
          url("../images/main/access/2@2x.webp") 2x type("image/webp"),
          url("../images/main/access/2.png"),
          url("../images/main/access/2@2x.png") 2x
        )
        center/cover no-repeat;
    }
  }
  // .access__inner
  &__inner {
    max-width: 650px;
    width: 100%;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    row-gap: clampAd(30, 120);

    position: relative;
    z-index: 1;
  }
  // .access__title
  &__title {
  }
  // .access__content
  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 15px;
  }
  // .access__image
  &__image {
    width: clampAd(70, 140);
    height: clampAd(80, 154);
  }
  // .access__img
  &__img {
    display: block;
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
  // .access__text
  &__text {
    max-width: 450px;
    width: 100%;
    font-size: clampAd(16, 24);
    line-height: 1.5;
    letter-spacing: 0.01em;
    color: $color-dark-1;

    span {
      text-decoration: underline;
      text-underline-offset: 3px;
    }
  }
}
