.ask {
  padding: clampAd(30, 75) 0 clampAd(40, 250);
  // .ask__container
  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;

    @include big-mobile {
      justify-content: center;
      flex-wrap: wrap;
    }
  }
  // .ask__content
  &__content {
    max-width: 520px;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    row-gap: clampAd(15, 27);
  }
  // .ask__title
  &__title {
  }
  // .ask__text
  &__text {
    font-size: 17px;
    line-height: 1.5;
    letter-spacing: 0.05em;
    color: $color-opacity-1;
  }
  // .ask__image
  &__image {
    max-width: 500px;
    width: 100%;
  }
  // .ask__img
  &__img {
    display: block;
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
}
