.grid {
  display: flex;
  flex-direction: column;
  row-gap: clampAd(30, 100);
  // .grid__title
  &__title {
  }
  // .grid__items
  &__items {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(clampAd(180, 325), 1fr));
    grid-auto-flow: dense;
    gap: clampAd(20, 55);
  }
  // .grid__item
  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  // .grid__image
  &__image {
    width: clampAd(70, 150);
    height: clampAd(70, 150);
  }
  // .grid__img
  &__img {
    display: block;
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
  // .grid__name
  &__name {
    font-size: clampAd(16, 24);
    line-height: 1.5;
    letter-spacing: 0.01em;
    color: $color-dark-1;
    margin-bottom: clampAd(10, 17);
  }
  // .grid__text
  &__text {
    font-size: clampAd(14, 18);
    line-height: 1.4;
    letter-spacing: 0.05em;
    color: $color-opacity-1;
  }
}
