.promo {
  padding: clampAd(50, 130) 0 55px;
  background: $color-light-2;

  // .promo__container
  &__container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  // .promo__content
  &__content {
    max-width: 615px;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    row-gap: clampAd(25, 54);
  }
  // .promo__text
  &__text {
    font-size: clampAd(30, 72);
    line-height: 1.1;
    letter-spacing: 0.03em;
    color: $color-dark-1;
  }
  // .promo__btn
  &__btn {
  }
}
