.video {
  // .video__container
  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;

    @include big-mobile {
      flex-direction: column;
    }
  }
  // .video__clip
  &__clip {
    max-width: 490px;
    width: 100%;

    position: relative;
  }
  // .video__source
  &__source {
    width: 100%;
    height: 100%;
  }
  // .video__button
  &__button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: clampAd(50, 107);
    height: clampAd(50, 107);
    border-radius: $radius-circle;
    border: 3px solid $color-white;
    background: rgba($color-black, 0.3);

    display: flex;
    justify-content: center;
    align-items: center;

    transition: $transition;

    &::before {
      content: "";
      border-width: 21px 0 21px 36px;
      border-style: solid;
      border-color: transparent transparent transparent $color-white;
      transform: translateX(10%);
    }

    &--open {
      display: none;
    }

    @media (any-hover: hover) {
      &:hover:not(:disabled) {
        background: $color-light-3;
      }
    }
  }
  // .video__content
  &__content {
    max-width: 425px;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    row-gap: clampAd(20, 40);
  }
  // .video__text
  &__text {
    font-size: clampAd(18, 24);
    line-height: 1.5;
    letter-spacing: 0.01em;
    color: $color-dark-1;
  }
  // .video__user
  &__user {
    font-size: clampAd(10, 13);
    line-height: 1;
    letter-spacing: 0.03em;
    color: $color-light-3;

    display: flex;
    align-items: center;

    &::before {
      content: "";
      width: 3px;
      height: 1px;
      background: currentColor;
    }
  }
}
