@font-face {
  font-family: "Roboto";
  src: url("../../fonts/Roboto-Regular.woff2") format("woff2"), url("../../fonts/Roboto-Regular.woff") format("woff");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  scrollbar-gutter: stable;
}

li {
  list-style: none;
}

a {
  display: inline-block;
  color: inherit;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

button {
  padding: 0;
  margin: 0;
  color: inherit;
  font-size: inherit;
  font-family: inherit;
  font-weight: inherit;
  border: none;
  background: transparent;
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

img,
video,
picture {
  display: block;
  max-width: 100%;
  height: auto;
}

input,
textarea {
  cursor: pointer;
  font-size: inherit;
  font-family: inherit;
  font-weight: inherit;
  color: inherit;
}

input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
  display: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input::-webkit-calendar-picker-indicator {
  display: none;
}

label {
  cursor: pointer;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 0;
}

html {
  scroll-behavior: smooth;
  height: -webkit-fill-available;
}

body {
  min-width: 320px;
  line-height: 1;
  font-family: "Roboto";
}

.wrapper {
  position: relative;
  min-height: 100vh;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: -webkit-fill-available;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #ffffff;
  color: rgba(0, 0, 0, 0.7);
  font-size: clamp(12px, 12px + 4 * (100vw - 320px) / 1120, 16px);
  line-height: 1.625;
  font-weight: 400;
}

body.lock {
  overflow: hidden;
}

.main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.main__section {
  margin-bottom: clamp(50px, 50px + 50 * (100vw - 320px) / 1120, 100px);
}

.main__section-background {
  background: #000000;
  color: #ffffff;
}

[class*=__container] {
  max-width: calc(1090px + 2 * 10px);
  margin: 0 auto;
  padding: 0 10px;
}

[class*=__container--big] {
  max-width: 1330px;
}

[class*=__container--large] {
  max-width: 1440px;
}

[class*=__burger] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: clamp(8px, 8px + 4 * (100vw - 320px) / 1120, 12px);
  cursor: pointer;
}

[class*=__burger] span {
  width: 24px;
  height: 4px;
  background: url(../../images/icons/line.svg) center/contain no-repeat;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

[class*=__burger].header__burger--active span:nth-child(1) {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

[class*=__burger].header__burger--active span:nth-child(2) {
  -webkit-transform: rotate(-45deg) translateY(-11px) translateX(11px);
      -ms-transform: rotate(-45deg) translateY(-11px) translateX(11px);
          transform: rotate(-45deg) translateY(-11px) translateX(11px);
}

.hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  bottom: 0 !important;
  padding: 0 !important;
  white-space: nowrap !important;
  clip-path: inset(100%) !important;
  clip: rect(0 0 0 0) !important;
  overflow: hidden !important;
}

.none {
  display: none;
}

.text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: clamp(15px, 15px + 20 * (100vw - 320px) / 1120, 35px);
}

.logo {
  width: clamp(90px, 90px + 28 * (100vw - 320px) / 1120, 118px);
}

.logo img {
  display: block;
  max-width: 100%;
  max-height: 100%;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.btn {
  padding: clamp(10px, 10px + 7 * (100vw - 320px) / 1120, 17px) clamp(15px, 15px + 15 * (100vw - 320px) / 1120, 30px);
  border-radius: 38px;
  background: #e6f2b4;
  font-size: clamp(14px, 14px + 4 * (100vw - 320px) / 1120, 18px);
  line-height: 1.3;
  color: #0b4a72;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  white-space: nowrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: clamp(10px, 10px + 15 * (100vw - 320px) / 1120, 25px);
     -moz-column-gap: clamp(10px, 10px + 15 * (100vw - 320px) / 1120, 25px);
          column-gap: clamp(10px, 10px + 15 * (100vw - 320px) / 1120, 25px);
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.btn::after {
  content: "";
  width: 18px;
  height: 12px;
  background: url(../../images/icons/arrow-right.svg) center/cover no-repeat;
}

.link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 10px;
     -moz-column-gap: 10px;
          column-gap: 10px;
  font-size: clamp(14px, 14px + 4 * (100vw - 320px) / 1120, 18px);
  line-height: 1.6;
  text-align: center;
  color: #0b4a72;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  white-space: nowrap;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.link::after {
  content: "";
  width: clamp(8px, 8px + 8 * (100vw - 320px) / 1120, 16px);
  height: clamp(7px, 7px + 8 * (100vw - 320px) / 1120, 15px);
  background: url(../../images/icons/arrow-right.svg) center/cover no-repeat;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.main-title {
  font-size: clamp(30px, 30px + 42 * (100vw - 320px) / 1120, 72px);
  line-height: 1.1;
  letter-spacing: 0.03em;
  color: #0b4a72;
}

.title {
  font-size: clamp(24px, 24px + 24 * (100vw - 320px) / 1120, 48px);
  line-height: 1.25;
  letter-spacing: 0.02em;
  text-align: center;
  color: #0b4a72;
}

.soc1als {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 20px;
}

.soc1als__link {
  --size: clamp(18px, 18px + 2 * (100vw - 320px) / 1120, 20px);
  width: var(--size);
  height: var(--size);
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.header {
  padding: clamp(13px, 13px + 13 * (100vw - 320px) / 1120, 26px) 0;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
}

.header__inner {
  -webkit-transform: translateX(50%);
      -ms-transform: translateX(50%);
          transform: translateX(50%);
}

.header__actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: clamp(20px, 20px + 25 * (100vw - 320px) / 1120, 45px);
}

.header__link {
  font-size: clamp(14px, 14px + 4 * (100vw - 320px) / 1120, 18px);
  line-height: 1;
  color: #0b4a72;
  text-transform: capitalize;
  white-space: nowrap;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: clamp(30px, 30px + 70 * (100vw - 320px) / 1120, 100px);
}

.grid__items {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(clamp(180px, 180px + 145 * (100vw - 320px) / 1120, 325px), 1fr));
  grid-auto-flow: dense;
  gap: clamp(20px, 20px + 35 * (100vw - 320px) / 1120, 55px);
}

.grid__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.grid__image {
  width: clamp(70px, 70px + 80 * (100vw - 320px) / 1120, 150px);
  height: clamp(70px, 70px + 80 * (100vw - 320px) / 1120, 150px);
}

.grid__img {
  display: block;
  max-width: 100%;
  max-height: 100%;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.grid__name {
  font-size: clamp(16px, 16px + 8 * (100vw - 320px) / 1120, 24px);
  line-height: 1.5;
  letter-spacing: 0.01em;
  color: #0b4a72;
  margin-bottom: clamp(10px, 10px + 7 * (100vw - 320px) / 1120, 17px);
}

.grid__text {
  font-size: clamp(14px, 14px + 4 * (100vw - 320px) / 1120, 18px);
  line-height: 1.4;
  letter-spacing: 0.05em;
  color: rgba(0, 0, 0, 0.7);
}

.raiting {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.raiting__item {
  width: clamp(24px, 24px + 4 * (100vw - 320px) / 1120, 28px);
  height: clamp(24px, 24px + 4 * (100vw - 320px) / 1120, 28px);
}

.raiting__item #star-1 {
  width: 100%;
  height: 100%;
  fill: #ffffff;
}

.raiting__item #star-2 {
  width: 100%;
  height: 100%;
  stroke: #423d76;
}

.raiting__item--active #star-1 {
  fill: #efc4dc;
}

.intro {
  background: #fef8f1;
  color: #222222;
  position: relative;
}

.intro::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 50svh;
  height: 523px;
  background: -webkit-image-set(url("../images/main/intro/1.avif") type("image/avif"), url("../images/main/intro/1@2x.avif") 2x type("image/avif"), url("../images/main/intro/1.webp") type("image/webp"), url("../images/main/intro/1@2x.webp") 2x type("image/webp"), url("../images/main/intro/1.jpg"), url("../images/main/intro/1@2x.jpg") 2x) center/cover no-repeat;
  background: image-set(url("../images/main/intro/1.avif") type("image/avif"), url("../images/main/intro/1@2x.avif") 2x type("image/avif"), url("../images/main/intro/1.webp") type("image/webp"), url("../images/main/intro/1@2x.webp") 2x type("image/webp"), url("../images/main/intro/1.jpg"), url("../images/main/intro/1@2x.jpg") 2x) center/cover no-repeat;
}

.intro__container {
  min-height: 100svh;
  min-height: 982px;
  padding-top: 14%;
  padding-bottom: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
  position: relative;
  z-index: 1;
}

.intro__content {
  max-width: clamp(400px, 400px + 370 * (100vw - 320px) / 1120, 770px);
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  row-gap: clamp(14px, 14px + 14 * (100vw - 320px) / 1120, 28px);
}

.intro__title {
  margin-bottom: clamp(4px, 4px + 4 * (100vw - 320px) / 1120, 8px);
}

.intro__text {
  max-width: 340px;
  width: 100%;
  line-height: 1.5;
  letter-spacing: 0.05em;
}

.about {
  padding: clamp(40px, 40px + 97 * (100vw - 320px) / 1120, 137px) 0;
}

.video__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
}

.video__clip {
  max-width: 490px;
  width: 100%;
  position: relative;
}

.video__source {
  width: 100%;
  height: 100%;
}

.video__button {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: clamp(50px, 50px + 57 * (100vw - 320px) / 1120, 107px);
  height: clamp(50px, 50px + 57 * (100vw - 320px) / 1120, 107px);
  border-radius: 50%;
  border: 3px solid #ffffff;
  background: rgba(0, 0, 0, 0.3);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.video__button::before {
  content: "";
  border-width: 21px 0 21px 36px;
  border-style: solid;
  border-color: transparent transparent transparent #ffffff;
  -webkit-transform: translateX(10%);
      -ms-transform: translateX(10%);
          transform: translateX(10%);
}

.video__button--open {
  display: none;
}

.video__content {
  max-width: 425px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  row-gap: clamp(20px, 20px + 20 * (100vw - 320px) / 1120, 40px);
}

.video__text {
  font-size: clamp(18px, 18px + 6 * (100vw - 320px) / 1120, 24px);
  line-height: 1.5;
  letter-spacing: 0.01em;
  color: #0b4a72;
}

.video__user {
  font-size: clamp(10px, 10px + 3 * (100vw - 320px) / 1120, 13px);
  line-height: 1;
  letter-spacing: 0.03em;
  color: #868aa2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.video__user::before {
  content: "";
  width: 3px;
  height: 1px;
  background: currentColor;
}

.advantages {
  padding: clamp(40px, 40px + 97 * (100vw - 320px) / 1120, 137px) 0;
}

.ask {
  padding: clamp(30px, 30px + 45 * (100vw - 320px) / 1120, 75px) 0 clamp(40px, 40px + 210 * (100vw - 320px) / 1120, 250px);
}

.ask__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
}

.ask__content {
  max-width: 520px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  row-gap: clamp(15px, 15px + 12 * (100vw - 320px) / 1120, 27px);
}

.ask__text {
  font-size: 17px;
  line-height: 1.5;
  letter-spacing: 0.05em;
  color: rgba(0, 0, 0, 0.7);
}

.ask__image {
  max-width: 500px;
  width: 100%;
}

.ask__img {
  display: block;
  max-width: 100%;
  max-height: 100%;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.access {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(60%, #ffffff), color-stop(40%, rgba(240, 247, 206, 0.21)));
  background: linear-gradient(180deg, #ffffff 60%, rgba(240, 247, 206, 0.21) 40%);
}

.access__container {
  padding-top: clamp(40px, 40px + 130 * (100vw - 320px) / 1120, 170px);
  padding-bottom: clamp(180px, 180px + 125 * (100vw - 320px) / 1120, 305px);
  position: relative;
}

.access__container::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: clamp(180px, 180px + 355 * (100vw - 320px) / 1120, 535px);
  height: clamp(150px, 150px + 285 * (100vw - 320px) / 1120, 435px);
  background: -webkit-image-set(url("../images/main/access/2.avif") type("image/avif"), url("../images/main/access/2@2x.avif") 2x type("image/avif"), url("../images/main/access/2.webp") type("image/webp"), url("../images/main/access/2@2x.webp") 2x type("image/webp"), url("../images/main/access/2.png"), url("../images/main/access/2@2x.png") 2x) center/cover no-repeat;
  background: image-set(url("../images/main/access/2.avif") type("image/avif"), url("../images/main/access/2@2x.avif") 2x type("image/avif"), url("../images/main/access/2.webp") type("image/webp"), url("../images/main/access/2@2x.webp") 2x type("image/webp"), url("../images/main/access/2.png"), url("../images/main/access/2@2x.png") 2x) center/cover no-repeat;
}

.access__inner {
  max-width: 650px;
  width: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  row-gap: clamp(30px, 30px + 90 * (100vw - 320px) / 1120, 120px);
  position: relative;
  z-index: 1;
}

.access__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  row-gap: 15px;
}

.access__image {
  width: clamp(70px, 70px + 70 * (100vw - 320px) / 1120, 140px);
  height: clamp(80px, 80px + 74 * (100vw - 320px) / 1120, 154px);
}

.access__img {
  display: block;
  max-width: 100%;
  max-height: 100%;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.access__text {
  max-width: 450px;
  width: 100%;
  font-size: clamp(16px, 16px + 8 * (100vw - 320px) / 1120, 24px);
  line-height: 1.5;
  letter-spacing: 0.01em;
  color: #0b4a72;
}

.access__text span {
  text-decoration: underline;
  text-underline-offset: 3px;
}

.reviews {
  padding: clamp(40px, 40px + 120 * (100vw - 320px) / 1120, 160px) 0 20px;
}

.reviews__container {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 30px clamp(30px, 30px + 69 * (100vw - 320px) / 1120, 99px);
}

.reviews__image {
  max-width: clamp(250px, 250px + 280 * (100vw - 320px) / 1120, 530px);
  width: 100%;
}

.reviews__img {
  display: block;
  max-width: 100%;
  max-height: 100%;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.reviews__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  row-gap: 1.5rem;
}

.reviews__text {
  font-size: clamp(16px, 16px + 32 * (100vw - 320px) / 1120, 48px);
  line-height: 1.25;
  letter-spacing: 0.02em;
  color: #0b4a72;
  margin-bottom: auto;
}

.promo {
  padding: clamp(50px, 50px + 80 * (100vw - 320px) / 1120, 130px) 0 55px;
  background: #fffaf4;
}

.promo__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.promo__content {
  max-width: 615px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  row-gap: clamp(25px, 25px + 29 * (100vw - 320px) / 1120, 54px);
}

.promo__text {
  font-size: clamp(30px, 30px + 42 * (100vw - 320px) / 1120, 72px);
  line-height: 1.1;
  letter-spacing: 0.03em;
  color: #0b4a72;
}

.footer {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(70%, #fffaf4), color-stop(30%, #ffffff));
  background: linear-gradient(180deg, #fffaf4 70%, #ffffff 30%);
}

.footer__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: clamp(24px, 24px + 14 * (100vw - 320px) / 1120, 38px);
}

.footer__logo {
  width: 89px;
  height: 31px;
}

.footer__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 1rem;
  margin-bottom: clamp(30px, 30px + 70 * (100vw - 320px) / 1120, 100px);
}

.footer__menu-items {
  max-width: 660px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 0 clamp(20px, 20px + 30 * (100vw - 320px) / 1120, 50px);
}

.footer__menu-link {
  font-size: clamp(12px, 12px + 3 * (100vw - 320px) / 1120, 15px);
  line-height: 3.3;
  letter-spacing: 0.05em;
  color: #0b4a72;
  white-space: nowrap;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.footer__menu-link:not([href^="tel:"], [href^="mailto:"]) {
  text-transform: capitalize;
}

.footer__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 1rem;
  font-size: clamp(10px, 10px + 3 * (100vw - 320px) / 1120, 13px);
  line-height: 2.1;
  letter-spacing: 0.03em;
  color: #868aa2;
  margin-bottom: clamp(16px, 16px + 16 * (100vw - 320px) / 1120, 32px);
}

.footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 15px;
}

.footer__point-link {
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.footer__bottom {
  padding: clamp(30px, 30px + 18 * (100vw - 320px) / 1120, 48px) 0 clamp(20px, 20px + 15 * (100vw - 320px) / 1120, 35px);
}

.footer__bottom-actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px clamp(30px, 30px + 45 * (100vw - 320px) / 1120, 75px);
}

.footer__bottom-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: clamp(10px, 10px + 10 * (100vw - 320px) / 1120, 20px);
     -moz-column-gap: clamp(10px, 10px + 10 * (100vw - 320px) / 1120, 20px);
          column-gap: clamp(10px, 10px + 10 * (100vw - 320px) / 1120, 20px);
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.footer__bottom-img {
  display: block;
  max-width: clamp(80px, 80px + 62 * (100vw - 320px) / 1120, 142px);
  width: auto;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.footer__bottom-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.footer__bottom-content strong {
  font-size: clamp(14px, 14px + 3 * (100vw - 320px) / 1120, 17px);
  line-height: 1.4;
  letter-spacing: 0.05em;
  text-transform: capitalize;
  white-space: nowrap;
}

.footer__bottom-content time {
  font-size: clamp(10px, 10px + 3 * (100vw - 320px) / 1120, 13px);
  line-height: 1.5;
  letter-spacing: 0.06em;
  color: #868aa2;
}

@media (max-width: 767px) {
  .reviews__container {
    grid-template-columns: 1fr;
  }

  .reviews__image {
    max-width: 100%;
  }

  .footer__top {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (max-width: 574px) {
  [class*=__burger].header__burger--active span:nth-child(2) {
    -webkit-transform: rotate(-45deg) translateY(-9px) translateX(8px);
        -ms-transform: rotate(-45deg) translateY(-9px) translateX(8px);
            transform: rotate(-45deg) translateY(-9px) translateX(8px);
  }

  .header__container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .header__inner {
    -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
            transform: translateX(0);
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
    text-align: center;
  }

  .intro::before {
    background-size: contain;
  }

  .video__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .ask__container {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media (any-hover: hover) {
  .btn:hover:not(:disabled) {
    background: #ebf0f5;
  }

  .link:hover:not(:disabled) {
    text-shadow: 0 0 1px currentColor;
  }

  .link:hover:not(:disabled)::after {
    -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
            transform: rotate(180deg);
  }

  .soc1als__link:hover {
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
  }

  .header__link:hover:not(:disabled) {
    text-shadow: 0 0 1px currentColor;
  }

  .video__button:hover:not(:disabled) {
    background: #868aa2;
  }

  .footer__menu-link:hover:not(:disabled) {
    text-shadow: 0 0 1px currentColor;
  }

  .footer__point-link:hover:not(:disabled) {
    color: #0b4a72;
  }

  .footer__bottom-link:hover:not(:disabled) {
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
  }
}