//Страница
$widthReportMax: 1440;
$widthReportMin: 414;
$widthReportMinPx: $widthReportMin + px;

// Контейнер
$maxWidthContainer: 1296px;
$containerPadding: 24px;

//Фон
$mainBackGround: #202020;

//Шрифт
$fontFamily: "Manrope", sans-serif;
$mainColor: #dedede;
$mainSize: 20;
$size: $mainSize + px;
$fontWeight: 700;
$lineheight: calc(30 / $mainSize);

// Доп цвета
$white: #ffffff;
$black: #000000;

$color-bg-light: rgba(#323232, 0.7);
$color-light: #959595;
$color-dop: #ececec;
$color-border: #696969;
$color-background-btn: #9d9d9d;

// Радиусы
$radius-circle: 50%;

$gap: 24px;
