.header {
  padding: rem(35) 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;

  // .header__container
  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: rem(30);
  }
  // .header__logo
  &__logo {
    position: relative;
    z-index: 4;
  }
  // .header__menu
  &__menu {
    position: relative;
    z-index: 4;
  }
  // .header__btn
  &__btn {
    position: relative;
    z-index: 4;
  }
  // .header__burger
  &__burger {
    position: relative;
    z-index: 4;
  }
}
