.about {
  padding-bottom: clampAd(50, 135);

  // .about__container
  &__container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: clampAd(30, 85);

    @include big-mobile {
      flex-direction: column-reverse;
    }
  }
  // .about__media
  &__media {
    max-width: 220px;
  }
  // .about__content
  &__content {
    max-width: 470px;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  // .about__baedges
  &__baedges {
    margin-bottom: clampAd(10, 18);
  }
  // .about__title
  &__title {
    margin-bottom: clampAd(16, 25);
  }
  // .about__text
  &__text {
    max-width: 70%;
    margin-bottom: clampAd(14, 23);

    @include big-mobile {
      max-width: 100%;
    }
  }
  // .about__btn
  &__btn {
  }
}
