.company {
  padding-bottom: clampAd(50, 100);
  // .company__container
  &__container {
  }
  // .company__items
  &__items {
    margin: 0 clampAd(10, 27);

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(clampAd(125, 255), 1fr));
    grid-auto-flow: dense;
    align-items: center;
    gap: clampAd(10, 40);
  }
  // .company__item
  &__item {
  }
  // .company__image
  &__image {
  }
  // .company__img
  &__img {
    display: block;
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
}
