.media {
  width: 100%;

  padding: clampAd(10, 20) clampAd(15, 25);

  background: $color-dop;
  border-radius: $radius-small;
  box-shadow: $shadow-2;

  color: $color-white;

  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: -8px;
    left: 8px;

    width: 100%;
    height: 100%;

    background: $color-dop;
    border-radius: $radius-small;
    box-shadow: $shadow-2;
  }

  // .media__items
  &__items {
    counter-reset: num;

    position: relative;
    z-index: 1;
  }
  // .media__item
  &__item {
    display: flex;
    flex-direction: column;

    font-size: clampAd(10, 14);
    line-height: 1.4;

    &::before {
      content: counter(num, decimal-leading-zero);
      counter-increment: num;

      font-weight: 400;

      margin-bottom: clampAd(12, 23);
    }
  }
  // .media__image
  &__image {
    width: clampAd(40, 64);
    height: auto;

    margin-bottom: clampAd(10, 12);
  }
  // .media__img
  &__img {
    display: block;
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
  // .media__name
  &__name {
    font-weight: 700;
    font-size: clampAd(20, 28);
    line-height: 1.14;
    text-transform: capitalize;

    margin-bottom: clampAd(20, 32);
  }
  // .media__link
  &__link {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding-top: 10px;
    border-top: 1px solid $color-border-light;

    transition: $transition;

    &::after {
      content: "";
      width: 20px;
      height: 20px;
      background: url(../../images/icons/arrow-right.svg) center/contain no-repeat;
      transition: $transition;
    }

    @media (any-hover: hover) {
      &:hover:not(:disabled) {
        color: $color-accent-2;

        &::after {
          transform: rotate(180deg);
        }
      }
    }
  }
}
