.newsletter {
  padding-bottom: clampAd(50, 150);

  // .newsletter__container
  &__container {
    padding: clampAd(20, 43) clampAd(15, 60);
    background: $color-bg-3;
    border-radius: $radius-small;

    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    align-items: center;
    gap: clampAd(20, 50);

    @include mobile {
      flex-direction: column-reverse;
    }
  }
  // .newsletter__content
  &__content {
    max-width: 545px;
    width: 100%;
  }
  // .newsletter__title
  &__title {
    margin-bottom: clampAd(12, 24);
  }
  // .newsletter__text
  &__text {
    font-size: clampAd(14, 20);
    line-height: 1.6;

    margin-bottom: clampAd(16, 30);
  }
  // .newsletter__form
  &__form {
    max-width: 380px;

    @include mobile {
      max-width: 90%;
    }
  }
  // .newsletter__image
  &__image {
    max-width: clampAd(250, 346);
    width: 100%;
  }
  // .newsletter__img
  &__img {
    display: block;
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
}
