.footer {
  padding-bottom: clampAd(50, 120);

  // .footer__container
  &__container {
  }
  // .footer__items
  &__items {
    display: flex;
    justify-content: space-between;
    gap: 40px;
  }
  // .footer__info
  &__info {
    max-width: 350px;

    display: flex;
    flex-direction: column;
    row-gap: clampAd(20, 24);
  }
  // .footer__logo
  &__logo {
  }
  // .footer__text
  &__text {
    max-width: 300px;
  }
  // .footer__copy
  &__copy {
    margin-top: auto;

    opacity: 0.5;
  }
  // .footer__nav
  &__nav {
    display: flex;
    align-items: flex-start;
    gap: 30px clampAd(50, 210);
  }
  // .footer__item
  &__item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: wrap;
    row-gap: clampAd(16, 24);
  }
  // .footer__type
  &__type {
    font-size: clampAd(16, 24);
    line-height: 1.3;
    color: $color-accent;
  }
  // .footer__list
  &__list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: clampAd(10, 16);
  }
  // .footer__point
  &__point {
  }
  // .footer__link
  &__link {
    white-space: nowrap;
    transition: all 0.3s linear;

    @media (any-hover: hover) {
      &:hover {
        color: $color-accent;
      }
    }
  }
}
