@font-face {
    font-family: 'name';
    src: url('../fonts/name.woff2') format('woff2'),
         url('../fonts/name.woff') format('woff');
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}
