.logo {
  max-width: clampAd(170, 178);
  width: 100%;

  @include small-mobile {
    max-width: 120px;
  }

  .logo__img {
    display: block;
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;

    &--light {
      display: block;
    }
    &--dark {
      display: none;
    }
  }
}
