@charset "UTF-8";

/* ОБНУЛЕНИЕ СТИЛЕЙ */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  color: inherit;
}

a:focus {
  text-shadow: 0 0 1px #000000;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

button {
  padding: 0;
  margin: 0;
  color: inherit;
  font-size: inherit;
  font-family: inherit;
  font-weight: inherit;
  border: none;
  background: transparent;
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

img {
  vertical-align: top;
}

html,
body {
  height: 100%;
}

input,
textarea {
  cursor: pointer;
}

html {
  font-size: 16px;
  /* по умолчанию */
  scroll-behavior: smooth;
  height: -webkit-fill-available;
}

body {
  min-width: 320px;
  line-height: 1;
  font-family: "Roboto";
  background: #f5f5f5;
}

.wrapper {
  min-height: 100vh;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: -webkit-fill-available;
}

[class*=__container] {
  max-width: 1230px;
  margin: 0 auto;
  padding: 0 15px;
}

[class*=__burger] {
  display: none;
  margin-left: 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 4px;
  cursor: pointer;
}

[class*=__burger] span {
  width: 30px;
  height: 3px;
  background: #000000;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

body {
  font-family: "Inter", sans-serif;
  background-color: #ffffff;
  color: #000000;
  font-size: clamp(12px, 12px + 4 * (100vw - 320px) / 1600, 16px);
  line-height: 1.1875;
  font-weight: 500;
}

body.lock {
  overflow: hidden;
}

.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.logo {
  width: 25px;
  height: 30px;
}

.logo__img {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

.title {
  font-size: clamp(25px, 25px + 39 * (100vw - 320px) / 1600, 64px);
  text-align: center;
  font-weight: 700;
}

.color-blue {
  background: -webkit-gradient(linear, left top, left bottom, from(#cadbeb), to(rgba(235, 235, 235, 0)));
  background: linear-gradient(180deg, #cadbeb 0%, rgba(235, 235, 235, 0) 100%);
}

.color-red {
  background: -webkit-gradient(linear, left top, left bottom, from(#f3d6d1), to(rgba(235, 235, 235, 0)));
  background: linear-gradient(180deg, #f3d6d1 0%, rgba(235, 235, 235, 0) 100%);
}

.color-black {
  background: -webkit-gradient(linear, left top, left bottom, from(#b6b6b6), to(rgba(235, 235, 235, 0)));
  background: linear-gradient(180deg, #b6b6b6 0%, rgba(235, 235, 235, 0) 100%);
}

.color-green {
  background: -webkit-gradient(linear, left top, left bottom, from(#ddead9), to(rgba(235, 235, 235, 0)));
  background: linear-gradient(180deg, #ddead9 0%, rgba(235, 235, 235, 0) 100%);
}

.color-white {
  background: -webkit-gradient(linear, left top, left bottom, from(#fafafa), to(rgba(235, 235, 235, 0)));
  background: linear-gradient(180deg, #fafafa 0%, rgba(235, 235, 235, 0) 100%);
}

.header {
  padding: clamp(20px, 20px + 20 * (100vw - 320px) / 1600, 40px) 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.header--fixed {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 8;
  overflow: auto;
  background: #ffffff;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  z-index: 8;
}

.header__logo {
  position: relative;
  z-index: 10;
}

.header__menu {
  margin-left: auto;
  margin-right: 40px;
}

.header__btn {
  position: relative;
  z-index: 10;
  border: 1px solid currentColor;
  border-radius: 30px;
  background: #000000;
  padding: clamp(10px, 10px + 5 * (100vw - 320px) / 1600, 15px) clamp(30px, 30px + 28 * (100vw - 320px) / 1600, 58px);
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.header__burger {
  position: relative;
  z-index: 10;
}

.menu__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 40px;
     -moz-column-gap: 40px;
          column-gap: 40px;
}

.menu__link {
  font-size: 16px;
  font-weight: 700;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.intro {
  padding: 50px 0 50px;
  position: relative;
}

.intro__container {
  min-height: calc(100vh - 100px);
  position: relative;
  padding-top: clamp(100px, 100px + 65 * (100vw - 320px) / 1600, 165px);
}

.intro__title {
  font-size: clamp(50px, 50px + 160 * (100vw - 320px) / 1600, 210px);
  font-weight: 700;
  line-height: 1.2;
  color: #000000;
  position: absolute;
  top: clamp(130px, 130px + 150 * (100vw - 320px) / 1600, 280px);
  left: 0;
}

.intro__title span {
  position: relative;
}

.intro__title--air {
  z-index: 1;
}

.intro__title--s {
  top: clamp(10px, 10px + 20 * (100vw - 320px) / 1600, 30px);
  text-transform: uppercase;
  z-index: 1;
}

.intro__title--m {
  top: clamp(70px, 70px + 210 * (100vw - 320px) / 1600, 280px);
  right: clamp(17px, 17px + 23 * (100vw - 320px) / 1600, 40px);
  text-transform: uppercase;
  z-index: 1;
}

.intro__title--ax {
  text-transform: uppercase;
  top: clamp(100px, 100px + 270 * (100vw - 320px) / 1600, 370px);
  right: clamp(30px, 30px + 90 * (100vw - 320px) / 1600, 120px);
}

.intro__images {
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  width: clamp(220px, 220px + 580 * (100vw - 320px) / 1600, 800px);
  height: clamp(175px, 175px + 580 * (100vw - 320px) / 1600, 755px);
}

.intro__img:not(.hidden) {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.products {
  padding: 45px 0 clamp(45px, 45px + 135 * (100vw - 320px) / 1600, 180px);
}

.products__title {
  font-size: clamp(20px, 20px + 16 * (100vw - 320px) / 1600, 36px);
  font-weight: 700;
  text-align: center;
  margin-bottom: 20px;
}

.products__text {
  max-width: 557px;
  text-align: center;
  margin: 0 auto clamp(30px, 30px + 50 * (100vw - 320px) / 1600, 80px);
}

.products__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: clamp(10px, 10px + 30 * (100vw - 320px) / 1600, 40px);
}

.products__item {
  max-width: 260px;
}

.products__btn {
  border-radius: 20px;
  border: 1px solid #777777;
  padding: clamp(20px, 20px + 29 * (100vw - 320px) / 1600, 49px) clamp(25px, 25px + 30 * (100vw - 320px) / 1600, 55px);
}

.products__btn img {
  width: clamp(100px, 100px + 50 * (100vw - 320px) / 1600, 150px);
  height: clamp(125px, 125px + 50 * (100vw - 320px) / 1600, 175px);
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.about {
  padding-bottom: clamp(45px, 45px + 135 * (100vw - 320px) / 1600, 180px);
}

.about__title {
  margin-bottom: 20px;
}

.about__text {
  text-align: center;
  max-width: 635px;
  margin: 0 auto 40px;
}

.about__content {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 30px clamp(50px, 50px + 100 * (100vw - 320px) / 1600, 150px);
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.about__description {
  max-width: 230px;
}

.about__info:not(:last-child) {
  margin-bottom: clamp(30px, 30px + 50 * (100vw - 320px) / 1600, 80px);
}

.about__img:not(.hidden) {
  width: clamp(145px, 145px + 100 * (100vw - 320px) / 1600, 245px);
  height: clamp(325px, 325px + 100 * (100vw - 320px) / 1600, 425px);
  -o-object-fit: cover;
     object-fit: cover;
}

.battery {
  padding: clamp(45px, 45px + 35 * (100vw - 320px) / 1600, 80px) 0;
  background: #fafafa;
}

.battery__container {
  text-align: center;
}

.battery__title {
  margin-bottom: 17px;
}

.battery__text {
  max-width: 825px;
  margin: 0 auto 40px;
}

.battery__text span {
  font-weight: 700;
}

.battery__img:not(.hidden) {
  max-width: 400px;
  max-height: 365px;
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

.time {
  padding: clamp(45px, 45px + 35 * (100vw - 320px) / 1600, 80px) 0 clamp(45px, 45px + 45 * (100vw - 320px) / 1600, 90px);
  background: #fafafa;
}

.time__container {
  text-align: center;
}

.time__title {
  margin-bottom: clamp(20px, 20px + 20 * (100vw - 320px) / 1600, 40px);
}

.time__num {
  font-size: clamp(70px, 70px + 140 * (100vw - 320px) / 1600, 210px);
  font-weight: 700;
  margin-bottom: clamp(20px, 20px + 20 * (100vw - 320px) / 1600, 40px);
}

.time__text {
  max-width: 403px;
  margin: 0 auto;
}

.time__text a {
  text-decoration: underline;
}

.volume {
  background: -webkit-image-set(url("../images/main/man.avif") type("image/avif"), url("../images/main/man.webp") type("image/webp"), url("../images/main/man.jpg")) top center/cover no-repeat;
  background: image-set(url("../images/main/man.avif") type("image/avif"), url("../images/main/man.webp") type("image/webp"), url("../images/main/man.jpg")) top center/cover no-repeat;
  color: #ffffff;
  position: relative;
}

.volume:before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: -200px;
  width: 100%;
  height: 130vh;
  background: -webkit-image-set(url("../images/main/bg.avif") type("image/avif"), url("../images/main/bg.webp") type("image/webp"), url("../images/main/bg.png")) bottom center/cover no-repeat;
  background: image-set(url("../images/main/bg.avif") type("image/avif"), url("../images/main/bg.webp") type("image/webp"), url("../images/main/bg.png")) bottom center/cover no-repeat;
}

.volume__container {
  padding-bottom: 30vh;
  min-height: 200vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  z-index: 2;
}

.volume__text {
  text-align: center;
  max-width: 295px;
  margin: 0 auto 20px;
}

.volume__btn {
  margin-top: clamp(0px, 0px + 40 * (100vw - 320px) / 1600, 40px);
  display: inline-block;
  padding: 15px 58px;
  border-radius: 30px;
  background: #ffffff;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.footer {
  padding: 40px 0;
  background: #000000;
  color: #ffffff;
}

.footer__container {
  min-height: clamp(400px, 400px + 100 * (100vw - 320px) / 1600, 500px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  row-gap: 20px;
  font-weight: 700;
}

.footer__logo {
  margin-bottom: clamp(30px, 30px + 30 * (100vw - 320px) / 1600, 60px);
}

.footer__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 20px;
}

.footer a {
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

@media (any-hover: hover) and (min-width: 992px) {
  .header__btn:hover {
    color: #000000;
    background: #ffffff;
  }

  .menu__link:hover {
    text-shadow: 0 0 1px #000000;
  }

  .products__btn:hover img {
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
  }

  .volume__btn:hover {
    color: #ffffff;
    background: #000000;
  }

  .footer a:hover {
    opacity: 0.8;
  }
}

@media (max-width: 1919.98px) {
  .intro__title {
    left: 15%;
  }
}

@media (max-width: 575.98px) {
  .header__burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .menu__items {
    position: fixed;
    z-index: 8;
    top: 0;
    left: 0;
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 120px 0;
    background: #cecece;
    -webkit-transition: all 0.4s linear;
    transition: all 0.4s linear;
    -webkit-transform: translateY(-100%);
        -ms-transform: translateY(-100%);
            transform: translateY(-100%);
    overflow: auto;
    overflow-x: hidden;
  }

  .menu__items.menu__items--active {
    -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
            transform: translateY(0);
  }

  .menu__item:not(:last-child) {
    margin-bottom: 30px;
  }

  .menu__link {
    font-size: 24px;
  }
}

@media (max-width: 514.98px) {
  .intro__title {
    left: 11%;
  }
}