@import "blocks/up";
@import "blocks/author";

@import "blocks/intro";
@import "blocks/enterprise";
@import "blocks/services";
@import "blocks/about";
@import "blocks/statistics";
@import "blocks/testimonials";
@import "blocks/blog";
@import "blocks/promo";
