@charset "UTF-8";

/* ОБНУЛЕНИЕ СТИЛЕЙ */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  display: inline-block;
  color: inherit;
}

/*
a:focus {
    text-shadow: 0 0 1px #000000;
}
*/

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

button {
  padding: 0;
  margin: 0;
  color: inherit;
  font-size: inherit;
  font-family: inherit;
  font-weight: inherit;
  border: none;
  background: transparent;
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

img {
  vertical-align: top;
}

html,
body {
  height: 100%;
}

input,
textarea {
  cursor: pointer;
}

input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
  display: none;
}

html {
  font-size: 16px;
  /* по умолчанию */
  scroll-behavior: smooth;
  height: -webkit-fill-available;
}

body {
  min-width: 320px;
  line-height: 1;
  font-family: "Roboto";
  background: #f5f5f5;
}

.wrapper {
  min-height: 100vh;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: -webkit-fill-available;
}

@font-face {
  font-family: "Noto Sans";
  src: url("../../fonts/NotoSans-Regular.woff2") format("woff2"), url("../../fonts/NotoSans-Regular.woff") format("woff");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Noto Sans";
  src: url("../../fonts/NotoSans-Bold.woff2") format("woff2"), url("../../fonts/NotoSans-Bold.woff") format("woff");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("../../fonts/Roboto-Regular.woff2") format("woff2"), url("../../fonts/Roboto-Regular.woff") format("woff");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

/*
@include Noto400;
@include Noto700;
@include Roboto400;
*/

/* Slider */

.slick-slider {
  position: relative;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}

.slick-list:focus {
  outline: none;
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.slick-track:before,
.slick-track:after {
  content: "";
  display: table;
}

.slick-track:after {
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}

[dir=rtl] .slick-slide {
  float: right;
}

.slick-slide img {
  display: block;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

[class*=__container] {
  max-width: 1230px;
  margin: 0 auto;
  padding: 0 15px;
}

[class*=__cont-left] {
  padding-left: calc((100% - 1230px) / 2 + 15px);
}

[class*=__cont-right] {
  padding-right: calc((100% - 1230px) / 2 + 15px);
}

[class*=__burger] {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 4px;
  cursor: pointer;
}

[class*=__burger] span {
  width: 24px;
  height: 3px;
  border-radius: 5px;
  background: #ffffff;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

/*Для контейнера картинок в карточках - технический класс*/

[class*=__ibg] {
  position: relative;
  /*Для самих картинок в карточках технический класс*/
}

[class*=__ibg] img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

body {
  font-family: "Noto Sans", sans-serif;
  background-color: #ffffff;
  color: #303030;
  font-size: clamp(12px, 12px + 2 * (100vw - 320px) / 1600, 14px);
  line-height: 1.3571428571;
  font-weight: 400;
}

body.lock {
  overflow: hidden;
}

.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.arrow {
  display: inline-block;
  cursor: pointer;
  position: absolute;
  z-index: 2;
  top: 0;
  right: 0;
  width: 0;
  height: 0;
  border-top: 7px solid #ffffff;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.arrow.arrow--active {
  top: 0;
  border-left: 7px solid #ffffff;
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent;
}

.main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.main__section {
  margin-bottom: clamp(50px, 50px + 100 * (100vw - 320px) / 1600, 150px);
}

.title {
  font-family: "Noto Sans", sans-serif;
  font-weight: 700;
  font-size: clamp(18px, 18px + 6 * (100vw - 320px) / 1600, 24px);
  text-transform: uppercase;
  color: #868585;
}

[class*=__title] {
  margin-bottom: clamp(40px, 40px + 20 * (100vw - 320px) / 1600, 60px);
}

[class*=__inner] {
  display: grid;
  grid-template-columns: clamp(300px, 300px + 210 * (100vw - 575px) / 1345, 510px) auto;
  gap: clamp(30px, 30px + 60 * (100vw - 575px) / 1345, 90px);
}

.slick-btn {
  position: absolute;
  bottom: 0;
  z-index: 2;
}

.slick-btn svg {
  fill: #303030;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.slick-btn--prev {
  left: clamp(0px, 0px + 275 * (100vw - 320px) / 1600, 275px);
}

.slick-btn--next {
  left: clamp(70px, 70px + 270 * (100vw - 320px) / 1600, 340px);
}

.logo {
  width: 183px;
  height: 51px;
}

.logo__img {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

.btn {
  width: clamp(60px, 60px + 40 * (100vw - 320px) / 1600, 100px);
  aspect-ratio: 1;
  border-radius: 50%;
  background: transparent;
  border: 2px solid #ffffff;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
  position: relative;
}

.btn svg {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  fill: #ffffff;
}

.btn span {
  font-size: clamp(12px, 12px + 6 * (100vw - 320px) / 1600, 18px);
  position: absolute;
  left: clamp(25px, 25px + 25 * (100vw - 320px) / 1600, 50px);
  bottom: clamp(5px, 5px + 11 * (100vw - 320px) / 1600, 16px);
  white-space: nowrap;
}

.btn--black {
  color: #000000;
  border-color: #000000;
}

.btn--black svg {
  fill: #000000;
}

.tabs__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: clamp(20px, 20px + 20 * (100vw - 320px) / 1600, 40px);
  margin-bottom: clamp(40px, 40px + 80 * (100vw - 320px) / 1600, 120px);
}

.tabs__item {
  font-size: clamp(14px, 14px + 4 * (100vw - 320px) / 1600, 18px);
  padding-bottom: 5px;
  border-bottom: 1px solid transparent;
}

.tabs__item--active {
  border-color: currentColor;
}

.tabs__block {
  display: none;
}

.tabs__block--active {
  display: block;
}

.tabs__list {
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 1s ease;
  transition: opacity 1s ease;
}

.tabs__list.slick-initialized {
  opacity: 1;
  visibility: visible;
}

.tabs__box {
  display: grid;
  grid-template-columns: repeat(2, 235px);
  gap: clamp(20px, 20px + 20 * (100vw - 320px) / 1600, 40px);
}

.tabs__img {
  max-width: 235px;
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

.tabs__info {
  padding-bottom: 20px;
}

.tabs .slick-btn--prev {
  left: 275px;
}

.tabs .slick-btn--next {
  left: 340px;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 60px;
}

.form__title {
  color: inherit;
  margin-bottom: 0;
}

.form__input {
  width: 100%;
  background: transparent;
  padding: 0 11px 11px 0;
  border-bottom: 1px solid currentColor;
  color: #ffffff;
}

.form__input::-webkit-input-placeholder {
  font-family: "Noto Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.4;
  color: #ffffff;
}

.form__input::-moz-placeholder {
  font-family: "Noto Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.4;
  color: #ffffff;
}

.form__input:-ms-input-placeholder {
  font-family: "Noto Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.4;
  color: #ffffff;
}

.form__input::-ms-input-placeholder {
  font-family: "Noto Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.4;
  color: #ffffff;
}

.form__input::placeholder {
  font-family: "Noto Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.4;
  color: #ffffff;
}

.intro {
  background: -webkit-image-set(url("../images/main/intro/bg.avif") type("image/avif"), url("../images/main/intro/bg.webp") type("image/webp"), url("../images/main/intro/bg.jpg")) center/cover no-repeat;
  background: image-set(url("../images/main/intro/bg.avif") type("image/avif"), url("../images/main/intro/bg.webp") type("image/webp"), url("../images/main/intro/bg.jpg")) center/cover no-repeat;
  color: #ffffff;
}

.intro__container {
  padding: clamp(38px, 38px + 32 * (100vw - 320px) / 1600, 70px) 15px 38px;
  min-height: 100svh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: clamp(70px, 70px + 70 * (100vw - 320px) / 1600, 140px);
  text-align: center;
}

.intro__sudtitle {
  font-size: clamp(14px, 14px + 4 * (100vw - 320px) / 1600, 18px);
}

.intro__title {
  font-family: "Noto Sans", sans-serif;
  font-weight: 700;
  font-size: clamp(24px, 24px + 40 * (100vw - 320px) / 1600, 64px);
  margin-bottom: clamp(20px, 20px + 30 * (100vw - 320px) / 1600, 50px);
}

.intro__title span {
  margin-top: 3px;
  display: inline-block;
  font-family: "Noto Sans", sans-serif;
  font-weight: 400;
  font-size: clamp(18px, 18px + 24 * (100vw - 320px) / 1600, 42px);
}

.intro__btn {
  margin-left: calc(clamp(120px, 120px + 70 * (100vw - 320px) / 1600, 190px) * -1);
}

.intro__socials {
  margin-top: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}

.intro__link {
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.intro__link img {
  max-width: clamp(20px, 20px + 10 * (100vw - 320px) / 1600, 30px);
  max-height: clamp(20px, 20px + 10 * (100vw - 320px) / 1600, 30px);
}

.services__item:not(:last-child) {
  margin-bottom: clamp(30px, 30px + 20 * (100vw - 320px) / 1600, 20px);
}

.services__name {
  font-family: "Noto Sans", sans-serif;
  font-weight: 700;
  font-size: clamp(14px, 14px + 4 * (100vw - 320px) / 1600, 18px);
  margin-bottom: 15px;
}

.services__img {
  width: 100%;
  height: auto;
}

.tarif__tabs {
  margin-bottom: clamp(30px, 30px + 70 * (100vw - 320px) / 1600, 100px);
}

.tarif__block {
  display: grid;
  grid-template-columns: repeat(2, 235px);
  gap: 40px;
}

.tarif__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 16px 40px;
}

.tarif__point {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 calc(50% - 20px);
          flex: 0 0 calc(50% - 20px);
}

.tarif__type {
  font-family: "Noto Sans", sans-serif;
  font-weight: 700;
  font-size: clamp(14px, 14px + 4 * (100vw - 320px) / 1600, 18px);
  margin-bottom: 5px;
}

.tarif__text {
  font-family: "Noto Sans", sans-serif;
  font-weight: 700;
  font-size: clamp(14px, 14px + 4 * (100vw - 320px) / 1600, 18px);
  margin-bottom: 17px;
}

.tarif__image {
  max-width: clamp(300px, 300px + 300 * (100vw - 320px) / 1600, 600px);
}

.tarif__image img {
  width: 100%;
  height: auto;
}

.promo {
  background: -webkit-image-set(url("../images/main/promo/bg.avif") type("image/avif"), url("../images/main/promo/bg.webp") type("image/webp"), url("../images/main/promo/bg.jpg")) center/cover no-repeat;
  background: image-set(url("../images/main/promo/bg.avif") type("image/avif"), url("../images/main/promo/bg.webp") type("image/webp"), url("../images/main/promo/bg.jpg")) center/cover no-repeat;
  color: #ffffff;
}

.promo__container {
  min-height: clamp(300px, 300px + 200 * (100vw - 320px) / 1600, 500px);
  padding: 15px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.promo__text {
  max-width: clamp(375px, 375px + 300 * (100vw - 320px) / 1600, 675px);
  font-size: clamp(20px, 20px + 22 * (100vw - 320px) / 1600, 42px);
}

.clients__img {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

.clients__name {
  font-family: "Noto Sans", sans-serif;
  font-weight: 700;
  font-size: clamp(14px, 14px + 4 * (100vw - 320px) / 1600, 18px);
  margin-bottom: 30px;
}

.clients__list {
  margin-left: clamp(0px, 0px + 50 * (100vw - 320px) / 1600, 50px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 15px;
  margin-bottom: clamp(20px, 20px + 45 * (100vw - 320px) / 1600, 65px);
}

.clients .slick-btn {
  bottom: -30px;
}

.steps__items {
  counter-reset: num;
}

.steps__item {
  padding-top: 30px;
  position: relative;
}

.steps__item::before {
  content: counter(num, decimal-leading-zero);
  counter-increment: num;
  position: absolute;
  top: 0;
  left: 0;
  color: #868585;
}

.steps__item:not(:last-child) {
  margin-bottom: 30px;
}

.steps__name {
  font-family: "Noto Sans", sans-serif;
  font-weight: 700;
  font-size: clamp(14px, 14px + 4 * (100vw - 320px) / 1600, 18px);
  margin-bottom: 2px;
}

.steps__img {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

.footer {
  background: -webkit-image-set(url("../images/footer/bg.avif") type("image/avif"), url("../images/footer/bg.webp") type("image/webp"), url("../images/footer/bg.jpg")) center/cover no-repeat;
  background: image-set(url("../images/footer/bg.avif") type("image/avif"), url("../images/footer/bg.webp") type("image/webp"), url("../images/footer/bg.jpg")) center/cover no-repeat;
  color: #ffffff;
}

.footer__container {
  padding: 70px 15px 50px;
}

.footer__inner {
  margin-bottom: clamp(50px, 50px + 135 * (100vw - 320px) / 1600, 185px);
}

.footer__title {
  color: inherit;
}

.footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 30px;
}

.footer__info {
  font-size: clamp(14px, 14px + 4 * (100vw - 320px) / 1600, 18px);
}

.footer__info-link {
  display: block;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.footer__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}

.footer__link {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

.footer__socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}

.footer__social-link {
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.footer__social-link img {
  max-width: clamp(20px, 20px + 10 * (100vw - 320px) / 1600, 30px);
  max-height: clamp(20px, 20px + 10 * (100vw - 320px) / 1600, 30px);
}

@media (max-width: 767.98px) {
  .tarif .tarif__inner {
    grid-template-columns: 100%;
  }
}

@media (max-width: 575.98px) {
  [class*=__inner] {
    grid-template-columns: 100%;
  }
}

@media (any-hover: hover) {
  .slick-btn:hover svg {
    fill: #a9a32a;
  }

  .btn:hover {
    background: #a9a32a;
  }

  .intro__link:hover {
    opacity: 0.8;
  }

  .footer__info-link:hover {
    color: #a9a32a;
  }

  .footer__link:hover {
    color: #a9a32a;
  }

  .footer__social-link:hover {
    opacity: 0.8;
  }
}