.blog {
  padding: clampAd(50, 140) 0 clampAd(60, 180);
  // .blog__container
  &__container {
    display: flex;
    flex-direction: column;
    row-gap: clampAd(40, 144);
  }
  // .blog__top
  &__top {
  }
  // .blog__items
  &__items {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(clampAd(180, 360), 1fr));
    grid-auto-flow: dense;
    gap: clampAd(20, 40);
  }
  // .blog__item
  &__item {
  }
  // .blog__post
  &__post {
  }
}
