.intro {
  padding: clampAd(40, 110) 0 clampAd(50, 150);

  // .intro__container
  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  // .intro__inner
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;

    @include big-mobile {
      flex-direction: column;
      align-items: center;
    }
  }
  // .intro__content
  &__content {
    max-width: 540px;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: clampAd(16, 32);
  }
  // .intro__top
  &__top {
  }
  // .intro__text
  &__text {
    margin-bottom: clampAd(4, 8);
  }
  // .intro__soc1als
  &__soc1als {
  }
  // .intro__media
  &__media {
    max-width: clampAd(200, 336);
    width: 100%;
    min-height: clampAd(200, 400);
    height: 100%;

    border-radius: $radius-xl;
    background: $color-bg-light-2;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    position: relative;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: $color-accent;
      transform: rotate(-10deg);
      border-radius: $radius-xl;
      z-index: -1;
    }
  }
  // .intro__image
  &__image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    &::after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      width: 50%;
      height: 50%;
      background: url(../../images/icons/lines.svg) center/cover no-repeat;
    }
  }
  // .intro__img
  &__img {
    position: absolute;
    bottom: 0;
    left: 0;

    display: block;
    max-width: 80%;
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: center;

    border-radius: 0 0 0 $radius-xl;
  }
}
