.testimonials {
  padding: clampAd(40, 104) 0 clampAd(50, 153);
  background: $color-bg-light-3;

  // .testimonials__container
  &__container {
    display: flex;
    flex-direction: column;
    row-gap: clampAd(40, 130);
  }
  // .testimonials__top
  &__top {
  }
  // .testimonials__items
  &__items {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(clampAd(180, 360), 1fr));
    grid-auto-flow: dense;
    gap: clampAd(30, 48);
  }
  // .testimonials__item
  &__item {
    padding: 0 clampAd(26, 52) clampAd(12, 24) clampAd(16, 32);

    background: $color-white;
    border-radius: $radius-l;
  }
  // .testimonials__content
  &__content {
    transform: translateY(-50px);

    display: flex;
    flex-direction: column;

    @include mobile {
      transform: translateY(-20px);
    }
  }
  // .testimonials__image
  &__image {
    --sizeUserPhoto: #{clampAd(80, 96)};

    align-self: center;

    width: var(--sizeUserPhoto);
    height: var(--sizeUserPhoto);
    border-radius: $radius-circle;
    overflow: hidden;

    margin-bottom: clampAd(16, 32);
  }
  // .testimonials__img
  &__img {
    display: block;
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
  // .testimonials__text
  &__text {
    line-height: 1.75;
    margin-bottom: clampAd(24, 48);
  }
  // .testimonials__info
  &__info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: clampAd(5, 10);

    line-height: 1.25;
  }
  // .testimonials__author
  &__author {
    @include PlusJakartaSans500;
    font-size: clampAd(10, 14);
    color: $color-dark-1;
    text-transform: capitalize;
  }
  // .testimonials__work
  &__work {
    padding: clampAd(2, 4) clampAd(4, 8);
    background: $color-bg-light-3;
    border-radius: $radius-m;

    font-weight: 500;
    font-size: clampAd(10, 12);
  }
}
