@media (max-width: 1200px) {
  .blog__item {
    max-width: clamp(460px, calc(460px + (542 - 460) * ((100vw - 990px) / ($widthReportMax - 990))), 542px);
  }

  .blog__image {
    max-width: clamp(230px, calc(230px + (270 - 230) * ((100vw - 990px) / ($widthReportMax - 990))), 270px);
  }

  .blog__content {
    max-width: clamp(210px, calc(210px + (252 - 210) * ((100vw - 990px) / ($widthReportMax - 990))), 252px);
  }

  .blog__items {
    column-gap: clamp(20px, calc(20px + (58 - 20) * ((100vw - 990px) / ($widthReportMax - 990))), 58px);
  }

  .subscribe__title {
    text-align: center;
  }

  .subscribe__content {
    justify-content: center;
  }

  .subscribe__text {
    text-align: center;
    max-width: 780px;
  }
}
@media (max-width: 1120px) {
  .footer__item--company {
    margin-right: 0px;
  }

  .footer__item--contacts {
    align-items: flex-start;
  }
}

@media (max-width: 999.98px) {
  .header__logo {
    margin-bottom: 0;
  }

  .header__menu {
    margin-left: -85px;
  }

  .header__action {
    &:last-child {
      margin-left: 30px;
    }
  }
  .product__quote {
    margin-bottom: 135px;
  }

  .product__title {
    margin-bottom: 30px;
  }

  .product__items {
    gap: 0;
    justify-content: center;
    flex-wrap: wrap;
  }

  .product__item {
    flex: 0 0 50%;
  }

  .subscribe {
    padding: 60px 0;
  }

  .prioritise {
    padding: 120px 0;
  }

  .footer__copy {
    margin-right: 40px;
  }
}

@media (max-width: 979.98px) {
  .blog__item {
    max-width: 542px;

    &:nth-child(2n) {
      margin-left: 100px;
    }
  }

  .blog__image {
    max-width: 270px;
  }

  .blog__content {
    max-width: 252px;
  }

  .footer__item--contacts {
    max-width: 270px;
    flex-wrap: wrap;
  }

  .footer__item--company {
    margin-left: 0;
  }
}

@media (max-width: 767.98px) {
  .header__burger {
    display: flex;
    order: -1;
    margin-right: 85px;
  }

  .header__menu {
    //position: absolute;
  }

  .close.close--active {
    display: block;
  }

  .menu__items {
    padding: 30px 0 0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    max-width: 360px;
    width: 100%;
    max-height: 690px;
    height: 100%;
    margin: 0 auto;
    z-index: 2;
    display: block;
    text-align: center;
    background: #ffffff;
    transition: all 0.4s linear;
    transform: translateY(-100%);
    overflow: auto;
    overflow-x: hidden;
  }

  .menu__items.menu__items--active {
    transform: translateY(0);
  }

  .menu__item {
    &:not(:last-child) {
      margin-right: 0;
    }
    margin: 30px;

    &--last {
      padding-bottom: 45px;
      border-bottom: 2px solid #f7f2ea;
      margin-bottom: 0;
    }
  }

  .menu__link {
    color: #000000;
    font-family: "Cormorant", serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 1.2;
  }

  .dop-menu {
    display: block;
  }

  .intro__title {
    font-size: clamp(40px, calc(40px + (60 - 40) * ((100vw - 480px) / (768 - 480))), 60px);
  }

  .product {
    padding: clamp(60px, calc(60px + (120 - 60) * ((100vw - 480px) / (768 - 480))), 120px) 0;
  }

  .product__quote {
    max-width: 640px;
    font-size: clamp(16px, calc(16px + (40 - 16) * ((100vw - 480px) / (768 - 480))), 40px);

    margin-bottom: clamp(60px, calc(60px + (135 - 60) * ((100vw - 480px) / (768 - 480))), 135px);
  }

  .product__title {
    margin-bottom: 40px;
  }

  .clients__title {
    margin-bottom: clamp(50px, calc(50px + (60 - 50) * ((100vw - 480px) / (768 - 480))), 60px);
  }

  .blog {
    padding: 120px 0;
  }

  .subscribe__title {
    margin-bottom: clamp(30px, calc(30px + (60 - 30) * ((100vw - 480px) / (768 - 480))), 60px);
  }

  .subscribe__text {
    font-size: clamp(13px, calc(13px + (20 - 13) * ((100vw - 480px) / (768 - 480))), 20px);
  }

  .footer__copy {
    margin-right: 30px;
  }
}

@media (max-width: 690.98px) {
  .footer__items {
    justify-content: flex-start;
    flex-wrap: wrap;
  }

  .footer__item--contacts {
    max-width: 100%;
    text-align: center;

    .footer__name {
      margin-bottom: 20px;
    }
  }

  .footer__blockquote {
    max-width: 100%;
    text-align: left;
  }

  .footer__author {
    max-width: 100%;
  }

  .footer__box {
    max-width: 100%;
  }

  .footer__name {
    margin-bottom: 30px;
  }

  .footer__top {
    padding: 50px 10px;
  }

  .footer__bottom {
    padding-left: 10px;
    padding-right: 10px;
  }

  .footer__actions {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    column-gap: 20px;
  }

  .footer__socials {
    align-self: center;
  }
  .footer__actions-item {
    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }
}

@media (max-width: 640.98px) {
  [class*="__container"] {
    padding: 0 10px;
  }

  .clients__items {
    justify-content: center;
    column-gap: 20px;
  }
  .clients__item {
    width: 220px;
  }

  .blog {
    padding: 60px 0;
  }

  .blog__item {
    max-width: 460px;

    &:nth-child(2n) {
      margin-left: 0;
    }
  }

  .blog__image {
    max-width: 230px;
  }

  .blog__content {
    max-width: 210px;
  }

  .subscribe {
    padding: 5 0px 0;
  }

  .product__name {
    font-size: 30px;
  }

  .footer__bottom {
    justify-content: space-between;
  }

  .footer__copy {
    margin-right: 30px;
  }
}

@media (max-width: 479.98px) {
  .header {
    padding: 10px 0;
  }

  .header__burger {
    margin-right: clamp(60px, calc(60px + (85 - 60) * ((100vw - 360px) / (480 - $widthReportMin))), 85px);
  }

  .header__action {
    &:last-child {
      margin-left: clamp(0px, calc(0px + (50 - 0) * ((100vw - 360px) / (480 - $widthReportMin))), 50px);
    }
  }

  .logo {
    width: 39px;
    height: 56px;
  }

  .title {
    font-size: clamp(24px, calc(24px + (40 - 24) * ((100vw - 360px) / (480 - $widthReportMin))), 40px);
  }

  .intro__container {
    min-height: clamp(367px, calc(367px + (500 - 367) * ((100vw - 360px) / (480 - $widthReportMin))), 500px);
  }

  .intro__title {
    font-size: clamp(24px, calc(24px + (40 - 24) * ((100vw - 360px) / (480 - $widthReportMin))), 40px);
  }

  .intro__text {
    font-size: clamp(13px, calc(13px + (24 - 13) * ((100vw - 360px) / (480 - $widthReportMin))), 24px);
    margin-bottom: clamp(30px, calc(30px + (50 - 30) * ((100vw - 360px) / (480 - $widthReportMin))), 50px);
  }

  .product__title {
    margin-bottom: 30px;
  }

  .product__quote {
    max-width: 376px;
  }

  .clients__title {
    margin-bottom: clamp(30px, calc(30px + (50 - 30) * ((100vw - 360px) / (480 - $widthReportMin))), 50px);
  }

  .blog {
    padding: 50px 0;
  }
  .blog__title {
    margin-bottom: 30px;
  }

  .blog__items {
    margin-bottom: 30px;
  }

  .blog__item {
    max-width: 270px;
    flex-direction: column;
  }

  .blog__image {
    max-width: 100%;
  }

  .blog__container {
    max-width: 100%;
  }

  .blog__name {
    margin-bottom: 5px;
  }

  .subscribe__form-box {
    column-gap: 20px;
  }

  .subscribe__input {
    font-size: 16px;
  }

  .prioritise {
    padding: 60px 0;
  }

  .prioritise__name {
    font-size: clamp(20px, calc(20px + (30 - 20) * ((100vw - 360px) / (480 - $widthReportMin))), 30px);
    margin-bottom: clamp(0px, calc(0px + (10 - 0) * ((100vw - 360px) / (480 - $widthReportMin))), 10px);
  }

  .prioritise__info {
    font-size: clamp(10px, calc(10px + (20 - 10) * ((100vw - 360px) / (480 - $widthReportMin))), 20px);
    font-weight: 400;
    margin-bottom: clamp(10px, calc(10px + (40 - 10) * ((100vw - 360px) / (480 - $widthReportMin))), 40px);
  }

  .product__name {
    font-size: 24px;
  }

  .footer__name {
    margin-bottom: 30px;
  }
}

@media (max-width: 440.98px) {
  .footer__actions {
    flex-direction: column;
  }
}

@media (max-width: 360.98px) {
  .intro__text {
    font-weight: 300;
  }

  .product {
    padding: 70px 0 80px;
  }

  .product__quote {
    max-width: 340px;
    margin-bottom: 80px;
  }

  .product__title {
    margin-bottom: 0;
  }

  .prioritise {
    padding: 50px 0;
  }
  .footer__items {
    column-gap: 40px;
  }

  .footer__payments {
    column-gap: 10px;
  }
}
