.contacts {
  // .contacts__container
  &__container {
  }
  // .contacts__info
  &__info {
    margin-bottom: clampAd(30, 80);

    .info__text {
      max-width: 323px;
    }
  }
  // .contacts__content
  &__content {
    padding: clampAd(30, 60) clampAd(30, 100) clampAd(40, 80);
    background: $color-bg-light;
    border-radius: $radius-big;
    position: relative;
    overflow-x: hidden;

    &::after {
      content: "";
      position: absolute;
      top: 50%;
      left: 100%;
      transform: translateY(-50%) translateX(-50%);
      width: 648px;
      aspect-ratio: 1;
      background: url(../../images/main/contacts/bg.svg) center left / cover no-repeat;
      z-index: 0;
    }
  }
  // .contacts__form
  &__form {
    position: relative;
    z-index: 1;
    max-width: clampAd(280, 556);
  }
}
