.menu {
  // .menu__items
  &__items {
    display: flex;
    gap: 30px clampAd(20, 40);
  }
  // .menu__item
  &__item {
  }
  // .menu__link
  &__link {
    font-size: 20px;
    line-height: 1.4;
    white-space: nowrap;
    transition: all 0.3s linear;

    &--active {
      cursor: default;
    }

    @media (any-hover: hover) {
      &:hover {
        text-shadow: 0 0 1px currentColor;
      }
    }
  }
  // .menu__btn
  &__btn {
    display: none;
  }
}
