.team {
  // .team__container
  &__container {
  }
  // .team__info
  &__info {
    margin-bottom: clampAd(30, 80);

    .info__text {
      max-width: 473px;
    }
  }
  // .team__items
  &__items {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(clampAd(280, 380), 1fr));
    grid-auto-flow: dense;
    gap: clampAd(20, 40);
    margin-bottom: clampAd(30, 40);
  }
  // .team__item
  &__item {
    border: $border;
    border-radius: $radius-big;
    box-shadow: $shadow;
    padding: 40px 35px;
  }
  // .team__top
  &__top {
    display: flex;
    align-items: flex-end;
    column-gap: 20px;
    position: relative;
    margin-bottom: clampAd(14, 28);
  }
  // .team__social
  &__social {
    position: absolute;
    top: 0;
    right: 0;

    @media (any-hover: hover) {
      &:hover {
        .team__icon {
          transform: scale(1.1);
        }
      }
    }
  }
  // .team__icon
  &__icon {
    width: clampAd(25, 34);
    aspect-ratio: 1;
    object-fit: cover;
    object-position: center;
    transition: all 0.3s linear;
  }
  // .team__image
  &__image {
    width: 103px;
    aspect-ratio: 1;
  }

  // .team__img
  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
  // .team__content
  &__content {
  }
  // .team__author
  &__author {
    @include SpaceGrotesk500;
    font-size: clampAd(16, 20);
    margin-bottom: 3px;
  }
  // .team__spec
  &__spec {
  }
  // .team__text
  &__text {
    padding-top: clampAd(14, 28);
    border-top: 1px solid $black;
  }
  // .team__btn
  &__btn {
    display: flex;
    margin-left: auto;
    padding: 20px 76px;
  }
}
