@use "sass:math";

@import "components/variables";
@import "components/plugins";

@import "components/fonts";
@import "components/mixin";
@import "components/resetStyle";

[class*="__container"] {
  max-width: $maxWidthContainer;
  margin: 0 auto;
  padding: 0 $containerPadding;
}

[class*="__burger"] {
  display: none;
  flex-direction: column;
  row-gap: 5px;
  cursor: pointer;

  span {
    width: 30px;
    height: 3px;
    border-radius: $radius-small;
    background: $color-accent;
    transition: all 0.3s linear;
  }

  &.header__burger--active {
    span {
      background: $white;

      &:nth-child(1) {
        opacity: 0;
      }
      &:nth-child(2) {
        transform: rotate(45deg);
      }
      &:nth-child(3) {
        transform: rotate(-45deg) translateY(-5px) translateX(5px);
      }
    }
  }
}

[class*="__ibg"] {
  position: relative;

  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
}

body {
  font-family: $fontFamily;
  background-color: $mainBackGround;
  color: $mainColor;
  font-size: clampAd(12, $mainSize);
  line-height: $lineheight;
  font-weight: $fontWeight;

  &.lock {
    overflow: hidden;
  }
}

.main {
  flex: 1 1 auto;

  &__section {
    margin-bottom: clampAd(50, 150);
  }
}

.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.text {
  display: flex;
  flex-direction: column;
  row-gap: clampAd(10, 20);
}

.none {
  display: none;
}

.promo {
  min-height: clampAd(300, 600);
  background: image-set(
      url("../images/main/activity/photo.avif") type("image/avif"),
      url("../images/main/activity/photo@2x.avif") 2x type("image/avif"),
      url("../images/main/activity/photo.webp") type("image/webp"),
      url("../images/main/activity/photo@2x.webp") 2x type("image/webp"),
      url("../images/main/activity/photo.jpg"),
      url("../images/main/activity/photo@2x.jpg") 2x
    )
    left center/cover no-repeat;
}

@import "module/logo";
@import "module/menu";
@import "module/btn";
@import "module/title";
@import "module/soc1als";

@import "blocks/header";
//------------------------------
@import "pages/index";
//------------------------------
@import "blocks/footer";
