@import "blocks/grid";
@import "blocks/raiting";

@import "blocks/intro";
@import "blocks/about";
@import "blocks/video";
@import "blocks/advantages";
@import "blocks/ask";
@import "blocks/access";
@import "blocks/reviews";
@import "blocks/promo";
