<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scable=0" />
  <link rel="icon" type="image/ico" href="favicon.ico">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="css/style.min.css" />
  <title>СтройКонтроль - умная доставка материалов</title>
</head>

<body>
  <div class="wrapper">
    <header class="header">
      <div class="header__container">
        <a class="header__logo logo" href="#intro">
          <picture>
            <source media="(max-width: 500px)" srcset="../images/logo-small.svg">
            <img class="logo__img" src="../images/logo.svg" alt="логотип компании СтройКонтроль">
          </picture>
        </a>
        <nav class="header__menu menu">
          <ul class="menu__items">
            <li class="menu__item">
              <a class="menu__link menu__link--active" href="#intro">Главная</a>
            </li>
            <li class="menu__item">
              <a class="menu__link" href="#about">О нас</a>
            </li>
            <li class="menu__item">
              <a class="menu__link" href="#delivery">Продукция</a>
            </li>
            <li class="menu__item">
              <a class="menu__link" href="#work">Процесс</a>
            </li>
            <li class="menu__item">
              <a class="menu__link" href="#reliability">Надёжность</a>
            </li>
            <li class="menu__item">
              <a class="menu__link" href="#clients">Клиенты</a>
            </li>
            <li class="menu__item">
              <a class="menu__link" href="#logistic">Связаться с нами</a>
            </li>
          </ul>
        </nav>
        <a class="header__btn btn" href="#">
          Заказать демо
        </a>
        <div class="header__burger">
          <span></span>
          <span></span>
          <span></span>
        </div>
      </div>
    </header>