@import "components/mixin";
.logo {
  --sizeImg: #{clampAd(80, 124)};

  width: var(--sizeImg);
  height: var(--sizeImg);

  img {
    display: block;
    max-width: 100%;
    width: 100%;
    height: 10%0;
    object-fit: cover;
    object-position: center;
  }
}
