<footer class="footer">
  <div class="footer__container">
    <a class="footer__contact" href="mailto:info@eco-cabins.com">
      info@eco-cabins.com
    </a>
    <a class="footer__logo logo logo--one" href="#" aria-label="logo" title="logo">
      <img src="images/logo/logo.svg" alt="logo" loading="lazy" width="135" height="25">
    </a>
    <ul class="footer__actions">
      <li class="footer__action">
        <a class="footer__link" href="#">
          Cookies
        </a>
      </li>
      <li class="footer__action">
        <a class="footer__link" href="#">
          Privacybeleid
        </a>
      </li>
    </ul>
  </div>
</footer>
</div>

<script src="js/script.min.js" defer></script>
</body>

</html>