@import "tailwindcss";

@theme {
  --font-roboto-mono: "Roboto Mono", monospace, sans-serif;
}

@layer components{
  .trans{
    @apply duration-300 ease-linear transition-all
  }

  .focus-element {
    @apply focus:outline-none focus:ring focus:ring-yellow-500 focus:ring-offset-2;
  }

  .input{
    @apply w-full p-2 text-xs border rounded-lg border-stone-300 sm:text-base placeholder:text-stone-400;
  }

  .form-item{
    @apply flex flex-col gap-y-1;
  }
}



.loader {
  width: 50px;
  aspect-ratio: 1;
  border-radius: 50%;
  padding: 3px;
  background: 
    radial-gradient(farthest-side,#eab308 95%,#0000) 50% 0/12px 12px no-repeat,
    radial-gradient(farthest-side,#0000 calc(100% - 5px),#eab308 calc(100% - 4px)) content-box;
  animation: loading 2s infinite ;
}

@keyframes loading {
  to{transform: rotate(1turn)}
}
