<footer class="footer">
    <div class="footer__container">
        <a class="footer__logo logo" href="#">
            <img class="logo__img" src="images/footer/logo.svg" alt="Логотип">
        </a>

        <nav class="footer__nav">
            <div class="footer__menu">
                <ul class="footer__menu-items">
                    <li class="footer__menu-item">
                        <a class="footer__menu-link" href="#">О нас</a>
                    </li>
                    <li class="footer__menu-item">
                        <a class="footer__menu-link" href="#">Прайс</a>
                    </li>
                    <li class="footer__menu-item">
                        <a class="footer__menu-link" href="#">Галерея</a>
                    </li>
                    <li class="footer__menu-item">
                        <a class="footer__menu-link" href="#">Блог</a>
                    </li>
                </ul>
            </div>
        </nav>
        <ul class="footer__actions">
            <li class="footer__action">
                <a class="footer__btn" href="#">
                    <svg>
                        <path fill-rule="evenodd" clip-rule="evenodd"
                            d="M5.457 15V8.25h2.186l.357-3H5.457V3.789c0-.772.021-1.539 1.173-1.539h1.166V.105C7.796.073 6.794 0 5.78 0 3.664 0 2.339 1.243 2.339 3.525V5.25H0v3h2.339V15h3.118z" />
                    </svg>
                </a>
            </li>
            <li class="footer__action">
                <a class="footer__btn" href="#">
                    <svg>
                        <path fill-rule="evenodd" clip-rule="evenodd"
                            d="M20 19h-3.077v-5.603c0-1.537-.651-2.395-1.82-2.395-1.271 0-2.026.894-2.026 2.395V19H10V8.592h3.077v1.17S14.042 8 16.217 8C18.395 8 20 9.382 20 12.242V19zM5.5 6a1.5 1.5 0 110-3 1.5 1.5 0 010 3zM4 19h3V9H4v10z" />
                    </svg>
                </a>
            </li>
            <li class="footer__action">
                <a class="footer__btn" href="#">
                    <svg>
                        <path fill-rule="evenodd" clip-rule="evenodd"
                            d="M18.875 10.603h-6.727c0 .7 0 2.098-.004 2.798h3.898c-.15.7-.68 1.68-1.428 2.172 0 0 0 .005-.002.004-.995.657-2.308.806-3.283.61a4.33 4.33 0 01-3.229-2.82c.003-.002.005-.021.007-.023-.307-.873-.307-2.042 0-2.741.396-1.286 1.642-2.46 3.172-2.78 1.23-.261 2.62.021 3.64.977.136-.133 1.88-1.836 2.011-1.974-3.49-3.16-9.076-2.049-11.167 2.032l-.004.008a6.837 6.837 0 00.007 6.274l-.007.006a7.126 7.126 0 004.536 3.616c2.107.552 4.79.174 6.587-1.45l.002.001c1.522-1.37 2.47-3.707 1.991-6.71z" />
                    </svg>
                </a>
            </li>
        </ul>
        <p class="footer__copy">
            Copyright &copy; 2019
        </p>
    </div>
</footer>
</div>

<script src="js/script.min.js"></script>
</body>

</html>