@function clampAd($min, $max) {
  $minPx: $min + px;
  $maxPx: $max + px;

  $result: clamp(
    $minPx,
    calc($minPx + ($max - $min) * ((100vw - 320px) / ($widthReportMax - $widthReportMin))),
    $maxPx
  );

  @return $result;
}

@mixin Arial400 {
  font-family: "Arial", sans-serif;
  font-weight: 400;
}
@mixin Arial700 {
  font-family: "Arial", sans-serif;
  font-weight: 700;
}
@mixin Inter400 {
  font-family: "Inter", sans-serif;
  font-weight: 400;
}
/*
@include Arial400;
@include Arial700;

@include Inter400;
*/
