.btn {
  padding: clampAd(10, 14) clampAd(14, 40);
  background: $color-accent-1;
  border-radius: $radius;
  border: 1px solid transparent;

  text-align: center;
  text-transform: capitalize;
  color: $white;
  white-space: nowrap;

  transition: all 0.3s linear;

  @media (any-hover: hover) {
    &:hover {
      color: $color-accent-1;
      border-color: currentColor;
      background: transparent;
    }
  }

  //.btn--min-width
  &--min-width {
    min-width: 150px;
    padding: 10px;
  }

  // .btn--no-background
  &--no-background {
    background: transparent;
    color: $color-accent-1;
  }
  // .btn--transform
  &--transform {
    text-transform: none;
  }
}
