.socials {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 16px clampAd(20, 30);

  // .socials__item
  &__item {
  }
  // .socials__link
  &__link {
    width: 24px;
    height: 24px;

    svg {
      width: 100%;
      height: 100%;
      fill: $black;
      transition: all 0.3s linear;
    }

    @media (any-hover: hover) {
      &:hover {
        svg {
          fill: $color-accent-1;
        }
      }
    }
  }
}
