.menu {
  // .menu__items
  &__items {
    display: flex;
    align-items: center;
    gap: 20px clampAd(16, 24);
  }
  // .menu__item
  &__item {
    &--mobile {
      display: none;
    }
  }
  // .menu__link
  &__link {
    font-size: 16px;
    color: $color-dark;
    white-space: nowrap;
    transition: all 0.3s linear;

    @media (any-hover: hover) {
      &:hover:not(.menu__link--active) {
        color: $color-accent;
      }
    }

    &--active {
      color: $color-accent;
      cursor: default;
    }
  }
}
