.decor {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: clampAd(55, 85);
    height: clampAd(42, 72);
    background: url(../../images/icons/decor.svg) center/contain no-repeat;
    z-index: -1;
  }

  &--rotate {
    &::before {
      left: 40%;
      transform: translate(-50%, -50%) rotate(180deg);
    }
  }

  &--color {
    &::before {
      background: url(../../images/icons/decor-color.svg) center/contain no-repeat;
    }
  }
}
