.battery {
  padding: clamp(45px, calc(45px + (80 - 45) * ((100vw - 320px) / ($widthReportMax - $widthReportMin))), 80px) 0;
  background: #fafafa;

  // .battery__container
  &__container {
    text-align: center;
  }
  // .battery__title
  &__title {
    margin-bottom: 17px;
  }
  // .battery__text
  &__text {
    max-width: 825px;
    margin: 0 auto 40px;
    span {
      font-weight: 700;
    }
  }
  // .battery__images
  &__images {
  }
  // .battery__img
  &__img {
    &:not(.hidden) {
      max-width: 400px;
      max-height: 365px;
      width: 100%;
      height: auto;
      object-fit: cover;
    }
  }
}
