.menu {
  // .menu__items
  &__items {
    display: flex;
    align-items: center;
    gap: 20px clampAd(15, 24);
  }
  // .menu__item
  &__item {
    &--mobile {
      display: none;
    }
  }
  // .menu__link
  &__link {
    font-size: 15px;
    line-height: 1.6;
    letter-spacing: 0.01em;
    color: #33383f;
    white-space: nowrap;
    transition: all 0.3s linear;

    @media (any-hover: hover) {
      &:hover {
        color: $color-dop-bg;
      }
    }

    &--active {
      color: $color-dop-bg;
      cursor: default;
    }
  }
}
