.outlets {
  @media (min-width: 767.98px) {
    display: flex;
    gap: 0 clampAd(30, 100);
  }
  // .outlets__content
  &__content {
    display: flex;

    @media (min-width: 767.98px) {
      flex: 0 0 100%;
      margin-bottom: 0;
    }
  }
  // .outlets__container
  &__container {
  }
  // .outlets__inner
  &__inner {
    height: 100%;
    padding: clampAd(45, 78) 10px clampAd(35, 47) 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: clampAd(12, 23);

    @media (min-width: 767.98px) {
      width: 50%;
    }
  }
  // .outlets__title
  &__title {
  }
  // .outlets__text
  &__text {
    line-height: 1.4;
  }
  // .outlets__btn
  &__btn {
    margin-top: auto;
  }
  // .outlets__image
  &__image {
    @media (min-width: 767.98px) {
      position: relative;
      flex: 0 0 calc(((100vw - ($containerPadding * 2)) * 0.5) + $containerPadding);
      transform: translateX(-100%);
      padding: 0px 0px 38.679% 0px;
    }

    @media (min-width: $maxWidthContainer) {
      flex: 0 0 calc(50vw - (0.5 - 0.5) * ($maxWidthContainer - ($containerPadding * 2)));
    }
  }
  // .outlets__img
  &__img {
    max-width: 100%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;

    @media (min-width: 767.98px) {
      position: absolute;
      top: 0;
      left: 0;
    }
  }
}
