@import "blocks/top";
@import "blocks/media-statistic";
@import "blocks/slider";
@import "blocks/progress";

@import "blocks/intro";
@import "blocks/company";
@import "blocks/statistic";
@import "blocks/reviews";
@import "blocks/promo";
