.about {
  // .about__container
  &__container {
  }
  // .about__items
  &__items {
    display: flex;
    flex-direction: column;
    row-gap: 90px;

    @include mobile {
      row-gap: 100px;
    }

    @include small-mobile {
      row-gap: 30px;
    }
  }
  // .about__item
  &__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;

    line-height: 1.625;

    &:nth-child(even) {
      flex-direction: row-reverse;

      @include mobile {
        flex-direction: column-reverse;
      }
    }

    @include mobile {
      flex-direction: column-reverse;
    }

    @include small-mobile {
      row-gap: 30px;
    }

    // .about__item--reverse
    &--reverse {
      flex-direction: row-reverse;

      @include mobile {
        flex-direction: column-reverse;
      }
    }
  }
  // .about__content
  &__content {
    max-width: 486px;
    width: 100%;

    display: flex;
    flex-direction: column;
    row-gap: 30px;

    @include mobile {
      max-width: 100%;
      row-gap: 16px;
    }
  }
  // .about__top
  &__top {
  }
  // .about__list
  &__list {
    display: flex;
    flex-direction: column;
    row-gap: clampAd(16, 25);
  }
  // .about__point
  &__point {
    display: flex;
    flex-direction: column;
    row-gap: 12px;

    // .about__point--icon
    &--icon {
      flex-direction: row;
      align-items: center;
      gap: 30px;

      &:before {
        content: "";
        flex: 0 0 35px;
        aspect-ratio: 1/1;
        border-radius: $radius-m;
        background-image: url("../../images/icons/check.svg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: 16px 12px;
        background-color: $color-accent;
      }
    }

    // .about__point--check-color-1
    &--check-color-1 {
      &:before {
        background-color: $color-multi-4;
      }
    }
    // .about__point--check-color-2
    &--check-color-2 {
      &:before {
        background-color: $color-multi-3;
      }
    }
    // .about__point--check-color-3
    &--check-color-3 {
      &:before {
        background-color: $color-multi-1;
      }
    }
  }

  // .about__point-name
  &__point-name {
    @include Poppins600;
  }
  // .about__point-text
  &__point-text {
  }
  // .about__image
  &__image {
    max-width: clampAd(349, 540);
    width: 100%;

    img {
      display: block;
      max-width: 100%;
      max-height: 100%;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }
}
