.blog {
  // .blog__container
  &__container {
    display: flex;
    flex-direction: column;
    row-gap: 32px;

    @include small-mobile {
      row-gap: 20px;
    }
  }
  // .blog__inner
  &__inner {
    & > .blog__top {
      margin-bottom: 40px;

      @include small-mobile {
        margin-bottom: 20px;
      }
    }
  }
  // .blog__top
  &__top {
    // .blog__top--small-width
    &--small-width {
      max-width: 430px;
    }
  }
  // .blog__slider
  &__slider {
    align-self: stretch;
    opacity: 0;
    visibility: hidden;
    transition: opacity 1s ease;

    &.swiper-initialized {
      opacity: 1;
      visibility: visible;
    }
  }
  // .blog__items
  &__items {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(348px, 1fr));
    grid-auto-flow: dense;
    gap: 32px;

    @include small-mobile {
      grid-template-columns: 1fr;
    }
  }
  // .blog__item
  &__item {
  }
  // .blog__btn
  &__btn {
    align-self: center;

    @include Poppins500;
    font-size: 18px;
    line-height: 1.4;
    text-transform: capitalize;

    display: flex;
    align-items: center;
    column-gap: 8px;

    transition: $transition;

    &::after {
      content: "";
      width: 20px;
      height: 20px;
      border-radius: $radius-circle;
      background: url(../../images/icons/arrow-circle-right.svg) center/contain no-repeat;
      transition: $transition;
    }

    @media (any-hover: hover) {
      &:hover:not(:disabled) {
        color: $color-accent;

        &::after {
          transform: rotate(180deg);
        }
      }
    }

    @include small-mobile {
      font-size: 14px;
    }
  }
}
