.clients-company {
  // .clients-company__container
  &__container {
    display: flex;
    flex-direction: column;
    row-gap: 50px;
  }
  // .clients-company__title
  &__title {
  }
  // .clients-company__items
  &__items {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 60px clampAd(40, 64);
  }
  // .clients-company__item
  &__item {
    max-width: clampAd(165, 215);
  }
  // .clients-company__image
  &__image {
    width: auto;
  }
  // .clients-company__img
  &__img {
    display: block;
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
}
