.clients {
  // .clients__container
  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: clampAd(32, 40);

    @include small-mobile {
      row-gap: 20px;
    }
  }
  // .clients__top
  &__top {
    max-width: 540px;
  }
  // .clients__items
  &__items {
    align-self: stretch;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(327px, 1fr));
    grid-auto-flow: dense;
    gap: clampAd(32, 64);

    @include small-mobile {
      grid-template-columns: 1fr;
      gap: 30px;
    }
  }
  // .clients__item
  &__item {
    padding: 28px 26px;
    background: $color-white;
    border: 1px solid $color-light-6;
    border-radius: $radius-xs;

    display: flex;
    flex-direction: column;
    row-gap: 16px;

    @include small-mobile {
      padding: 12px;
      row-gap: 10px;
    }
  }
  // .clients__raiting
  &__raiting {
  }
  // .clients__text
  &__text {
    color: $color-light-10;
    letter-spacing: 0.01em;
  }
  // .clients__user
  &__user {
    display: flex;
    align-items: center;
    gap: 14px;
  }
  // .clients__image
  &__image {
    width: 50px;
    height: 50px;
    border-radius: $radius-circle;
    overflow: hidden;
    border: 1px solid $color-light-7;
  }
  // .clients__img
  &__img {
    display: block;
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
  // .clients__info
  &__info {
    display: flex;
    flex-direction: column;
  }
  // .clients__name
  &__name {
    @include Poppins600;
    line-height: 1.5;
    letter-spacing: 0.01em;
    color: $color-accent;
    text-transform: capitalize;
  }
  // .clients__work
  &__work {
    @include Poppins500;
    font-size: 14px;
    letter-spacing: 0.01em;
    color: $color-dark-4;
  }
}
