.contacts {
  padding-top: clampAd(0, 55);

  // .contacts__container
  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 55px;

    @include mobile {
      row-gap: 100px;
    }

    @include small-mobile {
      row-gap: 30px;
    }
  }
  // .contacts__top
  &__top {
    max-width: 332px;
  }
  // .contacts__soc1als
  &__soc1als {
    @include mobile {
      margin-top: -50px;
    }
  }
  // .contacts__map
  &__map {
    max-width: 100%;
    width: 100%;

    &:has(iframe) {
      height: 320px;

      @include small-mobile {
        height: 150px;
      }
    }

    iframe {
      width: 100%;
      height: 100%;
    }
  }
  // .contacts__form
  &__form {
    max-width: 890px;
  }
}
