.enterprice {
  padding: clampAd(45, 50) 0;
  background: $color-gradient-1;

  // .enterprice__container
  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    row-gap: 32px;
  }
  // .enterprice__top
  &__top {
  }
  // .enterprice__btn
  &__btn {
  }
}
