.price {
  // .price__container
  &__container {
    display: flex;
    flex-direction: column;
    row-gap: 40px;

    @include mobile {
      row-gap: 74px;
    }
  }
  // .price__top
  &__top {
  }
  // .price__items
  &__items {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(322px, 1fr));
    grid-auto-flow: dense;
    gap: clampAd(32, 72);

    @include mobile {
      grid-template-columns: 1fr;
      padding: 0 13px;
    }
  }
  // .price__item
  &__item {
    padding: clampAd(24, 32) 72px 32px;
    background: $color-white;
    box-shadow: $shadow-4;
    border-radius: $radius-s;

    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    color: $color-dark-1;

    @include small-mobile {
      padding: 20px;
    }

    // .price__item--accent
    &--accent {
      background: $color-accent;
      color: $color-white;

      .price__num {
        color: $color-white;

        &--month {
          span {
            &::after {
              color: $color-light-5;
            }
          }
        }
      }
      .price__list {
        color: $color-white;
      }
    }
  }
  // .price__name
  &__name {
    @include Poppins700;
    font-size: 24px;
    line-height: 1.6;
    margin-bottom: 8px;

    @include small-mobile {
      font-size: 18px;
    }
  }
  // .price__text
  &__text {
    @include Poppins400;
    line-height: 2.5;
    margin-bottom: 16px;

    @include small-mobile {
      margin-bottom: 10px;
    }
  }
  // .price__num
  &__num {
    @include Poppins700;
    font-size: 76px;
    line-height: 1.3;
    color: $color-accent;

    @include small-mobile {
      font-size: 50px;
    }

    display: flex;
    align-items: center;
    text-align: center;
    column-gap: 7px;

    margin-bottom: 16px;

    span {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      row-gap: 4px;
    }

    // .price__num--month
    &--month {
      span {
        &::after {
          content: "Per / month";
          @include Poppins400;
          font-size: 16px;
          line-height: 1.18;
          letter-spacing: 0.01em;
          white-space: nowrap;
          color: $color-light-4;

          @include small-mobile {
            font-size: 12px;
          }
        }
      }
    }

    // .price__num--dollar
    &--dollar {
      span {
        &::before {
          content: "$";
          font-size: 24px;
          line-height: 1.25;
          color: currentColor;

          @include small-mobile {
            font-size: 16px;
          }
        }
      }
    }
  }
  // .price__list
  &__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    row-gap: 16px;

    margin-bottom: 30px;

    @include small-mobile {
      row-gap: 10px;
      margin-bottom: 20px;
    }
  }
  // .price__point
  &__point {
    @include Poppins500;
    line-height: 1.3;
    letter-spacing: 0.01em;
  }
  // .price__btn
  &__btn {
    padding: 11px 18px;
    @include Poppins600;
    margin-top: auto;
  }
}
