.slider {
  // .slider__items
  &__items {
    row-gap: 16px;
  }
  // .slider__item
  &__item {
    border-radius: $radius-s;
    background: $color-white;
    color: $color-dark-1;

    height: auto;
  }
  // .slider__pagination
  &__pagination {
    margin-top: 45px;
  }
}
