.user {
  // .user__container
  &__container {
    display: flex;
    flex-direction: column;
    row-gap: clampAd(32, 56);
  }
  // .user__top
  &__top {
  }
  // .user__content
  &__content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 32px clampAd(32, 60);

    @include mobile {
      grid-template-columns: 1fr;
    }

    @include small-mobile {
      gap: 24px;
    }
  }
  // .user__list
  &__list {
    display: flex;
    flex-direction: column;
    row-gap: clampAd(24, 32);
  }
  // .user__point
  &__point {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 16px;

    &::before {
      content: "";
      flex: 0 0 50px;
      aspect-ratio: 1/1;
      border-radius: $radius-circle;

      background: $color-light-11;
      background-position: center;
      background-repeat: no-repeat;
      background-size: 24px;
    }

    @include small-mobile {
      gap: 10px;

      &::before {
        flex: 0 0 32px;
        background-size: 16px;
      }
    }

    // .user__point--enterpreneur
    &--enterpreneur {
      &::before {
        background-image: url(../../images/icons/enterpreneur.svg);
      }
    }
    // .user__point--accountants
    &--accountants {
      &::before {
        background-image: url(../../images/icons/accountants.svg);
      }
    }
    // .user__point--universities
    &--universities {
      &::before {
        background-image: url(../../images/icons/universities.svg);
      }
    }
  }
  // .user__point-name
  &__point-name {
  }
  // .user__point-text
  &__point-text {
    flex: 0 0 100%;
  }
  // .user__image
  &__image {
    img {
      display: block;
      max-width: 100%;
      max-height: 100%;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }
}
