.work {
  // .work__container
  &__container {
    display: flex;
    flex-direction: column;
    row-gap: 73px;

    @include small-mobile {
      row-gap: 30px;
    }
  }
  // .work__top
  &__top {
  }
  // .work__items
  &__items {
    display: flex;
    flex-direction: column;
    row-gap: clampAd(70, 100);

    counter-reset: num;

    @include small-mobile {
      row-gap: 30px;
    }
  }
  // .work__item
  &__item {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    gap: 80px;

    &:nth-child(odd) {
      flex-direction: row-reverse;
    }

    @include mobile {
      flex-direction: column;

      &:nth-child(odd) {
        flex-direction: column;
      }
    }
  }
  // .work__content
  &__content {
    max-width: 440px;
    width: 100%;

    display: flex;
    flex-direction: column;
    row-gap: 16px;

    &::before {
      content: "STEP " counter(num);
      counter-increment: num;

      @include Poppins500;
      font-size: 20px;
      line-height: 1;
      text-transform: uppercase;

      @include small-mobile {
        font-size: 16px;
      }
    }

    @include mobile {
      max-width: 100%;
    }
  }
  // .work__name
  &__name {
  }
  // .work__text
  &__text {
  }
  // .work__image
  &__image {
    max-width: 500px;
    width: 100%;
  }
  // .work__img
  &__img {
    display: block;
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
  // .work__btn
  &__btn {
    align-self: center;
    padding: 11px 18px;
  }
}
