<footer class="footer">
  <div class="footer__container">
    <div class="footer__top">
      <a class="footer__logo logo logo--big" href="#" aria-label="logo company QWERy" title="logo company QWERy">
        <img class="logo__img" src="images/logo.svg" alt="logo" loading="lazy" width="173" height="65">
      </a>
      <div class="footer__dop">
        <span class="footer__text">
          Ready to&nbsp;explore?
        </span>
        <a class="footer__btn" href="#">
          Get started
        </a>
      </div>
    </div>
    <div class="footer__content">
      <div class="footer__items">
        <div class="footer__item">
          <p class="footer__info">
            Let&rsquo;s go&nbsp;on&nbsp;vacation, Make your day
          </p>
          <form class="footer__form" action="#" autocomplete="off">
            <label class="hidden" for="email">Enter your E-mail address</label>
            <input class="footer__input" id="email" type="email" placeholder="Email address">
            <button class="footer__button" type="submit">
              <svg width="28" height="28" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M10.1021 19.2831L15.3852 14L10.1021 8.71688L11.7325 7.08643L18.6461 14L11.7325 20.9136L10.1021 19.2831Z" />
              </svg>
            </button>
          </form>
        </div>
        <nav class="footer__nav">
          <div class="footer__item">
            <div class="footer__name">
              Services
            </div>
            <ul class="footer__list">
              <li class="footer__point">
                <a class="footer__link" href="#">
                  Email Marketing
                </a>
              </li>
              <li class="footer__point">
                <a class="footer__link" href="#">
                  Campaigns
                </a>
              </li>
              <li class="footer__point">
                <a class="footer__link" href="#">
                  Branding
                </a>
              </li>
              <li class="footer__point">
                <a class="footer__link" href="#">
                  Offline
                </a>
              </li>
            </ul>
          </div>
          <div class="footer__item">
            <div class="footer__name">
              About
            </div>
            <ul class="footer__list">
              <li class="footer__point">
                <a class="footer__link" href="#">
                  Our Story
                </a>
              </li>
              <li class="footer__point">
                <a class="footer__link" href="#">
                  Benefits
                </a>
              </li>
              <li class="footer__point">
                <a class="footer__link" href="#">
                  Team
                </a>
              </li>
              <li class="footer__point">
                <a class="footer__link" href="#">
                  Careers
                </a>
              </li>
            </ul>
          </div>
          <div class="footer__item">
            <div class="footer__name">
              Help
            </div>
            <ul class="footer__list">
              <li class="footer__point">
                <a class="footer__link" href="#">
                  FAQs
                </a>
              </li>
              <li class="footer__point">
                <a class="footer__link" href="#">
                  Contact Us
                </a>
              </li>
            </ul>
          </div>
        </nav>
      </div>
    </div>
    <div class="footer__bottom">
      <ul class="footer__actions">
        <li class="footer__action">
          <a class="footer__action-link" href="#">
            Terms &amp;&nbsp;Conditions
          </a>
        </li>
        <li class="footer__action">
          <a class="footer__action-link" href="#">
            Privacy Policy
          </a>
        </li>
      </ul>
      <div class="footer__socials socials socials--line">
        <ul class="socials__items">
          <li class="socials__item">
            <a class="socials__link" href="#" aria-label="go to instagram" title="go to instagram">
              <svg width="24" height="24" fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                <path
                  d="M7.8 2h8.4A5.8 5.8 0 0122 7.8v8.4a5.8 5.8 0 01-5.8 5.8H7.8A5.8 5.8 0 012 16.2V7.8A5.8 5.8 0 017.8 2zm-.2 2A3.6 3.6 0 004 7.6v8.8A3.6 3.6 0 007.6 20h8.8a3.6 3.6 0 003.6-3.6V7.6A3.6 3.6 0 0016.4 4H7.6zm9.65 1.5a1.25 1.25 0 110 2.5 1.25 1.25 0 010-2.5zM12 7a5 5 0 110 10 5 5 0 010-10zm0 2a3 3 0 100 6 3 3 0 000-6z" />
              </svg>
            </a>
          </li>
          <li class="socials__item">
            <a class="socials__link" href="#" aria-label="go to twitter" title="go to twitter">
              <svg width="24" height="24" fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                <path
                  d="M22.918 6.012a8.58 8.58 0 01-2.464.676 4.305 4.305 0 001.886-2.374 8.591 8.591 0 01-2.725 1.041 4.292 4.292 0 00-7.313 3.914 12.184 12.184 0 01-8.846-4.483 4.271 4.271 0 00-.58 2.157 4.29 4.29 0 001.908 3.572 4.276 4.276 0 01-1.943-.537v.054a4.295 4.295 0 003.442 4.209 4.296 4.296 0 01-1.938.073 4.296 4.296 0 004.009 2.98 8.61 8.61 0 01-5.33 1.838c-.347 0-.688-.02-1.024-.06A12.147 12.147 0 008.579 21c7.894 0 12.21-6.54 12.21-12.21 0-.187-.004-.372-.012-.556a8.719 8.719 0 002.141-2.222z" />
              </svg>
            </a>
          </li>
          <li class="socials__item">
            <a class="socials__link" href="#" aria-label="go to facebook" title="go to facebook">
              <svg width="24" height="24" fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                <path
                  d="M14.992 5.819H17V2.162C16.654 2.112 15.462 2 14.074 2 11.18 2 9.195 3.904 9.195 7.404v3.221H6v4.088h3.195V25h3.918V14.714h3.066l.486-4.088h-3.553V7.809c0-1.181.305-1.99 1.88-1.99z" />
              </svg>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
</div>
<script src="js/script.min.js" defer></script>
</body>

</html>