<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scable=0" />
  <meta name="description" content="">
  <meta name="keywords" content="">
  <link rel="icon" type="image/icon" href="favicon.ico" sizes="16x16">
  <link rel="icon" type="image/icon" href="favicon.ico" sizes="32x32">
  <link rel="icon" type="image/icon" href="favicon.ico" sizes="64x64">
  <link rel="icon" type="image/svg+xml" href="images/favicons/favicon.svg">
  <link rel="apple-touch-icon" href="images/favicons/appeal-touch-icon.png">
  <link rel="stylesheet" href="css/style.min.css" />
  <title>QWERy</title>
</head>

<body>
  <div class="wrapper">
    <header class="header" id="header">
      <div class="header__container">
        <a class="header__logo logo" href="#" aria-label="logo company QWERy" title="logo company QWERy">
          <img class="logo__img" src="images/logo.svg" alt="logo" loading="lazy" width="96" height="32">
        </a>
        <nav class="header__menu menu">
          <ul class="menu__items">
            <li class="menu__item">
              <a class="menu__link" href="#">Information</a>
            </li>
            <li class="menu__item">
              <a class="menu__link" href="#">About&nbsp;us</a>
            </li>
            <li class="menu__item">
              <a class="menu__link" href="#">Culture</a>
            </li>
          </ul>
        </nav>
        <search class="header__search search">
          <form class="search__form" action="#" autocomplete="off">
            <label class="search__label" for="search">
              <svg width="20" height="20" fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                <path
                  d="M15.564 16.34l-4.762-4.764a5 5 0 111.179-1.18l4.762 4.764-1.178 1.178-.001.001zM7.904 4.166a3.333 3.333 0 102.43 1.053l.505.5-.568-.567-.01-.01a3.31 3.31 0 00-2.357-.976z" />
              </svg>
            </label>
            <input class="search__input" id="search" type="search" placeholder="search" autocomplete="off">
          </form>
        </search>
        <button class="header__burger" type="button" aria-label="menu" title="menu">
          <span></span>
          <span></span>
          <span></span>
        </button>
      </div>
    </header>