@import "components/_mixin";
@import "components/_resetStyle";
@import "components/_fonts";
@import "../../node_modules/slick-carousel/slick/slick";
@import "../../node_modules/@fancyapps/fancybox/dist/jquery.fancybox";

//Страница
$widthReportMax: 1920;
$widthReportMin: 320;
$maxWidthContainer: 1230px; //максимальная ширина контейнера + padding left + padding right
$containerPadding: 15px; //внутринние отступы в контейнере

//Шрифт
$fontFamily: "Inter", sans-serif;
$mainColor: #1b1b1b; //основной цвет шрифта
$mainBackGround: #ffffff; //основной цвет фона
$white: #ffffff;
$black: #000000;
$mainSize: 14;
$size: $mainSize + px;
$lineheight: calc(17 / $mainSize);
$fontWeight: 400;

$color-accent: #7449bb;
$color-accent-bg: #c4a9cd;

//Контейнер
[class*="__container"] {
  max-width: $maxWidthContainer;
  margin: 0 auto;
  padding: 0 $containerPadding;
}

//Бургер меню
[class*="__burger"] {
  display: none;
  flex-direction: column;
  row-gap: 4px;
  cursor: pointer;

  span {
    width: 24px;
    height: 3px;
    border-radius: 5px;
    background: #ffffff;
    transition: all 0.3s linear;
  }
}

/*Для контейнера картинок в карточках - технический класс*/
[class*="__ibg"] {
  position: relative;
  /*Для самих картинок в карточках технический класс*/
  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

body {
  font-family: $fontFamily;
  background-color: $mainBackGround;
  color: $mainColor;
  font-size: clamp(
    12px,
    calc(12px + ($mainSize - 12) * ((100vw - 320px) / ($widthReportMax - $widthReportMin))),
    $size
  );
  line-height: $lineheight;
  font-weight: $fontWeight;

  &.lock {
    overflow: hidden;
  }

  a:focus,
  input:focus,
  button:focus {
    outline: 1px solid $color-accent;
  }
}

.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main {
  flex: 1 1 auto;

  &__section {
    margin-bottom: clamp(
      50px,
      calc(50px + (150 - 50) * ((100vw - 320px) / ($widthReportMax - $widthReportMin))),
      150px
    );
  }
}

@import "module/_btn";
@import "module/_logo";
@import "module/_menu";
@import "module/_header";
@import "module/_form";
@import "module/_intro";
@import "module/_about";
@import "module/_info";
@import "module/_description";
@import "module/_product";
@import "module/_promo";
@import "module/_footer";
@import "module/_accardeon";
@import "components/_adaptive";
