.secrets {
    position: relative;
    background: url(../images/main/secrets/bg.jpg) center/cover no-repeat;

    // .secrets__container
    &__container {
        max-width: 1277px;
        padding: 127px 15px;
    }

    // .secrets__inner
    &__inner {
        min-height: 200vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    // .secrets__title
    &__title {
        color: #010a20;
        margin-bottom: 45px;
        text-align: center;
    }
    // .secrets__items
    &__items {
        display: flex;
        margin: 0 -15px;
    }
    // .secrets__item
    &__item {
        padding: 0 15px;
    }
    // .secrets__img
    &__img {
        border-radius: 10px;
        max-width: 405px;
        height: 257px;
        width: 100%;
        margin: 0 auto;
    }
    // .secrets__bottom
    &__bottom {
        width: 100%;
    }

    .slick-dots {
        position: absolute;
        bottom: -28px;
        left: 50%;
        transform: translateX(-50%);
        display: flex;

        li {
            &:not(:last-child) {
                margin-right: 16px;
            }
        }

        button {
            width: 19px;
            height: 19px;
            border-radius: 50%;
            background: #85a3b2;
            font-size: 0;
            line-height: 1;
        }
    }

    .slick-active {
        button {
            width: 50px;
            height: 19px;
            background: #ff8c00;
            border-radius: 60px;
        }
    }
}

.numbers {
    padding: 200px 15px 220px;
    color: #ffffff;
    background: rgba(2, 12, 33, 0.9);

    // .numbers__content
    &__container {
        max-width: 1280px;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        flex-wrap: wrap;
    }
    // .numbers__name
    &__name {
        font-weight: 700;
        font-size: 60px;
        line-height: 1.5;
        margin-bottom: 36px;
        text-transform: capitalize;
    }
    // .numbers__text
    &__text {
        letter-spacing: 0.5px;
        color: #e0e0e0;
        max-width: 685px;
        margin-bottom: 40px;
    }
    // .numbers__items
    &__items {
        display: flex;
        flex-wrap: wrap;
        row-gap: 50px;
        margin: 0 -45px;
    }
    // .numbers__item
    &__item {
        padding: 0 45px;
        flex: 0 0 33.33%;
    }
    // .numbers__content
    &__content {
        max-width: 377px;
    }
    // .numbers__num
    &__num {
        font-weight: 700;
        font-size: 42px;
        line-height: 1.17;
        text-align: center;
        letter-spacing: 0.3px;
        color: #ff8c00;
        margin-bottom: 18px;
    }
    // .numbers__info
    &__info {
        text-align: center;
        letter-spacing: 0.5px;
        color: #e0e0e0;
    }
}

.button {
    width: 15px;
    height: 24px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

    &--prev {
        top: 50%;
        left: -78px;
    }

    &--next {
        right: -78px;
    }
}
