.btn {
  min-width: clampAd(140, 300);
  display: flex;
  justify-content: center;
  align-items: center;
  @include Helvetica700;
  font-size: clampAd(12, 16);
  text-transform: uppercase;
  text-align: center;
  color: $white;
  padding: clampAd(10, 21);
  background: $color-gradient;
  transition: all 0.3s linear;

  @media (any-hover: hover) {
    &:hover {
      opacity: 0.8;
    }
  }
}
