.btn {
  padding: clampAd(10, 14) clampAd(20, 30);
  border-radius: $radius;
  border: 2px solid $color-border-1;
  background: transparent;

  user-select: none;
  white-space: nowrap;

  display: flex;
  justify-content: center;
  align-items: center;

  font-weight: 700;
  font-size: clampAd(12, 15);
  line-height: 1.3;
  text-align: center;
  color: $color-black;

  transition: all 0.3s linear;

  @media (any-hover: hover) {
    &:hover:not(:disabled) {
      background: $color-accent-2;
    }
  }

  // .btn--background
  &--background {
    background: $color-accent-1;
    border-color: $color-accent-1;

    font-size: clampAd(12, 14);
    line-height: 1.4;
    color: $color-white;
  }
}
