[class*="__burger"] {
  display: none;
  flex-direction: column;
  row-gap: 4px;
  cursor: pointer;

  span {
    width: 30px;
    height: 4px;
    background: $color-dark-1;
    transition: all 0.3s linear;
  }

  &.header__burger--active {
    span {
      &:nth-child(1) {
        opacity: 0;
      }
      &:nth-child(2) {
        transform: rotate(45deg);
      }
      &:nth-child(3) {
        transform: rotate(-45deg) translateY(-5px) translateX(5px);
      }
    }
  }
}
