.logo {
  width: clampAd(120, 140);

  // .logo--big
  &--big {
    width: clampAd(120, 150);
  }

  img {
    display: block;
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
}
