.main-title {
  font-weight: 700;
  font-size: clampAd(40, 110);
  line-height: calc(119 / 110);
  text-align: center;
}

.title {
  font-weight: 700;
  font-size: clampAd(24, 53);
  line-height: 1.16;

  &--small {
    font-size: clampAd(18, 40);
    line-height: 1.35;
    color: $color-dark-3;
  }
}
