.sustainability {
  padding: clampAd(10, 180) 0 clampAd(60, 180);
  // .sustainability__container
  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    row-gap: clampAd(30, 60);
  }
  // .sustainability__text
  &__text {
    max-width: 893px;
    font-size: clampAd(20, 54);
    line-height: 1.2;
  }
  // .sustainability__btn
  &__btn {
  }
}
